Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftlint_custom, check_xcstrings, check_yaml_definitions_avatars, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_definitions_robot_assets, check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

Path conditions:
  swiftlint_custom: any of: \.swift$
  check_xcstrings: any of: .*\.xcstrings
  check_yaml_definitions_avatars: any of: avatars.yml
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_definitions_robot_assets: any of: robot_assets.yml
  check_yaml_definitions_tags: any of: tags.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums_unique_uuid: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_stories: any of: .*\.story\.yml and \.(yaml|yml)$
  check_yaml_content_stories_unique_uuid: any of: .*\.story\.yml and \.(yaml|yml)$

WIP - test macos latest
  .github/workflows/ci-linter-pre_commit_hooks.yml
Due: none

📌 (pre-commit): Upgrade swiftformat, swiftlint
  .pre-commit-config.yaml
Due: none

➕ (BLEKit): Add Version dependency
  Modules/BLEKit/Project.swift
Due: swiftlint_custom

🔥 (tuist): Remove Plugins directory
  Plugins/ios-monorepo/Package.swift
  Plugins/ios-monorepo/Plugin.swift
  Plugins/ios-monorepo/ProjectDescriptionHelpers/LocalHelper.swift
  Plugins/ios-monorepo/Sources/tuist-my-cli/main.swift
  Tuist/Config.swift
Due: swiftlint_custom

⬆️ (packages): Upgrade Firebase to v11.2.0
  Tuist/Package.resolved
  Tuist/Package.swift
Due: swiftlint_custom

🔥 (ci): Remove system upgrade workflow
  .github/workflows/ci-system-upgrade_tools_and_clean.yml
Due: none

👷 (fastlane): Remove bundler upgrade step
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

👷 (fastlane): Remove unneeded TUIST env
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

👷 (fastlane): Generate project using --no-binary-cache
  fastlane/Fastfile
Due: none

🧑‍💻 (tuist): Do not generate l10n schemes unless specified
  Tuist/ProjectDescriptionHelpers/Scheme+l10n.swift
Due: swiftlint_custom

🧑‍💻 (tuist): Do not generate example targets unless specified
  Tuist/ProjectDescriptionHelpers/Project+Module.swift
Due: swiftlint_custom

🔨 (fastlane): Set tuist generate frameworks, l10n schemes, examples to false
  fastlane/Fastfile
Due: none

🧑‍💻 (tuist): Do not generate example apps, modules unless specified
  Workspace.swift
Due: swiftlint_custom

👷 (workflows): Turn of lfs checkout when not needed
  .github/workflows/ci-linter-license_checker.yml
  .github/workflows/ci-linter-pre_commit_hooks.yml
  .github/workflows/ci-linter-swiftformat.yml
  .github/workflows/ci-linter-swiftlint.yml
  .github/workflows/ci-tuist-build.yml
Due: none

⬆️ (bundle): Bundle upgrade dependencies
  Gemfile.lock
Due: none

🍱 (curriculums): Add Super Simon
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/super_simon-C6EABAC161CD44C290B32202DFDCDAF6/super_simon-C6EABAC161CD44C290B32202DFDCDAF6.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/super_simon-C6EABAC161CD44C290B32202DFDCDAF6/super_simon.curriculum.icon.png
Due: check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

🍱 (curriculums): Fix recognitions, categorization icons
  Modules/ContentKit/Resources/Content/curriculums/curriculum_categorization_sort_through-88C512E99B61485D93A7AD8C34ED6A76/categorization_sort_through.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_categorization_sort_through_functional_category-64388748AF714B4880B8C7B6DD6D93F3/categorization_sort_through_functional_category.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/recognition_professions_touch.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/recognition_sports_touch.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/recognition_public_places_drag.curriculum.icon.png
Due: none

💚 (fastlane): Run bundle install on setup
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

🍱 (curriculums): Add sort sweet, salty food
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/bread.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/cheese.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/chicken_roast.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/chocolate_bar.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/cookie.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/croissant.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/donut.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/drop_zone_salty.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/drop_zone_sweet.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/hamburger.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/honey.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/ice_corner_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/jam_strawberry.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/leek.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/pepper.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/soup.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/waffles.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/icons/sort_sweet_and_salty_food.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_1_zone_1_choice-FC67913DF57E4CA9896BDAA6EA3AC2F2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_1_zone_2_choices-500B42D356C14D59AA2A77C9E1F1537A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_2_zones_2_choices-A6325A93AF194ACAAF3744793E5EBD3D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_2_zones_4_choices-94EB65070737436AB76591B5FFE2BE92.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/sort_sweet_and_salty_food.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

🍱 (ContentKit): Update story icons
  Modules/ContentKit/Resources/Content/stories/icons/first_day_of_school.story.icon.png
  Modules/ContentKit/Resources/Content/stories/icons/hanna_at_the_beach.story.icon.png
  Modules/ContentKit/Resources/Content/stories/icons/hanna_dances_with_leka.story.icon.png
  Modules/ContentKit/Resources/Content/stories/icons/hanna_makes_pancakes.story.icon.png
  Modules/ContentKit/Resources/Content/stories/icons/hanna_meets_leka.story.icon.png
  Modules/ContentKit/Resources/Content/stories/icons/hanna_plays_music.story.icon.png
Due: none

💄 (ContentKit): Update story icon shape
  Modules/ContentKit/Sources/Views/StoryDetailsView.swift
  Modules/ContentKit/Sources/Views/StoryGridView.swift
Due: swiftlint_custom

♻️ (LekaApp): Use correct story section icon
  Apps/LekaApp/Sources/Views/Categories/CategoryStoriesView.swift
Due: swiftlint_custom

🧑‍💻 (hooks): Add assets duplication check
  .pre-commit-config.yaml
  Tools/Hooks/check_yaml_content_activities_assets.py
Due: none

🍱 (assets): Rename duplicated assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/chicken_roast_sweet_and_salty.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/assets/cookie_sweet_and_salty.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_1_zone_1_choice-FC67913DF57E4CA9896BDAA6EA3AC2F2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_1_zone_2_choices-500B42D356C14D59AA2A77C9E1F1537A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_2_zones_2_choices-A6325A93AF194ACAAF3744793E5EBD3D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/activities/sort_sweet_and_salty_2_zones_4_choices-94EB65070737436AB76591B5FFE2BE92.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

📝 (LekaUpdater): Update LekaOS-2-0-0 what's new md
  Apps/LekaUpdater/Resources/LekaOS-1.4.0-en.md
  Apps/LekaUpdater/Resources/LekaOS-1.4.0-fr.md
  Apps/LekaUpdater/Resources/LekaOS-2.0.0-en.md
  Apps/LekaUpdater/Resources/LekaOS-2.0.0-fr.md
Due: none

🔖 (LekaUpdater): Add new LekaOS 2.0.0 firmware
  Apps/LekaUpdater/Resources/LekaOS-1.4.0.bin
  Apps/LekaUpdater/Resources/LekaOS-2.0.0.bin
  Modules/RobotKit/Sources/Robot.swift
Due: swiftlint_custom

📝 (Fastlane): Update release notes for V2.0.0
  fastlane/release/LekaUpdater/metadata/en-US/release_notes.txt
  fastlane/release/LekaUpdater/metadata/fr-FR/release_notes.txt
Due: none

✨ (LekaApp): Edit caregiver through caregiver section
  Apps/LekaApp/Sources/Views/Users/Caregiver/CaregiverView.swift
Due: swiftlint_custom

✨ (GEK): Add GameplayAssociateCategories & Choice
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayAssociateCategories.swift
Due: swiftlint_custom

✨ (GEK): Add TTSCoordinator+AssociateCategories
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSCoordinator+AssociateCategories.swift
Due: swiftlint_custom

✨ (GEK): Update ContentView with new ex AssociateCategory
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
Due: swiftlint_custom

:bento: curriculum change assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_baby.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_daughter.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_father.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_grandfather.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_grandmother.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_mother.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/assets/family_member_son.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/recognition_recognition_family_members_2-CD589A3DA58A4E738D37B8878F0BA107.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/recognition_recognition_family_members_4-A7611096717E43938D51A7FED5A0EE4E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/activities/recognition_recognition_family_members_6-B8FA6D153A764A29811D5B606956CA44.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

✨ (GEK): Add DND Coordinator + ChoiceModel & ChoiceState
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DND+Gameplays/DNDCoordinator+AssociateCategories.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DND+Gameplays/DNDGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DNDChoice.swift
Due: swiftlint_custom

✨ (GEK): Add SpriteKit-based UI, scene + nodes
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DND+SpriteKit/DNDAnswerNode.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DND+SpriteKit/DNDBaseScene.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DND+SpriteKit/DNDView_SixChoicesScene.swift
Due: swiftlint_custom

✨ (GEK): Add DNDView and DNDViewViewModel
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DNDView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/DND/DNDViewViewModel.swift
Due: swiftlint_custom

✨ (GEK): Update ContentView with new DND activity
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
Due: swiftlint_custom

👷 (release): Run release workflows on tartelet release vm
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none
