Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

check_xcstrings_stale_entries:
  name: Check .xcstrings files for stale entries
  description: This hook checks .xcstrings files for stale entries
  entry: python3 Tools/Hooks/check_xcstrings_stale_entries.py
  language: python
  additional_dependencies:
  - pygments

check_xcstrings_unusual_terminators:
  name: Check .xcstrings files for unusual terminators
  description: This hook checks .xcstrings files for unusual terminators
  entry: python3 Tools/Hooks/check_xcstrings_unusual_terminators.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

✨ (LekaApp): Add reinforcers to arrow gamepad
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+ArrowPadColorPad.swift
Due: none

🔖 (LekaApp): Add release notes for v1.0.0
  fastlane/release/LekaApp/metadata/app_rating_config.json
  fastlane/release/LekaApp/metadata/copyright.txt
  fastlane/release/LekaApp/metadata/default/apple_tv_privacy_policy.txt
  fastlane/release/LekaApp/metadata/default/keywords.txt
  fastlane/release/LekaApp/metadata/default/marketing_url.txt
  fastlane/release/LekaApp/metadata/default/privacy_url.txt
  fastlane/release/LekaApp/metadata/default/support_url.txt
  fastlane/release/LekaApp/metadata/en-US/description.txt
  fastlane/release/LekaApp/metadata/en-US/name.txt
  fastlane/release/LekaApp/metadata/en-US/promotional_text.txt
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/en-US/subtitle.txt
  fastlane/release/LekaApp/metadata/fr-FR/description.txt
  fastlane/release/LekaApp/metadata/fr-FR/name.txt
  fastlane/release/LekaApp/metadata/fr-FR/promotional_text.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/subtitle.txt
  fastlane/release/LekaApp/metadata/primary_category.txt
  fastlane/release/LekaApp/metadata/primary_first_sub_category.txt
  fastlane/release/LekaApp/metadata/primary_second_sub_category.txt
  fastlane/release/LekaApp/metadata/review_information/demo_password.txt
  fastlane/release/LekaApp/metadata/review_information/demo_user.txt
  fastlane/release/LekaApp/metadata/review_information/email_address.txt
  fastlane/release/LekaApp/metadata/review_information/first_name.txt
  fastlane/release/LekaApp/metadata/review_information/last_name.txt
  fastlane/release/LekaApp/metadata/review_information/notes.txt
  fastlane/release/LekaApp/metadata/review_information/phone_number.txt
  fastlane/release/LekaApp/metadata/secondary_category.txt
  fastlane/release/LekaApp/metadata/secondary_first_sub_category.txt
  fastlane/release/LekaApp/metadata/secondary_second_sub_category.txt
  fastlane/release/LekaApp/screenshots/.gitkeep
Due: none

🚧 (TO REMOVE): Use tesflight database while we still work on the app
  Apps/LekaApp/Sources/MainApp.swift
Due: none

✨ (LekaApp): Add launchscreen with logo & progressView
  Apps/LekaApp/Resources/LaunchScreen.storyboard
  Apps/LekaApp/Sources/MainApp.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers.swift
Due: none

🐛 (LekaApp): Move inactivity check after FB listeners publish
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
Due: none

🌐 (LekaApp): Fix missing needs review localization
  Apps/LekaApp/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (LekaApp): Replace LaunchScreen with logo+ProgressView
  Apps/LekaApp/Resources/LaunchScreen.storyboard
  Apps/LekaApp/Sources/MainApp.swift
Due: none

🚸 (LekaApp x AccountKit): Allow multiple carereceivers selection
  Apps/LekaApp/Sources/Navigation/Navigation.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryActivitiesView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryCurriculumsView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryGamepadsView.swift
  Apps/LekaApp/Sources/Views/DeveloperMode/AllActivitiesView.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/Views/Users/CareReceiver/CarereceiverPicker.swift
  Modules/AccountKit/Sources/Managers/CarereceiverManager.swift
  Modules/AccountKit/Sources/Managers/CarereceiverManagerViewModel.swift
Due: none

♻️ (AccountKit): Rename Database Collections to all-caps
  Modules/AccountKit/Sources/Database/DatabaseCollections.swift
Due: none

♻️ (AccountKit): Rename profiles' id field to uuid
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver+Init.swift
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver+Mock.swift
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver.swift
  Modules/AccountKit/Sources/Models/CarereceiverModel/Carereceiver+Mock.swift
  Modules/AccountKit/Sources/Models/CarereceiverModel/Carereceiver+init.swift
  Modules/AccountKit/Sources/Models/CarereceiverModel/Carereceiver.swift
  Modules/AccountKit/Sources/Models/RootAccount/RootAccount+AccountDocumentProtocol.swift
  Modules/AccountKit/Sources/Models/RootAccount/RootAccount+Init.swift
Due: none

♻️ (AccountKit): Use 'id' arg in init + refactor
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver+Init.swift
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver+Mock.swift
  Modules/AccountKit/Sources/Models/CarereceiverModel/Carereceiver+Mock.swift
  Modules/AccountKit/Sources/Models/CarereceiverModel/Carereceiver+init.swift
  Modules/AccountKit/Sources/Models/RootAccount/RootAccount+Init.swift
Due: none

✨ (LekaApp): Add ScrollViewReader to scroll to top on SignOut
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
Due: none

✨ (LekaApp): Add ForgotPassword Button + Alert to ConnectionView
  Apps/LekaApp/Sources/Views/ConnectionView.swift
Due: none

🌐 (LekaApp): Add l10n to ConnectionView forgotPassword Alert
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/ConnectionView+l10n.swift
  Apps/LekaApp/Sources/Views/ConnectionView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (LekaApp): Add ForgotPassword Button + Alert to ReAuthView
  Apps/LekaApp/Sources/Views/ReAuthenticationView.swift
Due: none

🌐 (LekaApp): Add l10n to ReAuthView forgotPassword Alert
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/ReAuthenticationView+l10n.swift
  Apps/LekaApp/Sources/Views/ReAuthenticationView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (AccountKit): Add Publisher+LoadingState extension
  Modules/AccountKit/Sources/Extensions/Publisher+LoadingState.swift
Due: none

✨ (AccountKit): Add isLoading publ. to CgManager + use extension
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
  Modules/AccountKit/Sources/Managers/CaregiverManagerViewModel.swift
Due: none

♻️ (LekaApp): Rename loading modifier to loadingIndicator
  Apps/LekaApp/Sources/Views/AccountCreation/AccountCreationView.swift
  Apps/LekaApp/Sources/Views/ConnectionView.swift
  Apps/LekaApp/Sources/Views/Modifiers/LoadingModifier.swift
Due: none

✨ (LekaApp): Add CaregiverList loading in caregiverPicker
  Apps/LekaApp/Sources/Views/Users/Caregiver/CaregiverPicker.swift
Due: none

🩹 (LekaApp): Update loadingIndicator to work with schemes
  Apps/LekaApp/Sources/Views/AccountCreation/AccountCreationView.swift
  Apps/LekaApp/Sources/Views/ConnectionView.swift
  Apps/LekaApp/Sources/Views/Modifiers/LoadingModifier.swift
Due: none

🐛 (LekaApp): Loading indicator - fix bad method name
  Apps/LekaApp/Sources/Views/ReAuthenticationView.swift
Due: none

🌐 (LekaApp): Localize none category
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/MainView/MainView+l10n.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🌐 (LekaApp): Fix missing xcstrings files
  Apps/LekaApp/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🚧 (WIP): Trying to add firebase code
  .vscode/settings.json
  Firebase/.gitignore
  Firebase/Mig2/package-lock.json
  Firebase/Mig2/package.json
  Firebase/Mig2/src/helloWorld.js
  Firebase/Mig2/src/helloWorld.ts
  Firebase/Mig2/tsconfig.json
  Firebase/Migration/.gitignore
  Firebase/Migration/.old-eslintrc.js
  Firebase/Migration/README.md
  Firebase/Migration/package-lock.json
  Firebase/Migration/package.json
  Firebase/Migration/prepareForMigration.ts
  Firebase/Migration/src/helloWorld.ts
  Firebase/Migration/src/index.ts
  Firebase/Migration/src/list-collections-and-documents.ts
  Firebase/Migration/tsconfig.json
Due: none

✨ (GEK): Add ColorPad components
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+BeltSectionButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+BeltSectionIcon.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+EarButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+EarIcon.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+LedZoneShape.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+PadModeButton.swift
Due: none

✨ (GEK): Add ColorPad
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+FourQuartersBeltView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+FullBeltView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad+TwoHalvesBeltView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ColorPad/ColorPad.swift
Due: none

♻️ (GEK): Refactor Remote w/ new colorPad
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+ArrowPadColorPad.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+JoystickColorPad.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🔥 (GEK): Remove deprecated LedZoneSelector
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+BeltSectionButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+BeltSectionIcon.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+EarButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+EarIcon.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+LedZoneShape.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+ModeButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+ModeFeedback.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView.swift
Due: none

🚸 (GEK): Refactor UX of OTTS
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Observe.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelect.swift
Due: none

🚸 (GEK): Refactor UX of LTTS
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
Due: none

🔨 (fastlane): Replace main with base_ref env variable
  fastlane/Fastfile
Due: none

🧑‍💻 (tuist): Set dev/testflight version to 999.999.999
  Apps/LekaApp/Project.swift
  Apps/LekaUpdater/Project.swift
Due: none

🍱 (content): Fix typos, rewrite titles
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/activities/recognition_basic_physiological_needs_drawings_1_image-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/activities/recognition_basic_physiological_needs_drawings_2_images-5DBCCB46BA2B4646983BDC7160E03536.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/activities/recognition_basic_physiological_needs_drawings_4_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617/activities/recognition_sounds_emotions_pictures_2_ladislas-65BE6D6886A44B15B30F035819990884.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617/activities/recognition_sounds_emotions_pictures_2_lucie-A14D8CA364ED4A078AFD645C0BDE3B19.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔒️ (LekaApp): Add Privacy Manifest file
  Apps/LekaApp/Resources/PrivacyInfo.xcprivacy
Due: none

🚚 (LekaApp): Reorganize resources
  Apps/LekaApp/Resources/GoogleFirebase/GoogleServiceInfo+DEV.plist
  Apps/LekaApp/Resources/GoogleFirebase/GoogleServiceInfo+PROD.plist
  Apps/LekaApp/Resources/GoogleFirebase/GoogleServiceInfo+TESTFLIGHT.plist
  Apps/LekaApp/Resources/Misc/leka-loop.mp4
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
