Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings, check_yaml_definitions_avatars, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_definitions_robot_assets, check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

check_xcstrings:
  name: Check .xcstrings files for stale entries and unusual characters
  description: This hook checks .xcstrings files for stale entries and unusual characters
  entry: python3 Tools/Hooks/check_xcstrings.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_avatars:
  name: Check avatars.yml
  description: "This hook checks avatars.yml for:\n  - non unique ids\n  - jtd schema validation\n  - filename and image consistency\nIt also formats the file\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_avatars.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_robot_assets:
  name: Check robot_assets.yml
  description: "This hook checks robot_assets.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_robot_assets.py
  language: python
  additional_dependencies:
  ...

check_yaml_definitions_tags:
  name: Check tags.yml
  description: "This hook checks tags.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_tags.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

♻️ (LekaUpdater): Update VMs with private(set) where relevant
  Apps/LekaUpdater/Sources/ViewModel/InformationViewModel.swift
  Apps/LekaUpdater/Sources/ViewModel/RequirementsViewModel.swift
  Apps/LekaUpdater/Sources/ViewModel/RobotInformationViewModel.swift
  Apps/LekaUpdater/Sources/ViewModel/UpdateStatusViewModel.swift
Due: none

🔥 (LekaUpdater): Remove ObservationIgnored + rename progression
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV100.swift
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV130.swift
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV200.swift
  Apps/LekaUpdater/Sources/View/UpdateStatusDemoView.swift
  Apps/LekaUpdater/Sources/View/UpdatingViews/SendingFileView.swift
  Apps/LekaUpdater/Sources/View/UpdatingViews/UpdateStatusView.swift
  Apps/LekaUpdater/Sources/ViewModel/InformationViewModel.swift
  Apps/LekaUpdater/Sources/ViewModel/RequirementsViewModel.swift
  Apps/LekaUpdater/Sources/ViewModel/RobotInformationViewModel.swift
  Apps/LekaUpdater/Sources/ViewModel/UpdateStatusViewModel.swift
Due: none

💄 (LekaApp): Update fonts for curation components
  Apps/LekaApp/Sources/Views/ContentItems/ActivityGridItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/ActivityItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/CarouselItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/CurriculumGridItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/CurriculumItem.swift
  Apps/LekaApp/Sources/Views/Curation/CurationView.swift
Due: none

🍱 (LekaUpdater): Add LekaOS-1.4.0 binaries
  Apps/LekaUpdater/Resources/LekaOS-1.4.0.bin
Due: none

♻️ (LekaUpdater): Turn firmwareManager currentVersion variable
  Apps/LekaUpdater/Sources/Libs/FirmwareManager.swift
Due: none

✨ (LekaUpdater): Add rollback version button
  Apps/LekaUpdater/Sources/View/InformationView/RobotRollBackAvailableView.swift
Due: none

✨ (LekaUpdater): Add Rollback available check
  Apps/LekaUpdater/Sources/ViewModel/InformationViewModel.swift
Due: none

✨ (LekaUpdater): Show rollback button when available
  Apps/LekaUpdater/Sources/View/InformationView/InformationView.swift
Due: none

♻️ (LekaUpdater): Ensure to update to latest version
  Apps/LekaUpdater/Sources/View/InformationView/RobotUpdateAvailableView.swift
Due: none

🌐 (LekaUpdater): Update Localization to rollback adds
  Apps/LekaUpdater/Resources/ll10n/Localizable.xcstrings
  Apps/LekaUpdater/Sources/Localization.swift
Due: check_xcstrings

🔥 (ios-monorepo): Remove all ObservationIgnored statements
  Apps/LekaApp/Sources/MainApp.swift
  Apps/LekaApp/Sources/Navigation/Navigation.swift
  Apps/LekaApp/Sources/Views/Users/CareReceiver/CreateCarereceiverView.swift
  Apps/LekaApp/Sources/Views/Users/Caregiver/CreateCaregiverView.swift
  Modules/AccountKit/Sources/Authentication/AuthManagerViewModel.swift
  Modules/AccountKit/Sources/Managers/Caregivers/CaregiverManagerViewModel.swift
  Modules/AccountKit/Sources/Managers/Carereceivers/CarereceiverManagerViewModel.swift
  Modules/AccountKit/Sources/Managers/RootAccounts/RootAccountManagerViewModel.swift
  Modules/AccountKit/Sources/Managers/SharedLibrary/SharedLibraryManagerViewModel.swift
  Modules/RobotKit/Sources/UI/ViewModels/ConnectedRobotInformationViewModel.swift
  Modules/RobotKit/Sources/UI/ViewModels/RobotConnectionViewModel.swift
Due: none

📌 (mise): Upgrade tuist to v4.51.1
  .mise.toml
Due: none

🍱 curriculum add alphabet letters sounds a to f
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_1-D6ACD78BABBE4A529BDDDA84CF4FC904.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_2-5A80D24D7D7840EC9B14269CD696C89C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_4-F5B64DFCC3324CB985EFEA26B7273E72.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_6-7D5B8EB45FEC472DBF46248CE90CB7A6.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_a.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_b.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_c.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_d.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_e.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_f.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/icons/alphabet_letters_sounds.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/alphabet_letters_sounds.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

🍱 (curriculums) Fix alphabet letters sounds
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_1-D6ACD78BABBE4A529BDDDA84CF4FC904.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_2-5A80D24D7D7840EC9B14269CD696C89C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_4-F5B64DFCC3324CB985EFEA26B7273E72.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/alphabet_letters_sounds_a_to_f_6-7D5B8EB45FEC472DBF46248CE90CB7A6.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

📌 (packages): Upgrade Firebase to v11.14.0
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

➖ (packages): Remove unused packages
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

🎨 (ContentKit x LekaApp): Make InfoDetailsView more generic
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/DetailsView/ActivityDetailsView.swift
  Apps/LekaApp/Sources/Views/DetailsView/CurriculumDetailsView.swift
  Apps/LekaApp/Sources/Views/DetailsView/StoryDetailsView.swift
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Content/_NewSystem/Activity/InfoDetailsView.swift
Due: check_xcstrings

✨ (LekaApp): Add RelatedCurriculum to ActivityDetailsView
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/DetailsView/ActivityDetailsView.swift
Due: check_xcstrings

🐛 (LekaUpdater): Set back latestVersion on robotConnection appear
  Apps/LekaUpdater/Sources/View/ContentView.swift
  Apps/LekaUpdater/Sources/View/InformationView/RobotUpdateAvailableView.swift
Due: none

🍱 (curriculums) Add alphabetical order a to f
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/alphabetical_order_a_to_f_2-02DDE7C59C264CCE867EA65580313CD1.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/alphabetical_order_a_to_f_4-0CBC058299834FD39E8D22230A5252E7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/alphabetical_order_a_to_f_6-A96B4F744ECB4C52914183A7993683CC.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_a.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_b.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_c.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_d.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_e.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_f.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/icons/alphabetical_order_a_to_f.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/alphabetical_order_a_to_f.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

📌 (mise): Upgrade tuist to v4.52.0, swiftformat to v0.56.3
  .mise.toml
Due: none

🍱 (curations) new curriculums categorization in curations
  Modules/ContentKit/Resources/Content/curations/curriculums-2685B06A51324C31A255B50D8A2AD064.curation.yml
  Modules/ContentKit/Resources/Content/curations/home-F4E2C104C09E436CB80A87749CE62DDF.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/autonomy_and_daily_life-D680A31677B14C8D8EE29F2F05B07117.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/categorize_associate_organize-3B7D4928FF4B498F9DAA16FF50933979.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/cognition_and_academic_learning-4D4D3C30F4704417A9DDD4B8AD30EE62.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/emotions-21E32736271B4637B0F970C725463FB5.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/english-4B7973C2A256491FA3FCEF70A43362B8.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/fine_motor_skills-EFBB68F0B3D84A32B08A688CC2F9B8F0.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/food-29B819A94EA649DA963A55A33D833676.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/mathematics-9D3BC84542E44614922FE450EC2F7F58.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/memory-2A2BEFBAEE01478CABA4D7EDA9958F56.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/recognize_and_generalize-B34593ED6BE947AB93D212CB5D2A7C5A.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/sensory_processing-5BB0578E7F54453687311F4858849A30.curation.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_apple_pie.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_banana.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_kiwi.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_melon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_pear.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_pineapple.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_strawberry.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_strawberry_pie.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_cooked_fruits_watermelon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_apple.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_banana.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_kiwi.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_melon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_pear.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_pineapple.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_strawberry.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/assets/recognition_fruits_photo_watermelon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/icons/recognition_cooked_fruits.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/recognition_cooked_fruits_2_images-88CA88F2E05D471E994D5F618C556D64.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/recognition_cooked_fruits_4_images-A4B293D45223433CB45ED92275BAA0DE.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/activities/recognition_cooked_fruits_6_images-372197E48EDF4EE7A9A0BB04AACB3791.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_cooked_fruits-C0D2DAE8152F4CAE863EAEBF815354BA/recognition_cooked_fruits.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

🍱 (curriculums) Fix assets for alphabetical order
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/activities/icons/alphabet_letters_sounds.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_a_to_f-C157BAD4AA044EE89A941B1D868FFEB7/alphabet_letters_sounds.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/activities/icons/alphabetical_order_a_to_f.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order_a_to_f-F9A2F6E76AE449999B1F76AA7E2D2978/alphabetical_order_a_to_f.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_a_to_f-50DC12AA75AA4ED48928FBAFB73CA7EF/activities/icons/recognition_alphabet_letters.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_a_to_f-50DC12AA75AA4ED48928FBAFB73CA7EF/recognition_alphabet_letters.curriculum.icon.png
Due: none

🐛 (LekaApp): Fix french l10n for AddToSharedLibrary Button
  Apps/LekaApp/Sources/Views/ContentItems/Menu/ContentItemMenu.swift
Due: none

✨ (LekaApp): Add Tool views for ContentItems
  Apps/LekaApp/Sources/Views/ContentItems/Tools/ContentItemMenu.swift
  Apps/LekaApp/Sources/Views/ContentItems/Tools/FavoriteIcon.swift
  Apps/LekaApp/Sources/Views/ContentItems/Tools/IconImageView.swift
  Apps/LekaApp/Sources/Views/ContentItems/Tools/QuickStartButton.swift
Due: none

🎨 (LekaApp): Use FavoriteIcon in ContentItems
  Apps/LekaApp/Sources/Views/ContentItems/ActivityGridItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/ActivityItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/CarouselItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/CurriculumGridItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/CurriculumItem.swift
Due: none

✨ (LekaApp): Add Activity List & Table items
  Apps/LekaApp/Sources/Views/ContentItems/ActivityListItem.swift
  Apps/LekaApp/Sources/Views/ContentItems/ActivityTableItem.swift
Due: none

✨ (LekaApp): Add VerticalActivity List & Table components
  Apps/LekaApp/Sources/Views/Components/VerticalActivityList.swift
  Apps/LekaApp/Sources/Views/Components/VerticalActivityTable.swift
Due: none

♻️ (LekaApp): Refactor views with new activity Tables & List
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Navigation/Navigation.swift
  Apps/LekaApp/Sources/Views/DetailsView/CurriculumDetailsView.swift
  Apps/LekaApp/Sources/Views/SharedLibrary/Favorites/SharedLibrary+FavoriteActivitiesView.swift
  Apps/LekaApp/Sources/Views/SharedLibrary/Favorites/SharedLibrary+FavoriteCurriculums.swift
  Apps/LekaApp/Sources/Views/SharedLibrary/Favorites/SharedLibrary+FavoriteStoriesView.swift
  Apps/LekaApp/Sources/Views/SharedLibrary/SharedLibrary+ActivitiesView.swift
  Apps/LekaApp/Sources/Views/SharedLibrary/SharedLibrary+CurriculumsView.swift
  Apps/LekaApp/Sources/Views/SharedLibrary/SharedLibrary+StoriesView.swift
Due: check_xcstrings

🔥 (ContentKit): Remove TemplateIcon
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropOneZoneFiveChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropOneZoneFourChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropOneZoneOneChoice.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropOneZoneSixChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropOneZoneThreeChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropOneZoneTwoChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropTwoZonesFiveChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropTwoZonesFourChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropTwoZonesOneChoice.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropTwoZonesSixChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropTwoZonesThreeChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_DragAndDropTwoZonesTwoChoices.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectEight.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectFive.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectFour.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectNine.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectOne.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectSeven.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectSix.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectTen.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectThree.icon.png
  Modules/ContentKit/Resources/Content/accessibility/template/template_TouchToSelectTwo.icon.png
  Modules/ContentKit/Sources/Content/ContentKit+TemplateIcon.swift
Due: none

🔥 (LekaApp): Remove deprecated Library and Activity views
  Apps/LekaApp/Sources/Views/Activity/ActivityDetailedListItem.swift
  Apps/LekaApp/Sources/Views/Activity/ActivityListView.swift
  Apps/LekaApp/Sources/Views/ContentItems/GroupboxItem.swift
  Apps/LekaApp/Sources/Views/Curriculum/CurriculumGridView.swift
  Apps/LekaApp/Sources/Views/Library/Library+l10n.swift
  Apps/LekaApp/Sources/Views/Library/SharedLibraryActivityListView.swift
  Apps/LekaApp/Sources/Views/Library/SharedLibraryStoryListView.swift
Due: none

🍱 (curations) Fix explore without by_theme
  Modules/ContentKit/Resources/Content/curations/explore-60EE8932AE34449187E5B67646BEAEEF.curation.yml
  Modules/ContentKit/Resources/Content/curations/subcurations/by_theme-F83E2947CE8F40D1B6B8798042F3D31A.curation.yml
Due: none

⚗️ (ContentKit): Test activity manager + publishers
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityExercisesCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
Due: none

♻️ (ContentKit): NewGEK - Rename ActivityExercisesCoordinator to ActivityCoordinator
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityProgressBar.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
  Modules/ContentKit/Tests/GameEngine/ActivityManager_Tests.swift
Due: none

🍱 (ContentKit): Add new gek activity yml file
  Modules/ContentKit/Examples/ContentKitExample/Resources/new_gek_activity.yml
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
Due: none

♻️ (ContentKit): Remove redundant group index checks
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
Due: none

♻️ (ContentKit): NewGEK - Rename ActivityEvent and improve publishers
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
Due: none

♻️ (NewGEK): Handle exercise ending in NewGEK coordinators
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/CurrentExerciseCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/Grid/Coordinators/DnDGridCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/Coordinators/DnDGridWithZonesCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/Coordinators/DnDGridWithZonesCoordinator+OpenPlay.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/OneToOne/Coordinators/DnDOneToOneCoordinator+FindTheRightOrder.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/MagicCard/Coordinators/MagicCardCoordinator+FindtheRightAnswers.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/Memory/Coordinators/MemoryCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/NewSpecialized/DanceFreeze/Coordinator/NewDanceFreezeCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/NewSpecialized/HideAndSeek/Coordinator/NewHideAndSeekCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/NewSpecialized/Melody/Coordinator/NewMelodyCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/NewSpecialized/SuperSimon/Coordinator/NewSuperSimonCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+FindTheRightAnswers.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+FindTheRightOrder.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+OpenPlay.swift
Due: none

🐛 (NewGEK): Handle view & coordinator refresh with .id()
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
Due: none

Path conditions:
  check_xcstrings: any of: .*\.xcstrings
  check_yaml_definitions_avatars: any of: avatars.yml
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_definitions_robot_assets: any of: robot_assets.yml
  check_yaml_definitions_tags: any of: tags.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums_unique_uuid: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_stories: any of: .*\.story\.yml and \.(yaml|yml)$
  check_yaml_content_stories_unique_uuid: any of: .*\.story\.yml and \.(yaml|yml)$
