Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

check_xcstrings_stale_entries:
  name: Check .xcstrings files for stale entries
  description: This hook checks .xcstrings files for stale entries
  entry: python3 Tools/Hooks/check_xcstrings_stale_entries.py
  language: python
  additional_dependencies:
  - pygments

check_xcstrings_unusual_terminators:
  name: Check .xcstrings files for unusual terminators
  description: This hook checks .xcstrings files for unusual terminators
  entry: python3 Tools/Hooks/check_xcstrings_unusual_terminators.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-glass_iced_water-0171.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-glass_iced_water-0171.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-sandwich-0176.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-sandwich-0176.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-bathroom-toilet_blue-00BD.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-bathroom-toilet_blue-00BD.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-house-bedroom-bed_blue-01A5.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-house-bedroom-bed_blue-01A5.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_ illustrations-physiological_conditions-oscar-urge_to_pee-01E2.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_illustrations-physiological_conditions-oscar-hunger-01E1.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_illustrations-physiological_conditions-oscar-warm-01DF.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_illustrations-physiological_conditions-oscar_drinking-01DE.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_ illustrations-physiological_conditions-oscar-urge_to_pee-01E2.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_illustrations-physiological_conditions-oscar-hunger-01E1.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_illustrations-physiological_conditions-oscar-thirst-01DF.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_illustrations-physiological_conditions-oscar_tiredness-01DE.png
Due: none

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_hot_and_cold-18DA1F9028CF447E819507B0A6562F2E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_2_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_4_images-030525AA798F4E0D8EDAFAF3939471F9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_angry_leka.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_angry_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_disgust_leka.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_disgust_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_fear_leka.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_fear_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_joy_leka.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_joy_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_sad_leka.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_sad_leka.svg
Due: none

mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_angry_hortense.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_angry_hortense.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_angry_ladislas.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_angry_ladislas.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_angry_lucie.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_angry_lucie.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_disgust_hortense.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_disgust_hortense.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_disgust_ladislas.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_disgust_ladislas.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_disgust_lucie.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_disgust_lucie.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_fear_hortense.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_fear_hortense.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_fear_ladislas.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_fear_ladislas.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_fear_lucie.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_fear_lucie.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_joy_hortense.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_joy_hortense.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_joy_ladislas.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_joy_ladislas.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_joy_lucie.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_joy_lucie.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_sad_hortense.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_sad_hortense.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_sad_ladislas.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_sad_ladislas.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_sad_lucie.pdf
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/emotion_picture_adult_sad_lucie.png
Due: none

.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_bird.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_bird.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_cat.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_cat.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_chicken.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_chicken.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_cow.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_cow.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_dog.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_dog.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_duck.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_duck.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_fly.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_fly.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_goat.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_goat.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_horse.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_horse.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_pig.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_pig.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_rooster.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_rooster.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_sheep.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_animal_sheep.mp3
Due: none

.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-accordion_orange-013A.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-accordion_orange-013A.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drum.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drum.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drummer_brown-0139.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drummer_brown-0139.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-flute_brown-0136.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-flute_brown-0136.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-guitar_brown-0134.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-guitar_brown-0134.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-harp_brown-0135.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-harp_brown-0135.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-piano_gray-0138.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-piano_gray-0138.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-saxophone_yellow-013C.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-saxophone_yellow-013C.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-xylophone_brown-0137.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-xylophone_brown-0137.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_accordion.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_accordion.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_drum.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_drum.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_flut.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_flut.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_guitar.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_guitar.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_harp.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_harp.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_piano.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_piano.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_sax.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_sax.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_tambour.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_tambour.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_violon.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_violon.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_xylophone.mov
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/sounds/sound_instrument_xylophone.mp3
Due: none

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/autumn.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/autumn_1.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_cloud_and_wind_town.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_cloud_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_rain_lake.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_rain_town.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_rainbow_mountain.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_snow_and_sun_mountain.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_snow_lake.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_snow_town.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_storm_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_sun_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_wind_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_cloud_and_wind_town.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_cloud_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_rain_lake.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_rain_town.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_rainbow_mountain.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_snow_and_sun_mountain.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_snow_lake.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_snow_town.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_storm_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_sun_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/selection_landscape_wind_countryside.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/spring.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/spring_1.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/summer.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/summer_1.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/winter.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/winter_1.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_hot_and_cold-18DA1F9028CF447E819507B0A6562F2E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animal-pets-cat_gray-00A3.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-cat_gray-0050.png
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_1_image-C4CBE259AC1347DE9C7EBE642EA9BA35.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_2_images-9D3DE26C58034D9AA9301EF0FBBD6761.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_3_images-77EE54847AEC4BD3BAE7D1288342AAD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_4_images-B60142FDD7DE4E9FBBA7E9E9BF1ECF08.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_5_images-B8CCEFBDAFFF4A18A5BAA95335141C02.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_6_images-75B58F8E595F431399E0BAB7278A860D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Update curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824.curriculm.yml
Due: none

basic_emotions instead of basic-emotions
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_hugo-D9663D6F1E9F4D228FDCD918317996A3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_louna-A5D3673F3D9643B29EF6F7C5CBAE73CA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_moussa-FDFB9C81374044D594DE430EB961E7DD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_oscar-E44983B555BC44659C91605315A12C29.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_zoe-A703772398514DB298DDEF6435D787CD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo-9459DB5E83F74AE88B86D9A961A9C331.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo_moussa-486C6B3EC7774FB4ADA8DDC8A8C4AC85.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo_zoe-00DCB1EFAF0046BFA2421F4A71F44E98.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna-85D74E8ED0CF4E18A29F5C7305CBEC7A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna_oscar-731C7519652F44408307FBA3E8353E1E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna_zoe-578CA01FC1464855A98A92943A472521.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_moussa-E49EEAC175EA487F9BF2C767B46233DC.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_oscar-4E509EEF60244D68BBAD610675BEEC5F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_oscar_hugo-A60A42C7CC1C4A2096B493D1214B7757.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_zoe-B2E3C40835574DEC8F0FB6DBDF1B0E18.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_all_characters-F0F6C98DA212464387B00DDD298D882A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_hugo-5FC4C6B028834D5FB10092EB0A92BFFE.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_hugo_louna_moussa_oscar_zoe-6A2E053D6A1D49DB8636421A50458B6F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_hugo_zoe-EA390CDEEEC24E279E7738107B6D68E2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_louna-D48FACE8648F40D2B410A8123EAAFF63.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_louna_oscar-4D7B43FA50E74A6D9A1AA4C49AFC82C0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_louna_zoe-6467C269389743B0B4846CB900E9DC2A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_moussa-602ADEF84FE342D48A14F4FDEE1B721C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_oscar-7DBFAB2704EF4C0086BEC36BE0BC295E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_oscar_hugo-FE48BA74BFB147DC8639C5056740BB7B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_oscar_moussa-5F384AC5C4E8460BAF7361793051BF79.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_zoe-7AACD460ACBD49FA88BE66182C59833D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

description parcours emotions
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_generalization-173A0E0985D944F9835E2205867121FC.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_pictograms-3A9B0EB3A9CF4ABCB9B771B6047DF2D0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_pictures-BA3CB88A6A6E49CB9AB83FA992BF852B.curriculm.yml
Due: none

coquilles
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_5_emotions-E4753C378F974C58BD5EAAE85717D277.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_thumbs_up_thumbs_down-13E0B701B0534391B9BBECB83EFB83F5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Update curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculm.yml
Due: none

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-violin_brown-013D.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-violin_brown-013D.svg
Due: none

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animal-pets-cat_gray-00A3.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-cat_gray-0050.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-chicken_yellow-006E.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-chicken_yellow-006E.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-cow_white-0070.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-cow_white-0070.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-duck_green-0075.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-duck_green-0075.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-goat_brown-0072.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-goat_brown-0072.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-horse_brown-006A.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-horse_brown-006A.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-pig_pink-0073.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-pig_pink-0073.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-rooster_white-006B.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-rooster_white-006B.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-sheep_white-006D.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-sheep_white-006D.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-forest-bird_robin_red-005B.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-forest-bird_robin_red-005B.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-insects-fly_green-0093.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-insects-fly_green-0093.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-pets-dog_golden_retriever_brown-0052.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-pets-dog_golden_retriever_brown-0052.svg
Due: none

svg
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_1_image-C4CBE259AC1347DE9C7EBE642EA9BA35.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_2_images-9D3DE26C58034D9AA9301EF0FBBD6761.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_3_images-77EE54847AEC4BD3BAE7D1288342AAD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_4_images-B60142FDD7DE4E9FBBA7E9E9BF1ECF08.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_5_images-B8CCEFBDAFFF4A18A5BAA95335141C02.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_6_images-75B58F8E595F431399E0BAB7278A860D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

decription curriculums sons
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_animals-FED25D9B424E42019F03593FE0D65AEE.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_musical_instruments-6A5EF209D00942F4AEEA4AEC6DAC052A.curriculm.yml
Due: none

🧑‍💻 (GEK): Make every asset extensions displayable
  Modules/GameEngineKit/Sources/Extensions/Bundle+Path.swift
Due: none

Update curriculum_recognition_weather_and_temperatures-1D8E1AB667DB40B199479D731EF96F2E.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_weather_and_temperatures-1D8E1AB667DB40B199479D731EF96F2E.curriculm.yml
Due: none

♻️ (GEK): Update ChoiceImageView with new Bundle changes
  Modules/GameEngineKit/Sources/Exercises/Touch/ChoiceImageView.swift
Due: none

♻️ (GEK): Update ActionButton+Observe with Bundle changes
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Observe.swift
Due: none

✨ (ContentKit): Add RecogntionDayNight standalone activity
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_night_and_snow_mountain.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_night_desert.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_night_lake.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_night_mountain.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_night_town.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_snow_and_sun_mountain.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_sun_beach.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_sun_countryside-02.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_sun_countryside-09.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/landscape_sun_mountain.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/pictograms_weather_moon_white-0107.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/pictograms_weather_sun_yellow-0106.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/standalones/icons/recognition_time_of_day_day_night.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/standalones/recognition_time_of_day_day_night-7710D57FB7214D4F90246463F20773D1.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add HideAndSeek standalone activity
  Modules/ContentKit/Resources/Content/activities/standalones/hideAndSeek-4BFA2AC3390E49248DD022E27008F118.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/icons/hide_and_seek.activity.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🩹 (GEK): ObserveThen - Fix scaling issue, apply clipshape first
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Observe.swift
Due: none

✨ (ContentKit): Add ActivityListView
  Modules/ContentKit/Sources/Views/ActivityListView.swift
Due: none

✨ (LekaApp): Add Activity section
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/ActivitiesView.swift
Due: none

✨ (ContentKit): Add CurriculumListView
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/CurriculumListView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (LekaApp): Update Curriculum section
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumsView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: none

💄 (ContentKit): CurriculumListView - update fonts, size, position
  Modules/ContentKit/Sources/Views/CurriculumListView.swift
Due: none

🔧 (fastlane): Remove LekaActivityUIExplorer from bundle ids
  fastlane/Fastfile
Due: none

🐛 (LekaApp): Present CaregiverPicker atop SettingsView
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView.swift
Due: none

✏️ (ContentKit): Fix activities typos
  Modules/ContentKit/Resources/Content/activities/standalones/discover_leka-89CEA9FE20624659B1307B633641BC90.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/xylophone_pentatonic-7C1DDED6C6D44913B9A7D4EB4AEE8F6B.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚚 (ContentKit): Move ColorBingo 4, 5, 6 from standalones to curriculums
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_4-A7584D692B23422BB12683FA7BE393BE.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_6-EFC7F64F51FD4D68863749C1C278BD1F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add ColorBingo curriculum
  Modules/ContentKit/Resources/Content/curriculums/ColorBingo/color_bingo-69760D1DA61849E3926E3A939BBEF0CE.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/ColorBingo/icons/color_bingo.curriculum.icon.png
Due: none

🐛 (RobotKit): Fix robots not showing on first appear
  Modules/RobotKit/Sources/UI/ViewModels/RobotConnectionViewModel.swift
Due: none

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
