Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

🔧 (LekaUpdater): Open Leka App when update is complete
  Apps/LekaUpdater/Resources/ll10n/Localizable.xcstrings
  Apps/LekaUpdater/Sources/Localization.swift
  Apps/LekaUpdater/Sources/View/UpdatingViews/UpdateFinishedView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

icônes des parcours
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_categorization-E6A322DC7A6E48518CED2CA2D3D2A595.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_color_bingo-8023D780EEC843418EDC1FFA814E58F6.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_number_quantity-4499A9AFB56B4476969B96CE32F5314C.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_objects_by_color-506EA3B894AE46EBAE4BE4AFFC65233F.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_generalization-173A0E0985D944F9835E2205867121FC.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_pictograms-3A9B0EB3A9CF4ABCB9B771B6047DF2D0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_pictures-BA3CB88A6A6E49CB9AB83FA992BF852B.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_animals-FED25D9B424E42019F03593FE0D65AEE.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_musical_instruments-6A5EF209D00942F4AEEA4AEC6DAC052A.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_weather_and_temperatures-1D8E1AB667DB40B199479D731EF96F2E.curriculm.yml
Due: none

png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_angry_leka.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_angry_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_disgust_leka.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_disgust_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_fear_leka.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_fear_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_joy_leka.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_joy_leka.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_sad_leka.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_sad_leka.svg
Due: none

♻️ (GEK): Refactor DnD code
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/DraggableImageAnswerNode.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView+0_BaseScene.swift
Due: none

png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-cat_gray-0050.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-cat_gray-0050.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-chicken_yellow-006E.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-chicken_yellow-006E.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-cow_white-0070.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-cow_white-0070.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-duck_green-0075.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-duck_green-0075.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-goat_brown-0072.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-goat_brown-0072.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-horse_brown-006A.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-horse_brown-006A.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-pig_pink-0073.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-pig_pink-0073.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-rooster_white-006B.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-rooster_white-006B.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-sheep_white-006D.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-farm-sheep_white-006D.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-forest-bird_robin_red-005B.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-forest-bird_robin_red-005B.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-insects-fly_green-0093.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-insects-fly_green-0093.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-pets-dog_golden_retriever_brown-0052.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-animals-pets-dog_golden_retriever_brown-0052.svg
Due: none

png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-accordion_orange-013A.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-accordion_orange-013A.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drum.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drum.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drummer_brown-0139.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-drummer_brown-0139.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-flute_brown-0136.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-flute_brown-0136.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-guitar_brown-0134.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-guitar_brown-0134.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-harp_brown-0135.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-harp_brown-0135.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-piano_gray-0138.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-piano_gray-0138.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-saxophone_yellow-013C.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-saxophone_yellow-013C.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-violin_brown-013D.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-violin_brown-013D.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-xylophone_brown-0137.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-musical_instrument-xylophone_brown-0137.svg
Due: none

png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-glass_iced_water-0171.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-glass_iced_water-0171.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-sandwich-0176.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-foods-meals-sandwich-0176.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-bathroom-toilet_blue-00BD.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-bathroom-toilet_blue-00BD.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-house-bedroom-bed_blue-01A5.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/images/pictograms-objects-house-bedroom-bed_blue-01A5.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_ illustrations-physiological_conditions-oscar-urge_to_pee-01E2.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_illustrations-physiological_conditions-oscar-hunger-01E1.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_illustrations-physiological_conditions-oscar-warm-01DF.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/2022_06_06-drawings-physiological_conditions_illustrations-physiological_conditions-oscar_drinking-01DE.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_ illustrations-physiological_conditions-oscar-urge_to_pee-01E2.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_illustrations-physiological_conditions-oscar-hunger-01E1.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_illustrations-physiological_conditions-oscar-thirst-01DF.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/physiological_conditions/drawings-physiological_conditions_illustrations-physiological_conditions-oscar_tiredness-01DE.png
Due: none

assets png Jour / Nuit
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_night_and_snow_mountain.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_night_desert.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_night_lake.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_night_mountain.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_night_town.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_snow_and_sun_mountain.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_sun_beach.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_sun_countryside-02.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_sun_countryside-09.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/landscape_sun_mountain.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/pictograms-weather-moonwhite-0107.png
  Modules/ContentKit/Resources/Content/activities/standalones/assets/day_night/pictograms-weather-sunyellow-0106.png
Due: none

icônes
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-1_images_1_types-hortense-195c7905-0188-4c1d-a3c9-0aed0199606d.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-1_images_1_types-hugo-30e86d7d-b937-4721-9e5a-3a0d1e8a1ace.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-1_images_1_types-ladislas-ddc5380e-efc6-4abf-b03b-603b73012e7b.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-1_images_1_types-lucie-3fc7b66e-67a0-4f50-9817-9ef19af7f717.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-1_images_1_types-yann-c44a02c1-7ae8-45f8-b6f5-58d39e4e363b.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_1_types-hortense-b88f7a94-9e41-4dc6-b8ef-dbc50543e976.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_1_types-hugo-0c0ab0f5-ed2f-468f-bb3d-e3bf8b9512c5.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_1_types-ladislas-a8590b9f-cd04-447d-a76d-1c2d99ce2615.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_1_types-lucie-7d6c0af7-9bc4-434b-b07e-0761d0a4b39e.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_1_types-yann-3873d0ba-e98d-44ca-bdf9-b7695e58648e.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_2_types-hortense_lucie-01cd2e22-846d-4873-95d5-414366ef0cd5.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_2_types-hortense_yann-ac80e69e-caba-41f6-8001-c359870b8569.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_2_types-ladislas_hugo-4246413b-2fe4-4b53-aa0b-3b170f053eda.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_2_types-lucie_ladislas-b9988679-9d34-49ff-bda9-0802fe83efa9.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-2_images_2_types-yann_hugo-4abe3280-bdb4-4b5b-b3f2-1dd8cddecdd7.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_1_types-hortense-e64a56b0-0481-4688-b285-80fcf3020bba.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_1_types-hugo-ac9c2620-9fba-4a60-aa39-8e5fbdc57d7b.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_1_types-ladislas-7c8cc8cb-c6ce-4fed-b656-d98018ad2502.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_1_types-ladislas_lucie_yann_hortense_hugo-46042e54-7d41-4c4c-a40a-0dad3b51b5b0.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_1_types-lucie-540372bf-1e0d-4969-a49c-61d0bfb7b579.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_1_types-yann-1b1cce01-b360-4552-833e-01e05d476008.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_2_types-hortense_lucie-721a6030-75f0-4731-8ded-2f1a5ba06e69.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_2_types-hugo_ladislas-97938c8e-6f21-4fff-a24e-a51ae46baba6.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_2_types-hugo_yann-969bc9f7-da53-41ab-ba3a-6b9c5e6773cf.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_2_types-ladislas_lucie-53aab2b3-7310-4ba6-b2bd-979d738cd81d.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_2_types-yann_hortense-a22c67a2-28c8-4cd4-a0e7-aec34e6c564f.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictures-4_images_4_types-lucie_hortense_hugo_ladislas_yann-6dce5dd6-9bc8-4ae3-a6d1-24a531bda2bd.png
Due: none

icônes
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictograms-1_images_1_types-leka-b7018cde-3d47-4914-a36f-54b531d0ad7b.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictograms-2_images_1_types-leka-6e66b4bf-3f07-4102-89aa-462f9709285a.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictograms-3_images_1_types-leka-c96eed6b-d65d-418d-b7c7-1b25ff9eb38d.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/icônes/emotion_recognition-pictograms-4_images_1_types-leka-dfe16eaa-e149-4df1-873e-995dc1b1c5b0.png
Due: none

bons UUID
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_2types-699FB7EB68DD41F1BB24DB67B10CE60D.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_3types-C21549498D584ECBBE713AD05B4225ED.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_2types-DDD78773E4DC4C5BB7A478790096A2CA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_3types-26E096665BE041E8BB10003D3FE08BF2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_2types-C5677BD6215040CA8B2508465D0431D8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_3types-6E345E56197B457D8115445A2A3A8B0E.yml
Due: none

UUID
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_1_leka-5C8987EC85064792AAA6C9DFB6B315C5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_2_leka-8C2D5551110D4A9BB0F904380C8C6F67.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_3_leka-95F1BDCEA63F478DA164D5A976ACE1DB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_4_leka-FEC05FC6341847A780ED4A958BC4E14C.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add Emotion Recognition Picto curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_angry_leka.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_disgust_leka.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_fear_leka.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_joy_leka.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/emotion_picto_sad_leka.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-pictograms-1_images_1_types-leka-b7018cde-3d47-4914-a36f-54b531d0ad7b.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-pictograms-2_images_1_types-leka-6e66b4bf-3f07-4102-89aa-462f9709285a.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-pictograms-3_images_1_types-leka-c96eed6b-d65d-418d-b7c7-1b25ff9eb38d.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-pictograms-4_images_1_types-leka-dfe16eaa-e149-4df1-873e-995dc1b1c5b0.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_1_leka-5C8987EC85064792AAA6C9DFB6B315C5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_2_leka-8AE0997C2DC843078ABE11B36F4BA56D.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_3_leka-A52EDCD576DB491790C5C79683B9E83A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_4_leka-283E1BE7BB5A4CDDBAAC04E599CF74B7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/curriculum_recognition_emotions_pictograms-3A9B0EB3A9CF4ABCB9B771B6047DF2D0.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/emotion_recognition-pictograms.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔇 (ContentKit): Exercise - remove decode logs
  Modules/ContentKit/Sources/Exercise/Exercise.swift
Due: none

coquilles skills
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_hortense-418F229DD3384711BB241CC5E4F07C46.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_hugo-2046B91706984344AC8CDA8F3E630FE0.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_ladislas-5E7A2E95822643CEBB8628FA26AA0878.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_lucie-69EB05CA4EA841F18D872FD406E81EC5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_yann-EA954F037A944DE292CDB070ECC22357.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense-76C35A0EF85E48BCAF94CCBB83F8EDAF.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense_lucie-711FC9741264476AA295C8D800D16117.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense_yann-C42F409C815043C39B45291B98CE375B.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo-CF8EDAED29B145C083540CBB993B9599.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo_ladislas-4B00611DE88D43A6B8FE057D9B09782A.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo_yann-098E1E5293E9483C98EC96EE746C02F8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_ladislas-B41A5074B87245CEA2F826B31E6B2C3F.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_ladislas_lucie-46B40FAFE4AD435785F0A5489A931812.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_lucie-CB8A88D070664156BDFC5F965BEBE3FE.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_yann-17EAB8CA31E84B5AACAA1A0DA9645B27.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense-56FF7BE1A07B4913BBADD72186E5FAAA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_lucie-F7ADA37ED2154E01971E8CBD581DEFA9.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_yann-45AAFF88B4C04125AD060257843936C6.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_yann_hugo_ladislas_lucie-DCCB05E61EDA4CB9B7A917E5C8C8EBC7.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo-EE32417A034346AFACF984F506774BFD.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo_ladislas-971B4219E3FC4A48847F3AF81CC71DC5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo_yann-693C02F1EF354C9C9152A4D386C04984.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_ladislas-E71DD6285FB84AFEA1DCD7DF434F6B34.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_leka_team-542A920F76DD4F6C809C671C9AC3C7CF.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_lucie-9BC2D6BADB124D82B181DA6571B8E7BB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_yann-D4FAA879BD224C80B6DF122A68FE9E83.yml
Due: none

coquilles skills
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_1_leka-5C8987EC85064792AAA6C9DFB6B315C5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_2_leka-8C2D5551110D4A9BB0F904380C8C6F67.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_3_leka-95F1BDCEA63F478DA164D5A976ACE1DB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_4_leka-FEC05FC6341847A780ED4A958BC4E14C.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

coquilles skills
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_2types-699FB7EB68DD41F1BB24DB67B10CE60D.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_3types-C21549498D584ECBBE713AD05B4225ED.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_2types-DDD78773E4DC4C5BB7A478790096A2CA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_3types-26E096665BE041E8BB10003D3FE08BF2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_2types-C5677BD6215040CA8B2508465D0431D8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_3types-6E345E56197B457D8115445A2A3A8B0E.yml
Due: none

coquilles skills
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_hortense-7AC45BEF2A2A45E7920C7333C7E88CD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_ladislas-5F842C24C9474BF19333975561DE65E7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_lucie-60694D53CB2947AB9D9904587D82FDB3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense-36FE0BCA63D844C4B1137B08784D1B8E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense_ladislas-690BE86C58004D938F4F48C720E8C011.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense_lucie-84464C54E42243FE8EA3B246CCA97064.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_ladislas-65BE6D6886A44B15B30F035819990884.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_ladislas_lucie-A9F2CF9ADC744E02BE09B953E06DCAF8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_lucie-A14D8CA364ED4A078AFD645C0BDE3B19.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_3_lucie_ladislas_hortense-59B0DE4C8A1C41DCA097DC451588AB7C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense-C6ED67057F714AD1A4537072F4886B67.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense_ladislas-893B8311014B419FA5B70D2466C8DA81.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense_lucie-52A21A68D36342CB95CF0AE709523471.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas-A486DB1DAA344DCDA614952F0C174CDA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas_lucie-9800B2088C4B4A888FD5BE833D72414B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_lucie-57F83636D7314053A8B734E2D616C057.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

coquilles skills
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_1_image-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

⚡️ (ContentKit): List activities, curriculums only once
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/ActivitiesView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/SampleActivityListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumsView.swift
  Modules/ContentKit/Examples/ContentKitExample/Sources/ActivityListView.swift
  Modules/ContentKit/Sources/Activity/Activity.swift
  Modules/ContentKit/Sources/ContentKit.swift
  Modules/ContentKit/Sources/Views/ActivityListView.swift
  Modules/ContentKit/Sources/Views/CurriculumListView.swift
Due: none

coquilles HMI
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_functional_category_with_an_intruder.activitDB5A88B225644ABC997B86FD0E025443.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_an_intruder.activity-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_2-A68EF64659D24004B254C9F924800511.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_3-2F6BDA819A304526AA40E9573B42C6E3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_with_2_components-AB832F7004D44525B90654D553355E2B.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_clean_and_dirty_items-29CF410501F644799C18C9F970C53129.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_hot_and_cold_items-FDC6A9C523C54A47B40F2C4F1B480581.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_little_and_big_items-9309431C672C45F2946B718BAF0A8D5F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_wet_and_dry_items-525A44C44F154B408244CCD3E57E77EA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🐛 (ContentKit): Example - fix compilation error due to #978
  Modules/ContentKit/Examples/ContentKitExample/Sources/CurriculumListView.swift
Due: none

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_little_and_big_items-9309431C672C45F2946B718BAF0A8D5F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_positional_concepts_1-1E85ED4F09A84B48904467AC40127824.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

skills et tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_number_quantity_1-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_objects_by_function_1-DD1C6FE74232465DBB5B97378AEBB430.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_objects_by_function_2-6020D9253EE6497A85FA7DE73C1FAEC2.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_more_than_two_syllables-AF9ACAC51F4240259050982EC15D0C7A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_one_syllable-49E3191F47824DEFA6011498A1B3A8AF.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_two_syllables-353CCBCBA81247389E1086B64912273F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

tags
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_thumbs_up_thumbs_down-13E0B701B0534391B9BBECB83EFB83F5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (ContentKit): Update curriculums icons
  Modules/ContentKit/Resources/Content/activities/standalones/icons/recognition_time_of_day_day_night.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/emotion_recognition-drawings.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/emotion_recognition-pictograms.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/emotion_recognition-pictures.curriculum.icon.png
Due: none

Update curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0.curriculm.yml
Due: none

✨ (ContentKit): Add Emotion Recogntion Generalisation curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-generalization-3_images_2_types-c93c9465-4559-426d-961b-7074e63b4782.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-generalization-3_images_3_types-3875e8e0-97b6-4655-a455-4d5d62f97aa7.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-generalization-4_images_2_types-7c083f94-cc67-418c-8ed2-2b2da3102612.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-generalization-4_images_3_types-0903663b-d062-434a-aa02-ad139509bd46.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-generalization-6_images_2_types-b7f10e00-5d59-48fa-8c30-fa9bbd3c738a.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/icons/emotion_recognition-generalization-6_images_3_types-46511f38-10ec-4f0a-b84f-18bc8dd876b5.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3_images_2_types-699FB7EB68DD41F1BB24DB67B10CE60D.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3_images_3_types-C21549498D584ECBBE713AD05B4225ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4_images_2_types-DDD78773E4DC4C5BB7A478790096A2CA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4_images_3_types-26E096665BE041E8BB10003D3FE08BF2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6_images_2_types-C5677BD6215040CA8B2508465D0431D8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6_images_3_types-6E345E56197B457D8115445A2A3A8B0E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/curriculum_recognition_emotions_generalization-173A0E0985D944F9835E2205867121FC.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/emotion_recognition-generalization.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid
