Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

check_xcstrings_stale_entries:
  name: Check .xcstrings files for stale entries
  description: This hook checks .xcstrings files for stale entries
  entry: python3 Tools/Hooks/check_xcstrings_stale_entries.py
  language: python
  additional_dependencies:
  - pygments

check_xcstrings_unusual_terminators:
  name: Check .xcstrings files for unusual terminators
  description: This hook checks .xcstrings files for unusual terminators
  entry: python3 Tools/Hooks/check_xcstrings_unusual_terminators.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

:bento: curriculum fix last_edited_at
  Modules/ContentKit/Resources/Content/curriculums/curriculum_fruits_and_vegetables_generalization-B6F2027A304C44F5B3C482EAFCD8DE7E/activities/fruits_and_vegetables_generalization_with_3_intruders-3779DB303E4F46C798AE44FA3486A86D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_fruits_and_vegetables_generalization-B6F2027A304C44F5B3C482EAFCD8DE7E/activities/fruits_and_vegetables_generalization_without_intruder-C1980C72ED7C4789BEF7E309DD9DFF0B.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (LekaApp): Add button to redirect to LekaUpdater if robot not up to date
  Modules/RobotKit/Resources/Localizable.xcstrings
  Modules/RobotKit/Sources/UI/Views/ConnectedRobotView.swift
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (BLEKit): AdvertisingData is optional for RobotDiscoveryModel
  Modules/BLEKit/Sources/Models/RobotDiscoveryModel.swift
Due: none

🏗️ (BLEKit): Make retrieveConnectedRobots public
  Modules/BLEKit/Sources/BLEManager.swift
Due: none

✨ (RobotKit): Reconnect to a robot if it's already connected in another app
  Modules/RobotKit/Sources/UI/ViewModels/RobotConnectionViewModel.swift
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView.swift
Due: none

🩹 (RobotKit): Remove update button if app is LekaUpdater
  Modules/RobotKit/Sources/UI/Views/ConnectedRobotView.swift
Due: none

🚚 (LekaUpdater): Rename UpdateProcessV150 to UpdateProcessV200
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/UpdateProcessController.swift
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV200.swift
Due: none

🚚 (BLEKit): Move AdvertisingServiceData file in group
  Modules/BLEKit/Sources/Models/AdvertisingServiceData/AdvertisingServiceData.swift
Due: none

✨ (BLEKit): Add AdvertisingServiceData protocol
  Modules/BLEKit/Sources/Models/AdvertisingServiceData/AdvertisingServiceDataProtocol.swift
Due: none

✨ (BLEKit): Add AdvertisingServiceData depending on versions
  Modules/BLEKit/Sources/Models/AdvertisingServiceData/Version/AdvertisingServiceDataV100.swift
  Modules/BLEKit/Sources/Models/AdvertisingServiceData/Version/AdvertisingServiceDataV130.swift
  Modules/BLEKit/Sources/Models/AdvertisingServiceData/Version/AdvertisingServiceDataV200.swift
Due: none

♻️ (BLEKit): Modular AdvertisingServiceData depending on version
  Modules/BLEKit/Sources/Models/AdvertisingServiceData/AdvertisingServiceData.swift
Due: none

✨ (BLEKit): Add isDeepSleeping in RobotDiscovery
  Modules/BLEKit/Sources/Models/RobotAdvertisingData.swift
  Modules/BLEKit/Sources/Models/RobotDiscoveryModel.swift
Due: none

🐛 (BLEKit): Unwrap advertisingData
  Modules/BLEKit/Sources/Models/RobotDiscoveryModel.swift
Due: none

🚸 (RobotKit): Reconnect to a robot in deep sleep
  Modules/RobotKit/Sources/UI/ViewModels/RobotConnectionViewModel.swift
Due: none

💄 (RobotKit): Add ProgressView when connecting to deep sleeping robot
  Modules/RobotKit/Resources/Localizable.xcstrings
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView+l10n.swift
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (GEK): Add GameplayChooseAnyAnswerUpToThree
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/GameplayChooseAnyAnswerUpToThree.swift
Due: none

✨ (GEK): Add Coordinator, View & MapState
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+ChooseAnyAnswerUpToThree.swift
Due: none

✨ (GEK): Use TTSViewChooseAnyAnswerUpToThree in ContentVw
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/ContentView.swift
Due: none

✨ (GEK): Add finishButton and related logic
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/GameplayChooseAnyAnswerUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+ChooseAnyAnswerUpToThree.swift
Due: none

⚗️ (GEKExample): Set up project, navigation
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/ContentView.swift
Due: none

⚗️ (GEKExample): Add TTSView
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+AssociateCategories.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView.swift
Due: none

⚗️ (GEKExample): Add TTSViewViewModel, ChoiceModel, State, StateBadge
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+AssociateCategories.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView.swift
Due: none

⚗️ (GEKExample): Implement coordinator for TTS + FindTheRightAnswers
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/GameplayFindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/MainApp.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTS+GameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView.swift
Due: none

⚗️ (GEKExample): Add GameplayChooseAnyAnswerUpToThree
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/GameplayChooseAnyAnswerUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+ChooseAnyAnswerUpToThree.swift
Due: none

🍱 (ContentKit): Add & update PDF resource files
  Modules/ContentKit/Resources/Content/resources/en/accessories_pack_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/bluetooth_connection_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/magic_cards_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/magic_cards_activities_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/robot_charging_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/session_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/starter_kit_magic_cards_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/accessories_pack_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/bluetooth_connection_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/emergency_stop_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/guided_access_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/leka_apps_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/magic_cards_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/magic_cards_activities_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/magic_cards_holder_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/moving_with_leka_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/robot_charging_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/session_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/starter_kit_magic_cards_FR.resource.pdf
Due: none

🍱 (ContentKit): Add PDF files illustrations
  Modules/ContentKit/Resources/Content/resources/illustrations/accessories_pack.resource.icon.png
  Modules/ContentKit/Resources/Content/resources/illustrations/bluetooth_connection.resource.icon.png
  Modules/ContentKit/Resources/Content/resources/illustrations/magic_cards_activities.resource.icon.png
  Modules/ContentKit/Resources/Content/resources/illustrations/magic_cards_holder.resource.icon.png
  Modules/ContentKit/Resources/Content/resources/illustrations/robot_charging.resource.icon.png
  Modules/ContentKit/Resources/Content/resources/illustrations/starter_kit_magic_cards.resource.icon.png
Due: none

💄 (ContentKitxLekaApp): Upgrade Resources section
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Categories/CategoryResourcesDeepDiveView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryResourcesFirstStepView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryResourcesVideosView.swift
  Modules/ContentKit/Resources/Content/categories/resources_deep_dive.category.yml
  Modules/ContentKit/Resources/Content/categories/resources_first_steps.category.yml
  Modules/ContentKit/Resources/Content/categories/resources_videos.category.yml
  Modules/ContentKit/Sources/Categories/Category+Resources.swift
  Modules/ContentKit/Sources/Views/ResourceFileView.swift
  Modules/ContentKit/Sources/Views/ResourceGridView.swift
  Modules/ContentKit/Sources/Views/ResourceVideoView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✏️ (ContentKit): Fix tags and skills typos
  Modules/ContentKit/Resources/Content/definitions/skills.yml
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: check_yaml_definitions_skills

:bento: curriculum fix assets name
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_1-4719436B24BA4876804DC6A734BA7E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_2-4FBB9C309C454DD8BF73FBC564989CF3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_4-0977107F2D0B42CD8563FF12EF5EC773.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_6-0C84A385DC1B483494978DDF212B8D2D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔥 (GEK): Remove PlayType from all Gameplays
  Modules/GameEngineKit/Sources/Exercises/ExerciseState.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/HideAndSeek/HideAndSeekView+Player.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/SuperSimon/GameplaySuperSimon.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+DragAndDropToAssociate.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+Memory.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+DragAndDropIntoZones.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+TouchToSelect.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightOrder/GameplayFindTheRightOrder+DragAndDropInOrder.swift
Due: none

:bento: curriculum fix assets name conflict
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_bird_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_chicken_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_cow_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_donkey_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_goat_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_goose_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_horse_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_pig_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_rooster_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_sheep_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-bird.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-chicken.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-cow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-donkey.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-duck.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-goat.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-goose.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-horse.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-pig.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-rooster.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-sheep.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/pictograms-animals-farm-swan.activity.asset.png
Due: none

🔥 (GEK): Remove finishButton from ActivityView
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

:bento curriculum fix assets name
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_1-3A4F8EBF04424890B2EBF25DA6EC531A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_2-AFF0A81CEC734DABA7656B61B6F967A3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_4-DF875617328749248EA4641BEFA3278E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_6-04447C2020BB43BB911F816499FAD2DD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_bear_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_bird_robin_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_boar_black.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_fox_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_gorilla_black.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_hedgehog_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_owl_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_rabbit_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_squirrel_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_stag_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_wolf_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-bear_brown-005E.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-bird_robin_red-005B.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-boar_black-005D.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-fox_orange-0064.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-frog_green-0067.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-hedgehog_brown-0062.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-owl_brown-005A.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-rabbit_gray-0061.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-snail_brown-0069.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-snake_green-0065.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-squirrel_orange-005C.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-stag_brown-0060.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/pictograms-animals-forest-wolf_gray-005F.activity.asset.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

♻️ (RobotKit): Remove revision from robot OS version
  Apps/LekaUpdater/Sources/Libs/FirmwareManager.swift
  Apps/LekaUpdater/Sources/ViewModel/RobotInformationViewModel.swift
  Modules/BLEKit/Sources/Models/RobotDiscoveryModel.swift
  Modules/RobotKit/Sources/Robot.swift
  Modules/RobotKit/Sources/UI/ViewModels/ConnectedRobotInformationViewModel.swift
Due: none

:bento: curriculum add missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_duck_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_swan.activity.asset.png
Due: none

:bento: curriculum add missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_1-945961648A2746688D36698AD0B82F86.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_2-523C95EDD2C84DF9B4800D3E400DC6BF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_4-F0B3DACF264B4DC09B4C0AF1DBEF1515.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_6-1F29E5D70995475BBDFC87C634626625.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-koala_gray-0077.activity.asset.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚚 (GEKExample): Reorganize files, view, gameplays, coordinators
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/MainApp.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayChooseAnyAnswersUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+AssociateCategories.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+ChooseAnyAnswerUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/TTSView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSCoordinator+ChooseAnyAnswersUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSChoice.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSViewViewModel.swift
Due: none

♻️ (GEKExample): ChooseAnyAnswersUpToThree - Use own choice model, states
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayChooseAnyAnswersUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSCoordinator+ChooseAnyAnswersUpToThree.swift
Due: none

🍱 (DesignKit): Add robot_face_sleeping
  Modules/DesignKit/Resources/Images.xcassets/robot_face_sleeping.imageset/Contents.json
  Modules/DesignKit/Resources/Images.xcassets/robot_face_sleeping.imageset/robot_face_sleeping.svg
Due: none

🚸 (RobotKit): Show sleeping image if robot is in deep sleep
  Modules/BLEKit/Sources/Mocks/RobotDiscoveryModel+Mocks.swift
  Modules/BLEKit/Sources/Models/RobotDiscoveryModel.swift
  Modules/RobotKit/Sources/UI/ViewModels/Mocks/RobotDiscoveryViewModel+Mocks.swift
  Modules/RobotKit/Sources/UI/ViewModels/RobotDiscoveryViewModel.swift
  Modules/RobotKit/Sources/UI/Views/RobotDiscoveryView.swift
Due: none

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
