Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

check_xcstrings_stale_entries:
  name: Check .xcstrings files for stale entries
  description: This hook checks .xcstrings files for stale entries
  entry: python3 Tools/Hooks/check_xcstrings_stale_entries.py
  language: python
  additional_dependencies:
  - pygments

check_xcstrings_unusual_terminators:
  name: Check .xcstrings files for unusual terminators
  description: This hook checks .xcstrings files for unusual terminators
  entry: python3 Tools/Hooks/check_xcstrings_unusual_terminators.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

🔥 (LekaApp): Remove onCreated callbacks on Carereceiver creation
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+Step3.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CreateCarereceiverView.swift
Due: none

:recycle: (LekaUpdater): Allow update v1.4.100 and v1.4.101
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/UpdateProcessController.swift
Due: none

:bento: (LekaUpdater): Add sounds
  Apps/LekaUpdater/Resources/1-ACTIVITE REUSSIE.wav
  Apps/LekaUpdater/Resources/21-TAG DETEC.wav
  Apps/LekaUpdater/Resources/25-CONNEXION BT.wav
  Apps/LekaUpdater/Resources/27-BATTERIE MINIME.wav
  Apps/LekaUpdater/Resources/3-BATTERIE FAIBLE.wav
  Apps/LekaUpdater/Resources/37-WELCOME.wav
  Apps/LekaUpdater/Resources/8-FIN DE CHARGE.wav
Due: none

:bento: (LekaUpdater): Add v1.4.101
  Apps/LekaUpdater/Project.swift
  Apps/LekaUpdater/Resources/LekaOS-1.4.101-en.md
  Apps/LekaUpdater/Resources/LekaOS-1.4.101-fr.md
  Apps/LekaUpdater/Resources/LekaOS-1.4.101.bin
Due: none

:sparkles: (LekaUpdater): Send assets
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV150.swift
Due: none

:alembic: Allow update for same version
  Apps/LekaUpdater/Sources/Libs/FirmwareManager.swift
Due: none

debug only
  Modules/RobotKit/Resources/Localizable.xcstrings
  Modules/RobotKit/Sources/Robot+Information.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

Try open LekaApp
  Apps/LekaUpdater/Sources/View/UpdatingViews/UpdateFinishedView.swift
Due: none

✨ (LekaApp): Add calback action to start activity
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/SampleActivityListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumListView.swift
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: none

name + UUID + activities list
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_categorization-E6A322DC7A6E48518CED2CA2D3D2A595.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_color_bingo-8023D780EEC843418EDC1FFA814E58F6.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_number_quantity-4499A9AFB56B4476969B96CE32F5314C.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_objects_by_color-506EA3B894AE46EBAE4BE4AFFC65233F.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_generalization-173A0E0985D944F9835E2205867121FC.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_pictograms-3A9B0EB3A9CF4ABCB9B771B6047DF2D0.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_emotions_pictures-BA3CB88A6A6E49CB9AB83FA992BF852B.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_animals-FED25D9B424E42019F03593FE0D65AEE.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_sounds_musical_instruments-6A5EF209D00942F4AEEA4AEC6DAC052A.curriculm.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/curriculum_recognition_weather_and_temperatures-1D8E1AB667DB40B199479D731EF96F2E.curriculm.yml
Due: none

standalones
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_1-CBBCDFA8DC8C462794904F6E5E0638AB.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/discover_leka-89CEA9FE20624659B1307B633641BC90.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/hideAndSeek-4BFA2AC3390E49248DD022E27008F118.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/recognition_time_of_day_day_night-7710D57FB7214D4F90246463F20773D1.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/xylophone_pentatonic-7C1DDED6C6D44913B9A7D4EB4AEE8F6B.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

curriculum_color_bingo
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_1-CBBCDFA8DC8C462794904F6E5E0638AB.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_2-7960FD995EDC4C179A4BA4997E4C5A4F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_3-E742B4AF67204DA68C08ADEC6126648E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_4-A7584D692B23422BB12683FA7BE393BE.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/color_bingo_6-EFC7F64F51FD4D68863749C1C278BD1F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

curriculum-categorization
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_functional_category_with_an_intruder.activitDB5A88B225644ABC997B86FD0E025443.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_an_intruder.activity-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Create receptive_language_identify_number_quantity_1-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_number_quantity_1-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

lucie/receptive_language_identify_opposites
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_clean_and_dirty_items-29CF410501F644799C18C9F970C53129.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_hot_and_cold_items-FDC6A9C523C54A47B40F2C4F1B480581.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_little_and_big_items-9309431C672C45F2946B718BAF0A8D5F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_wet_and_dry_items-525A44C44F154B408244CCD3E57E77EA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add onStartActivity callback
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

receptive_language_identify_familiar_nouns
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_more_than_two_syllables-AF9ACAC51F4240259050982EC15D0C7A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_one_syllable-49E3191F47824DEFA6011498A1B3A8AF.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_two_syllables-353CCBCBA81247389E1086B64912273F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add onActivitySelected callback
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: none

eceptive_language_identify_objects_by_function
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_objects_by_function_1-DD1C6FE74232465DBB5B97378AEBB430.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_objects_by_function_2-6020D9253EE6497A85FA7DE73C1FAEC2.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

receptive_language_identify_ing_verbs
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_2-A68EF64659D24004B254C9F924800511.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_3-2F6BDA819A304526AA40E9573B42C6E3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_with_2_components-AB832F7004D44525B90654D553355E2B.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_emotions_drawings
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_hugo-D9663D6F1E9F4D228FDCD918317996A3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_louna-A5D3673F3D9643B29EF6F7C5CBAE73CA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_moussa-FDFB9C81374044D594DE430EB961E7DD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_oscar-E44983B555BC44659C91605315A12C29.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_1_zoe-A703772398514DB298DDEF6435D787CD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo-9459DB5E83F74AE88B86D9A961A9C331.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo_moussa-486C6B3EC7774FB4ADA8DDC8A8C4AC85.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo_zoe-00DCB1EFAF0046BFA2421F4A71F44E98.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna-85D74E8ED0CF4E18A29F5C7305CBEC7A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna_oscar-731C7519652F44408307FBA3E8353E1E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna_zoe-578CA01FC1464855A98A92943A472521.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_moussa-E49EEAC175EA487F9BF2C767B46233DC.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_oscar-4E509EEF60244D68BBAD610675BEEC5F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_oscar_hugo-A60A42C7CC1C4A2096B493D1214B7757.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_zoe-B2E3C40835574DEC8F0FB6DBDF1B0E18.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_all_characters-F0F6C98DA212464387B00DDD298D882A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_hugo-5FC4C6B028834D5FB10092EB0A92BFFE.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_hugo_louna_moussa_oscar_zoe-6A2E053D6A1D49DB8636421A50458B6F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_hugo_zoe-EA390CDEEEC24E279E7738107B6D68E2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_louna-D48FACE8648F40D2B410A8123EAAFF63.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_louna_oscar-4D7B43FA50E74A6D9A1AA4C49AFC82C0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_louna_zoe-6467C269389743B0B4846CB900E9DC2A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_moussa-602ADEF84FE342D48A14F4FDEE1B721C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_oscar-7DBFAB2704EF4C0086BEC36BE0BC295E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_oscar_hugo-FE48BA74BFB147DC8639C5056740BB7B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_oscar_moussa-5F384AC5C4E8460BAF7361793051BF79.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_4_zoe-7AACD460ACBD49FA88BE66182C59833D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

♻️ (LekaApp): Use callback actions to start activities
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/SampleActivityListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumListView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

recognition_emotions_pictures
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_hortense-418F229DD3384711BB241CC5E4F07C46.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_hugo-2046B91706984344AC8CDA8F3E630FE0.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_ladislas-5E7A2E95822643CEBB8628FA26AA0878.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_lucie-69EB05CA4EA841F18D872FD406E81EC5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_yann-EA954F037A944DE292CDB070ECC22357.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense-76C35A0EF85E48BCAF94CCBB83F8EDAF.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense_lucie-711FC9741264476AA295C8D800D16117.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense_yann-C42F409C815043C39B45291B98CE375B.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo-CF8EDAED29B145C083540CBB993B9599.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo_ladislas-4B00611DE88D43A6B8FE057D9B09782A.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo_yann-098E1E5293E9483C98EC96EE746C02F8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_ladislas-B41A5074B87245CEA2F826B31E6B2C3F.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_ladislas_lucie-46B40FAFE4AD435785F0A5489A931812.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_lucie-CB8A88D070664156BDFC5F965BEBE3FE.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_yann-17EAB8CA31E84B5AACAA1A0DA9645B27.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense-56FF7BE1A07B4913BBADD72186E5FAAA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_lucie-F7ADA37ED2154E01971E8CBD581DEFA9.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_yann-45AAFF88B4C04125AD060257843936C6.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_yann_hugo_ladislas_lucie-DCCB05E61EDA4CB9B7A917E5C8C8EBC7.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo-EE32417A034346AFACF984F506774BFD.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo_ladislas-971B4219E3FC4A48847F3AF81CC71DC5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo_yann-693C02F1EF354C9C9152A4D386C04984.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_ladislas-E71DD6285FB84AFEA1DCD7DF434F6B34.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_leka_team-542A920F76DD4F6C809C671C9AC3C7CF.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_lucie-9BC2D6BADB124D82B181DA6571B8E7BB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_yann-D4FAA879BD224C80B6DF122A68FE9E83.yml
Due: none

recognition_emotions_pictograms
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_1_leka-5C8987EC85064792AAA6C9DFB6B315C5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_2_leka-8C2D5551110D4A9BB0F904380C8C6F67.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_3_leka-95F1BDCEA63F478DA164D5A976ACE1DB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_4_leka-FEC05FC6341847A780ED4A958BC4E14C.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_emotions_generalization
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_2types-699FB7EB68DD41F1BB24DB67B10CE60D.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_3types-C21549498D584ECBBE713AD05B4225ED.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_2types-DDD78773E4DC4C5BB7A478790096A2CA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_3types-26E096665BE041E8BB10003D3FE08BF2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_2types-C5677BD6215040CA8B2508465D0431D8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_3types-6E345E56197B457D8115445A2A3A8B0E.yml
Due: none

recognition_emotions_in_context
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_5_emotions-E4753C378F974C58BD5EAAE85717D277.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_thumbs_up_thumbs_down-13E0B701B0534391B9BBECB83EFB83F5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_sounds_animals
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_1_image-C4CBE259AC1347DE9C7EBE642EA9BA35.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_2_images-9D3DE26C58034D9AA9301EF0FBBD6761.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_3_images-77EE54847AEC4BD3BAE7D1288342AAD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_4_images-B60142FDD7DE4E9FBBA7E9E9BF1ECF08.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_5_images-B8CCEFBDAFFF4A18A5BAA95335141C02.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_6_images-75B58F8E595F431399E0BAB7278A860D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_sounds_emotions
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_hortense-7AC45BEF2A2A45E7920C7333C7E88CD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_ladislas-5F842C24C9474BF19333975561DE65E7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_lucie-60694D53CB2947AB9D9904587D82FDB3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense-36FE0BCA63D844C4B1137B08784D1B8E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense_ladislas-690BE86C58004D938F4F48C720E8C011.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense_lucie-84464C54E42243FE8EA3B246CCA97064.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_ladislas-65BE6D6886A44B15B30F035819990884.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_ladislas_lucie-A9F2CF9ADC744E02BE09B953E06DCAF8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_lucie-A14D8CA364ED4A078AFD645C0BDE3B19.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_3_lucie_ladislas_hortense-59B0DE4C8A1C41DCA097DC451588AB7C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense-C6ED67057F714AD1A4537072F4886B67.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense_ladislas-893B8311014B419FA5B70D2466C8DA81.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense_lucie-52A21A68D36342CB95CF0AE709523471.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas-A486DB1DAA344DCDA614952F0C174CDA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas_lucie-9800B2088C4B4A888FD5BE833D72414B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_lucie-57F83636D7314053A8B734E2D616C057.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_sounds_musical_instruments
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_1_image-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_2_images-1032EA5E0C3D421F8AC806CAA8897D97.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_3_images-BA0F2146BD5A420095F82A4C859D0EE8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_4_images-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_5_images-94C14E6AA18E4FCA995B00B91103FA79.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_6_images-B691334EF5A743EDAFCFC0701377D84E.activity.yml
  Modules/ContentKit/Tests/recognition_sounds_musical_instruments_drawings_1_image-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
  Modules/ContentKit/Tests/recognition_sounds_musical_instruments_drawings_2_images-1032EA5E0C3D421F8AC806CAA8897D97.activity.yml
  Modules/ContentKit/Tests/recognition_sounds_musical_instruments_drawings_3_images-BA0F2146BD5A420095F82A4C859D0EE8.activity.yml
  Modules/ContentKit/Tests/recognition_sounds_musical_instruments_drawings_4_images-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  Modules/ContentKit/Tests/recognition_sounds_musical_instruments_drawings_5_images-94C14E6AA18E4FCA995B00B91103FA79.activity.yml
  Modules/ContentKit/Tests/recognition_sounds_musical_instruments_drawings_6_images-B691334EF5A743EDAFCFC0701377D84E.activity.yml
  recognition_sounds_musical_instruments_drawings_1_image-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
  recognition_sounds_musical_instruments_drawings_2_images-1032EA5E0C3D421F8AC806CAA8897D97.activity.yml
  recognition_sounds_musical_instruments_drawings_3_images-BA0F2146BD5A420095F82A4C859D0EE8.activity.yml
  recognition_sounds_musical_instruments_drawings_4_images-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  recognition_sounds_musical_instruments_drawings_5_images-94C14E6AA18E4FCA995B00B91103FA79.activity.yml
  recognition_sounds_musical_instruments_drawings_6_images-B691334EF5A743EDAFCFC0701377D84E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_basic_physiological_needs
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_1_image-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_2_images-5DBCCB46BA2B4646983BDC7160E03536.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_4_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

recognition_weather_and_temperatures
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_hot_and_cold-18DA1F9028CF447E819507B0A6562F2E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_2_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_4_images-030525AA798F4E0D8EDAFAF3939471F9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

receptive_language_identify_positional_concepts
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_positional_concepts_1-1E85ED4F09A84B48904467AC40127824.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

ajout-des-assets-manquants
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_hot_and_cold_items-FDC6A9C523C54A47B40F2C4F1B480581.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_little_and_big_items-9309431C672C45F2946B718BAF0A8D5F.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_opposites_wet_and_dry_items-525A44C44F154B408244CCD3E57E77EA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Ajout des assets manquants
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_number_quantity_1-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Ajout des assets manquants
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_positional_concepts_1-1E85ED4F09A84B48904467AC40127824.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (AccountKit): Use Firestore persistance to update currentCG
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

Ajout des assets
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_behind_car.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_behind_table.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_in_car.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_on_table.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_under_car.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_under_table.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-cat_behind_chair.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-cat_on_chair.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-cat_under_chair.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-dog_in_kennel.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-dog_on_kennel.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-doy_behind_kennel.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-girl_in_bed.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-girl_on_bed.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-girl_under_bed.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-toy_in_cupboard.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-toy_on_cupboard.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-toy_under_cupboard.svg
Due: none

ajout des assets
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_four.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_one.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_three.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_two.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_four.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_one.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_two.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-booke_three.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_four.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_one.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_three.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_two.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_four.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_one.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_three.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_two.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_four.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_one.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_three.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_two.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_four.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_one.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_three.svg
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_two.svg
Due: none

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
