Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

modif-coquilles
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_6_images-D9A7EC7FDFA5478596A36015A03F4D5E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:zap: (LekaUpdater): Remove/Reduce waiting time before writing in BLE
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV150.swift
Due: none

:sparkles: (BLEKit): Add negotiated MTU characteristic
  Modules/BLEKit/Sources/BLESpecs.swift
  Modules/RobotKit/Sources/Robot+Information.swift
  Modules/RobotKit/Sources/Robot.swift
Due: none

:truck: (LekaUpdater): Add UpdateProcessV150
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/UpdateProcessController.swift
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV150.swift
Due: none

:zap: (LekaUpdater): Maximum packet size related to negotiated MTU
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV150.swift
Due: none

changements assets cycliste
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/assets/sport_accessory_bike.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/assets/sport_accessory_helmet.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/assets/sport_cycling_player_man.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/assets/sport_cycling_player_woman.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_1_image-69283AFFE9F24D73A99F22F46D9D28D3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_2_images-DF4A9657809D4435916A82A8314D2E4A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_3_images-2AFAF1C1D3ED4602A9BBB8B06E51D59D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_4_images-55ECB1EFFAA3466CA1704BCFE7AC371E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_5_images-659278115279467190B097830E94F250.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_6_images-D9A7EC7FDFA5478596A36015A03F4D5E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choice-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚧 (GEK): Save ExerciseCompletionData & payloads
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
  Modules/AccountKit/Sources/Managers/ActivityCompletionData/ExerciseCompletionDataManager.swift
  Modules/GameEngineKit/Sources/Exercises/ExerciseSharedData.swift
  Modules/GameEngineKit/Sources/Exercises/ExerciseState.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/SuperSimon/GameplaySuperSimon.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+DragAndDrop.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+DragAndDropIntoZones.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+TouchToSelect.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityProgressBar.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityViewViewModel.swift
Due: none

🚧 (TO FIX UP): Introduce .saving state
  Modules/GameEngineKit/Sources/Exercises/ExerciseSharedData.swift
  Modules/GameEngineKit/Sources/Exercises/ExerciseState.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectViewViewModel.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+TouchToSelect.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityViewViewModel.swift
Due: none

🏗️ (GEK): Add ChoiceProviderGameplayProtocol
  Modules/GameEngineKit/Sources/Gameplays/ChoiceProviderGameplayProtocol.swift
Due: none

🏗️ (GEK): Gameplays conform to ChoiceProviderGameplayProtocol
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+DragAndDrop.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+DragAndDropIntoZones.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+TouchToSelect.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers.swift
Due: none

♻️ (GEK): Update VMs with gameplay protocol changes
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ToAssociate/DragAndDropToAssociateView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectViewViewModel.swift
Due: none

✨ (GEKxContentKit): Add new TTSInRightOrder Gameplay
  Modules/ContentKit/Resources/Content/activities/standalones/sorting_ascending_numbers-4FFCB22E72994A35A7BF0D78468D49A8.activity.yml
  Modules/ContentKit/Sources/Exercise/Exercise+Gameplay.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectViewViewModel.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswersInRightOrder/GameplayFindTheRightAnswersInRightOrder+TouchToSelectInRightOrder.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswersInRightOrder/GameplayFindTheRightAnswersInRightOrder.swift
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

♻️ (GEK): Update Views to handle different gameplay
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/DraggableImageAnswerNode.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView+0_BaseScene.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ToAssociate/DragAndDropToAssociateView+0_BaseScene.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+2_TwoChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+3_ThreeChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+4_FourChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+5_FiveChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+6_SixChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelect.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelectView+2_TwoChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelectView+3_ThreeChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelectView+4_FourChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelectView+5_FiveChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ObserveThenTouchToSelect/ObserveThenTouchToSelectView+6_SixChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView+2_TwoChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView+3_ThreeChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView+4_FourChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView+5_FiveChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView+6_SixChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectChoiceView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView+2_TwoChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView+3_ThreeChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView+4_FourChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView+5_FiveChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView+6_SixChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView.swift
Due: none

🔧 (jtd): Activity - add status: template
  Specs/jtd/activity.jtd.json
Due: none

🧑‍💻 (LekaApp): List published, draft and template activities
  Apps/LekaApp/Sources/Navigation/Navigation+Category.swift
  Apps/LekaApp/Sources/Views/DeveloperMode/AllDraftActivities.swift
  Apps/LekaApp/Sources/Views/DeveloperMode/AllPublishedActivitiesView.swift
  Apps/LekaApp/Sources/Views/DeveloperMode/AllTemplateActivities.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+CategoryLabel.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Modules/ContentKit/Sources/Activity/Activity.swift
  Modules/ContentKit/Sources/ContentKit.swift
Due: none

♻️ (ContentKit): Refactor decoding of activities, curriculums, stories to get errors
  Modules/ContentKit/Sources/ContentKit.swift
Due: none

✨ (GEK): Exercise Action - add emoji, sfsymbol for ipad
  Modules/ContentKit/Sources/Exercise/Exercise+Action.swift
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Robot.swift
Due: none

♻️ (GEK): Views - Implement Listen Then... for all views with audio, speech
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropIntoZones/ListenThenDragAndDropIntoZonesView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropToAssociate/ListenThenDragAndDropToAssociateView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
Due: none

🚚 (ContentKit): Reorganize activity templates
  Modules/ContentKit/Resources/Content/activities/templates/activity_template-0123456789ABCDEF0123456789ABCDEF.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_into_zones_action_listen-D0628D4F8E824B85A630DAD51E7EFA6F.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_into_zones_action_observe-5FAFAED40887445CAC2FCCD71B04EE0A.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_into_zones_action_robot-D4E1740ED3BA427F90E697F026838A55.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_into_zones_vanilla-B71AC551EB514C32819C5ECCAED89D2A.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_to_associate_action_listen-6514B0AAFB764F73AE999A0889C22942.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_to_associate_action_observe-CD7A08C84F4140C8B03815EF53264596.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_to_associate_action_robot-0EE9A795E541434C972A5DD1D27CDB8D.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/drag_and_drop_to_associate_vanilla-65ACB28373384E0099D55DF2E3F3F807.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/exercise_templates.yml
  Modules/ContentKit/Resources/Content/activities/templates/icons/activity_template_icon_name.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/placeholder_1.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/placeholder_2.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/placeholder_3.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/placeholder_4.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/sample_2.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/template_drag_and_drop_into_zones.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/template_drag_and_drop_to_associate.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/icons/template_touch_to_select.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/templates/listen_then_drag_and_drop_into_zones-D0D03F144694441AA3A12E744A27ECC1.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/listen_then_drag_and_drop_to_associate-74787B6F2FA0419AB101B53AC0C5B7BB.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/observe_then_drag_and_drop_into_zones-81E6EC093AD24B0AB86DAC66423E9D3E.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/observe_then_drag_and_drop_to_associate-88DACAA97FCB46CC8624E2ADF23D7858.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/recognition_name_musical_instruments_drawings_6_images-B691334EF5A743EDAFCFC0701377D83F.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/robot_then_drag_and_drop_into_zones-C0F971199C16438EBB0AF0DFE37B372F.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/robot_then_drag_and_drop_to_associate-61BD5C6119CC4C908E5FBE01CB98A0FD.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/sample_1-5A670B59EB214A6AA11AB39D64D63990.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/sample_2-6102794F02D3423482E243BCBC7F8CA8.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/touch_to_select_action_listen-285C9F3688324DFEB5298D89648FD63A.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/touch_to_select_action_observe-70A14CC4CD394CDBB4886A8DFE4C5CCC.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/touch_to_select_action_robot-92E9C1A54D8C4110878EFF39E8F2C9AD.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/touch_to_select_vanilla-5930CCA4BD35409696E6FABB5844DCF2.activity.yml
  Modules/ContentKit/Sources/Activity/Activity+Mock.swift
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚚 (ContentKit): Reorganize curriculum templates
  Modules/ContentKit/Resources/Content/curriculums/templates/curriculum_template-426C011BE6334BEC9A00F0BA8C646A6A.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/templates/sample_1-D85443FD58A7431DAAAF94FAC0C0FDDE.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/templates/sample_2-10B5AF3E75C444628AA50B304E009DAC.curriculum.yml
Due: none

🔧 (jtd): Curriculum - add status: template
  Specs/jtd/curriculum.jtd.json
Due: none

➕ (LekaApp): Add YoutubePlayerKit package
  Modules/ContentKit/Project.swift
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

:bug: (GEK): Do not speak if it is already speaking
  Modules/GameEngineKit/Sources/Utils/SpeechSynthesizer.swift
Due: none

new_skills
  Modules/ContentKit/Resources/Content/definitions/skills.yml
Due: check_yaml_definitions_skills

🍱 (ContentKit): Add resource files
  Modules/ContentKit/Resources/Content/resources/en/first_step_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/magic_cards_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/charging_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/emergency_stop_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/first_step_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/guided_access_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/leka_apps_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/magic_card_holder_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/magic_cards_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/moving_with_leka_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/session_FR.resource.pdf
Due: none

✨ (ContentKit): Add yaml resource files, decoding logic
  Modules/ContentKit/Resources/Content/categories/resources_deep_dive.category.yml
  Modules/ContentKit/Resources/Content/categories/resources_first_steps.category.yml
  Modules/ContentKit/Resources/Content/categories/resources_videos.category.yml
  Modules/ContentKit/Sources/Categories/Category+Resources.swift
  Modules/ContentKit/Sources/ContentKit.swift
Due: none

✨ (ContentKit): Add Resources views
  Modules/ContentKit/Sources/Views/ResourceFileView.swift
  Modules/ContentKit/Sources/Views/ResourceGridView.swift
  Modules/ContentKit/Sources/Views/ResourceVideoView.swift
Due: none

✨ (LekaApp): Add CategoryResources views
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Categories/CategoryResourcesDeepDiveView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryResourcesFirstStepView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryResourcesVideosView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (LekaApp): Add Resources section
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Navigation/Navigation+Category.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+CategoryLabel.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+l10n.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/Views/MainView/ResourcesView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🐛 (ContentKit): Add missing curriculum status template
  Modules/ContentKit/Sources/Curriculum/Curriculum.swift
Due: none

:globe_with_meridians: (GEK): Add missing french translation for SuperSimon
  Modules/GameEngineKit/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

:recycle: (GEK): Create new utterance for each speech
  Modules/GameEngineKit/Sources/Utils/SpeechSynthesizer.swift
Due: none

:zap: (GEK): Cancel AudioPlayer timer on AudioPlayer stopped
  Modules/GameEngineKit/Sources/Utils/AudioPlayer.swift
Due: none

:zap: (GEK): Singleton on AudioPlayer
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Listen.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropIntoZones/ListenThenDragAndDropIntoZonesView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropToAssociate/ListenThenDragAndDropToAssociateView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
  Modules/GameEngineKit/Sources/Utils/AudioPlayer.swift
Due: none

:zap: (GEK): Singleton on SpeechSynthesizer
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropIntoZones/ListenThenDragAndDropIntoZonesView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropToAssociate/ListenThenDragAndDropToAssociateView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
  Modules/GameEngineKit/Sources/Utils/SpeechSynthesizer.swift
  Modules/GameEngineKit/Sources/Views/Exercise/ExerciseInstructionsButton.swift
Due: none

:bug: (GEK): SetAudioData in ActionButton to fix speech after instruction
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Listen.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropIntoZones/ListenThenDragAndDropIntoZonesView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropToAssociate/ListenThenDragAndDropToAssociateView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
Due: none

🚸 (LekaApp): TTS - In French do the 'liaison' for "sent-il/elle"
  Modules/GameEngineKit/Sources/Utils/SpeechSynthesizer.swift
Due: none
