Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

🍱 (ContentKit): Curriculum - add sequencing daily life
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_dressing_up_1.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_dressing_up_2.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_dressing_up_3.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_dressing_up_4.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_dressing_up_5.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_hand_washing_1.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_hand_washing_2.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_hand_washing_3.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_hand_washing_4.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_hand_washing_5.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_1.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_2.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_3.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_4.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_5.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/icons/sequencing_daily_life_dressing_up.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/icons/sequencing_daily_life_hand_washing.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/icons/sequencing_daily_life_tooth_brushing.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/sequencing_daily_life_dressing_up-A33F20A81F8F478E8B705F7FAB807965.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/sequencing_daily_life_hand_washing-5EC782D9173A4CD999450FC573DD652D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/sequencing_daily_life_tooth_brushing-0CFC700AF1FE476E9A934487A3159FBD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/sequencing_daily_life.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (ContentKit): Categories - add daily life
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
Due: none

🔖 (LekaApp): Bump version to v1.9.0
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
Due: none

Modifications skills - tags - catégories
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF/activities/receptive_language_identify_positional_concepts_1-1E85ED4F09A84B48904467AC40127824.activity.yml
  Modules/ContentKit/Resources/Content/definitions/skills.yml
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Apply suggestions from code review
  Modules/ContentKit/Resources/Content/definitions/skills.yml
Due: check_yaml_definitions_skills

Update_skills
  Modules/ContentKit/Resources/Content/definitions/skills.yml
Due: check_yaml_definitions_skills

Update tags
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: none

🍱 (ContentKit): Add new memory template icon
  Modules/ContentKit/Resources/Content/activities/templates/icons/template_memory.activity.icon.png
Due: none

✨ (Contentkit): Add Memory template YAML
  Modules/ContentKit/Resources/Content/activities/templates/memory-E87FFF7844134321A4392D7849A4F67F.activity.yml
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add new Memory decoding files
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Memory.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Payload.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
Due: none

✨ (GEK): Add Memory extension for GameplayAssociate
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+Memory.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories.swift
  Modules/GameEngineKit/Sources/Gameplays/GameplayChoiceModels.swift
Due: none

✨ (GEK): Add Memory components views
  Modules/ContentKit/Resources/Content/activities/assets/memory_back_of_cards.activity.asset.png
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/ChoiceView/CardBackView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/ChoiceView/MemoryChoiceView+Color.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/ChoiceView/MemoryChoiceView+Emoji.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/ChoiceView/MemoryChoiceView+Image.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/ChoiceView/MemoryChoiceView+SFSymbol.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/ChoiceView/MemoryChoiceView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (GEK): Add Memory interfaces
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/MemoryView+2_TwoChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/MemoryView+4_FourChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/MemoryView+6_SixChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/MemoryView+8_EightChoices.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/MemoryView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/Memory/MemoryViewViewModel.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

correction doublon
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/activities/color_bingo_1-CBBCDFA8DC8C462794904F6E5E0638AB.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/activities/color_bingo_2-7960FD995EDC4C179A4BA4997E4C5A4F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/activities/color_bingo_3-E742B4AF67204DA68C08ADEC6126648E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/activities/color_bingo_4-A7584D692B23422BB12683FA7BE393BE.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/activities/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/activities/color_bingo_6-EFC7F64F51FD4D68863749C1C278BD1F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/color_bingo-69760D1DA61849E3926E3A939BBEF0CE.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

standalones skills and tags
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_big-D91BDA161F8E455CA8A71881F1D2E923.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_color_pad-5554CD696BB6492594082C5F8F895A85.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_joystick_color_pad-E85F0498A29047E893631397592CC444.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/dance_freeze-6E2F7D56726C419EA534C614F777D934.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/discover_leka-89CEA9FE20624659B1307B633641BC90.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/hide_and_seek-4BFA2AC3390E49248DD022E27008F118.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/melody-CB995F829411449AB32E6B8A688E3DDB.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/recognition_time_of_day_day_night-7710D57FB7214D4F90246463F20773D1.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/super_simon_2_colors-3E4B57F536824F1087A2E512223EF7E0.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/super_simon_4_colors-B39DDA35800849F7A40F651E411D30CD.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/super_simon_6_colors-9EFAAC01288F41C0ACACCA5094FAD8E7.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/xylophone_heptatonic-65193102AE2947439ABB82D5891EDDBA.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/xylophone_pentatonic-7C1DDED6C6D44913B9A7D4EB4AEE8F6B.activity.yml
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (modules): Add AnalyticsKit module (empty)
  Apps/LekaApp/Project.swift
  Modules/AnalyticsKit/Examples/AnalyticsKitExample/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Modules/AnalyticsKit/Examples/AnalyticsKitExample/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Modules/AnalyticsKit/Examples/AnalyticsKitExample/Resources/Assets.xcassets/Contents.json
  Modules/AnalyticsKit/Examples/AnalyticsKitExample/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Modules/AnalyticsKit/Examples/AnalyticsKitExample/Sources/MainApp.swift
  Modules/AnalyticsKit/Examples/AnalyticsKitExample/Sources/MainView.swift
  Modules/AnalyticsKit/Project.swift
  Modules/AnalyticsKit/Resources/Assets.xcassets/Contents.json
  Modules/AnalyticsKit/Sources/AnalyticsKit.swift
  Modules/AnalyticsKit/Tests/AnalyticsKit_Tests.swift
  Workspace.swift
Due: none

WIP - setup carshlytis
  Apps/LekaApp/Project.swift
Due: none

WIP - works on real device, not simulator
  Apps/LekaApp/Project.swift
  Apps/LekaApp/Sources/MainApp.swift
  Apps/LekaApp/Sources/Views/WelcomeView.swift
  Modules/AccountKit/Project.swift
  Modules/AnalyticsKit/Project.swift
  Scripts/FirebaseCrashlyticsRunScript.sh
  Tuist/ProjectDescriptionHelpers/Project+App.swift
Due: none

FIXUP - add more crash types
  Apps/LekaApp/Sources/Views/WelcomeView.swift
Due: none

Activité 1 - Les objets de la table
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_apron.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_balance.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_batter.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_batter_electric.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_bowl.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cooking_pot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cutting_board.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_dishes.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_fork.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_fridge.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_frying_pan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_gas_stove.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_glass.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_knife.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_microwave.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_cofee.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_tea.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_oven.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_oven_mitt.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_plate.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_rolling_pin.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_saucepan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_spoon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_spoon_wooden.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_table.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_tablewar.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_tableware.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_teapot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_washing_machine.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/icons/kitchen_accessory_teapot.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_tableware-6E87124002B34BC18520CDD94BFB8D07.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/kitchen_accessory_teapot.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

cofee to coffee
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_coffee.activity.asset.png
Due: none

assets au bon format
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_apron.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_balance.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_batter.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_batter_electric.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_bowl.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cooking_pot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cupboard.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cutting_board.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_dishes.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_fork.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_fridge.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_frying_pan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_gas_stove.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_glass.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_knife.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_microwave.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_coffee.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_tea.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_oven.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_oven_mitt.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_plate.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_rolling_pin.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_saucepan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_spoon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_spoon_wooden.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_table.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_tablewar.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_tableware.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_teapot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_washing_machine.activity.asset.png
Due: none

ajout ustenciles cuisine
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_whisk.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_kitchen_utensils-A9BC9B8ED47F4EA3A1760EFCCCBE0977.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

add-appareils-electromenagers
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/icons/curriculum_recognition_kitchen_items.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/icons/kitchen_accessory_teapot.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_household_appliances-2CBFAD17B01F4288AAE9CCCE37088FEC.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_kitchen_utensils-A9BC9B8ED47F4EA3A1760EFCCCBE0977.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_tableware-6E87124002B34BC18520CDD94BFB8D07.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/curriculum_recognition_kitchen_items.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/kitchen_accessory_teapot.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

commit
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_tableware-6E87124002B34BC18520CDD94BFB8D07.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Add curriculum category
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
Due: none

Update assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_household_appliances-2CBFAD17B01F4288AAE9CCCE37088FEC.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🐛 (ContentKit): Fix wrong yml formatting of curriculums.category.yml
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
Due: none

🍱 (ContentKit): Emotions - update assets for emotions in a context
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_hugo_anger_fighting_school.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_hugo_sad_painting.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_louna_anger_ice_cream_seller.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_louna_fear_cycling_park.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_moussa_disgust_eating_broccoli.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_oscar_alone_playground.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_oscar_fear_bitten_dog.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_zoe_disgust_garbage.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/context_zoe_joy_story.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_angry_hugo.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_angry_louna.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_angry_moussa.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_angry_oscar.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_angry_zoe.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_disgust_hugo.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_disgust_louna.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_disgust_moussa.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_disgust_oscar.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_disgust_zoe.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_fear_hugo.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_fear_louna.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_fear_moussa.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_fear_oscar.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_fear_zoe.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_joy_hugo.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_joy_louna.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_joy_moussa.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_joy_oscar.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_joy_zoe.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_sad_hugo.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_sad_louna.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_sad_moussa.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_sad_oscar.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotion_drawing_child_sad_zoe.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/assets/emotions_context_moussa_joy_cooking.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/recognition_emotions_in_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/activities/recognition_emotions_in_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (ContentKit): Emotions - update assets for sports
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/assets/sport_accessory_dancing_ballet_slippers.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/assets/sport_accessory_dancing_slippers.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_1_image-69283AFFE9F24D73A99F22F46D9D28D3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_2_images-DF4A9657809D4435916A82A8314D2E4A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_3_images-2AFAF1C1D3ED4602A9BBB8B06E51D59D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_4_images-55ECB1EFFAA3466CA1704BCFE7AC371E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_5_images-659278115279467190B097830E94F250.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_6_images-D9A7EC7FDFA5478596A36015A03F4D5E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (ContentKit): Curriculum - add kitchen items recognition
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_apron.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_balance.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_batter_electric.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_bowl.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cooking_pot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cupboard.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_cutting_board.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_dishes.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_fork.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_fridge.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_frying_pan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_gas_stove.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_glass.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_knife.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_microwave.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_coffee.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_mug_tea.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_oven.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_oven_mitt.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_plate.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_rolling_pin.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_saucepan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_spoon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_spoon_wooden.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_table.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_tablewar.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_tableware.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_teapot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_washing_machine.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/assets/kitchen_accessory_whisk.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/icons/curriculum_recognition_kitchen_items.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_household_appliances-2CBFAD17B01F4288AAE9CCCE37088FEC.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_kitchen_utensils-A9BC9B8ED47F4EA3A1760EFCCCBE0977.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_tableware-6E87124002B34BC18520CDD94BFB8D07.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/curriculum_recognition_kitchen_items.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

💚 (fastlane): Internal beta - remove bundler uninstall step
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

👷 (fastlane): Internal beta - add manual trigger
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

💚 (ci): Remove remaining gem uninstall bundler --all...
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-system-upgrade_tools_and_clean.yml
Due: none

👷 (ci): Add workflow_dispatch to upgrade tools, fastlane release
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-system-upgrade_tools_and_clean.yml
Due: none

⏪️ (ci): Remove workflow_dispatch
  .github/workflows/ci-fastlane-release_app_store.yml
Due: none

💚 (ci): Fix workflow_dispatch run being skipped
  .github/workflows/ci-fastlane-release_beta_internal.yml
  .github/workflows/ci-system-upgrade_tools_and_clean.yml
Due: none
