Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

🚸 (LekaApp): Upgrade UX of CaregiverPicker
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CaregiverPicker.swift
Due: none

🌐 (LekaApp): Add localization
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CarereceiverPicker.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (LekaApp): Use variable to wrap dismiss condition
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CaregiverPicker.swift
Due: none

🌐 (LekaApp): Update localization
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CarereceiverPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CaregiverList.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (ContentKit): Move back ActivityDetailsView
  Modules/ContentKit/Examples/ContentKitExample/Sources/ActivityDebugView.swift
  Modules/ContentKit/Examples/ContentKitExample/Sources/ActivityListView.swift
  Modules/ContentKit/Project.swift
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Extensions/Text+MarkdownInit.swift
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/GameEngineKit/Project.swift
  Modules/GameEngineKit/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (RobotKit): Add Behaviors
  Modules/RobotKit/Examples/RobotKitExample/Sources/Views/RobotControlView.swift
  Modules/RobotKit/Sources/Robot+Behaviors.swift
Due: none

sons des animaux et sons des instruments complets sauf icônes d'activités
  Modules/ContentKit/Resources/Content/activities/curriculums/animals_recognition_sounds_1-C4CBE259AC1347DE9C7EBE642EA9BA35.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/animals_recognition_sounds_2-9D3DE26C58034D9AA9301EF0FBBD6761.activity..yml
  Modules/ContentKit/Resources/Content/activities/curriculums/animals_recognition_sounds_3-77EE54847AEC4BD3BAE7D1288342AAD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/animals_recognition_sounds_4-B60142FDD7DE4E9FBBA7E9E9BF1ECF08.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/animals_recognition_sounds_5-B8CCEFBDAFFF4A18A5BAA95335141C02.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/animals_recognition_sounds_6-75B58F8E595F431399E0BAB7278A860D.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-1_hortense-e631cc65-d3ed-4691-8adf-2290311d055a.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-1_ladislas-d6144d9c-0bdd-4d65-86ed-a859c48c9de9.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-1_lucie-125ff23b-2fc5-4e28-9eea-15833f014d1e.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-2_hortense-1c20ec40-acd6-423c-943c-b5bffc18d74a.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-2_hortense-lucie-058a9152-bbdb-482e-9f43-e9dbe898ca37.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-2_ladislas-752f66df-8e15-4ef3-947e-d64d5d24f3a9.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-2_ladislas-lucie-791063d5-6c9a-4540-8495-2a49fa826acb.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-2_lucie-1a99dda4-c534-4577-a9be-c5683c43fc01.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_hortense-3d16271d-8807-41ea-84f5-1631eeae5fba.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_hortense-ladislas-8aeac9b2-6176-4f20-a8e6-6962d24a0e19.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_hortense-lucie-47264ade-a7b7-4ddf-b1d0-38e7eb34fac2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_ladislas-466a969b-5ea2-4153-94f2-33737427b839.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_ladislas-lucie-9b06de79-d1db-492b-a5f0-3ef0cf4aaada.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_lucie-0580093a-6e62-465d-bfe8-212d2bdcdb10.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_1-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_2-1032EA5E0C3D421F8AC806CAA8897D97.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_3-BA0F2146BD5A420095F82A4C859D0EE8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_4-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_5-94C14E6AA18E4FCA995B00B91103FA79.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_6-B691334EF5A743EDAFCFC0701377D84E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

corrections
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_4-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/musical_instruments_recognition_sounds_6-B691334EF5A743EDAFCFC0701377D84E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Rajout des pouces en sfsymbol
  Modules/ContentKit/Resources/Content/activities/curriculums/emotions-context-2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/mes-emotions-dans-un-contexte.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/pleasant_and_unpleasant_emotions_recognition_in_a_context-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Les emotions dans un contexte - parcours complet
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition_in_a_context_my_own_emotions_1-13E0B701B0534391B9BBECB83EFB83F5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition_in_a_context_my_own_emotions_2-E4753C378F974C58BD5EAAE85717D277.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition_in_a_context_with_all_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotions-context-2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotions_recognition_in_a_context_pleasant_unpleasant_emotions-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/mes-emotions-dans-un-contexte.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🐛 (GEK): Fix format identifier in interpolation
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Observe.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ChoiceEmojiView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ChoiceImageView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ChoiceSFSymbolView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (ContentKit): Curriculum - use name_of_activity-UUID for activity list
  Modules/ContentKit/Resources/Content/curriculums/templates/curriculum_template-426C011BE6334BEC9A00F0BA8C646A6A.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/templates/sample_1-D85443FD58A7431DAAAF94FAC0C0FDDE.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/templates/sample_2-10B5AF3E75C444628AA50B304E009DAC.curriculum.yml
Due: none

Fin des yaml
  Modules/ContentKit/Resources/Content/activities/curriculums/basic_physiological_needs_recognition_1-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/basic_physiological_needs_recognition_2-5DBCCB46BA2B4646983BDC7160E03536.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/basic_physiological_needs_recognition_3-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/day_and_night_recognition-7710D57FB7214D4F90246463F20773D1.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition_in_a_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotions_recognition_in_a_context_thumbs up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/hideAndSeek-4BFA2AC3390E49248DD022E27008F118.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/hot_and_cold_temperatures_recognition-18DA1F9028CF447E819507B0A6562F2E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/weather_recognition_1-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/weather_recognition_2-030525AA798F4E0D8EDAFAF3939471F9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🧑‍💻 (hooks): Curriculums - check activities exist
  Tools/Hooks/check_yaml_content_curriculums.py
  Tools/Hooks/modules/content.py
Due: none

✏️ (ContentKit): SKills - fix typo
  Modules/ContentKit/Resources/Content/definitions/skills.yml
Due: check_yaml_definitions_skills

✨ (ContentKit): Add curriculum model
  Modules/ContentKit/Sources/Curriculum/Curriculum+Mock.swift
  Modules/ContentKit/Sources/Curriculum/Curriculum.swift
Due: none

🤡 (ContentKit): Add curriculum mock
  Modules/ContentKit/Sources/Curriculum/Curriculum+Mock.swift
Due: none

✨ (ContentKit): List sample curriculums
  Modules/ContentKit/Sources/ContentKit.swift
Due: none

✨ (ContentKit): Add CurriculumDetailsView
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Activity/Activity.swift
  Modules/ContentKit/Sources/Curriculum/Curriculum.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

⚗️ (ContentKitExample): List curriculums, show details
  Modules/ContentKit/Examples/ContentKitExample/Sources/CurriculumListView.swift
  Modules/ContentKit/Examples/ContentKitExample/Sources/MainApp.swift
Due: none

🗑️ (LekaApp): Deprecate old curriculum models, views, etc
  Apps/LekaApp/Sources/_OLDCodeBase/Models/CurriculumModel+DEPRECATED.swift
  Apps/LekaApp/Sources/_OLDCodeBase/Stores/CurriculumViewModel+DEPRECATED.swift
  Apps/LekaApp/Sources/_OLDCodeBase/Views/EducationalContent/Curriculums/Components/CurriculumPillShapedView.swift
  Apps/LekaApp/Sources/_OLDCodeBase/Views/EducationalContent/Curriculums/CurriculumListView+DEPRECATED.swift
Due: none

✨ (LekaApp): Allow access to curriculums
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumsView.swift
Due: none

✨ (RobotKit): Add ConnectedRobotView
  Modules/RobotKit/Sources/UI/Views/ConnectedRobotView.swift
Due: none

♻️ (RobotKit): Refactor RobotConnectionView w/ ConnectedRobotView
  Modules/RobotKit/Resources/Localizable.xcstrings
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView+l10n.swift
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🌐 (LekaApp): Global l10n review
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+l10n.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/SampleActivityListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ConnectionView+l10n.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView+l10n.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/RobotConnectionLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/SettingsLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ReinforcerPicker/ReinforcerPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView+l10n.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CarereceiverList.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CarereceiverPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CreateCarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/EditCarereceiverView+l10n.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CaregiverList.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CaregiverPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CreateCaregiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/EditCaregiverView+l10n.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/WelcomeView+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✏️ (LekaApp): Fix leading space typo in l10n comments
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ReinforcerPicker/ReinforcerPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/CareReceiver/CreateCarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CreateCaregiverView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

corrections
  Modules/ContentKit/Resources/Content/activities/curriculums/basic_physiological_needs_recognition_3-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition_in_a_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotions_recognition_in_a_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

names + UUID
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_help.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_functional_category_with_an_intruder-DB5A88B225644ABC997B86FD0E025443.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_an_intruder-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

BONNE VERSION POUR CATEGORISATION
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_functional_category_with_an_intruder.activitDB5A88B225644ABC997B86FD0E025443.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_images_with_an_intruder.activity-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization_sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

names + UUID
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs #1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_familiar_nouns_with_more_than_two_syllables-AF9ACAC51F4240259050982EC15D0C7A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_familiar_nouns_with_one_syllable-49E3191F47824DEFA6011498A1B3A8AF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_familiar_nouns_with_two_syllables-353CCBCBA81247389E1086B64912273F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_ing_verbs_1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_ing_verbs_2-A68EF64659D24004B254C9F924800511.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_ing_verbs_3-2F6BDA819A304526AA40E9573B42C6E3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_ing_verbs_with_2_components-AB832F7004D44525B90654D553355E2B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_number_quantity_1-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_objects_by_color_1-B8964AC4C9B644BEB35DE4B4AD1C5D93.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_objects_by_color_with_two_components_1-95108BC74D094434AFFC34C74D95AFBC.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_objects_by_color_with_two_components_2-6302A027A4734264ABB0734A7822C25A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_objects_by_color_with_two_components_3-DCF74FB8B23A4446A339231D08F85FA6.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_objects_by_function_1-DD1C6FE74232465DBB5B97378AEBB430.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_objects_by_function_2-6020D9253EE6497A85FA7DE73C1FAEC2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_opposites_clean_and_dirty_items-29CF410501F644799C18C9F970C53129.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_opposites_hot_and_cold_items-FDC6A9C523C54A47B40F2C4F1B480581.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_opposites_little_and_big_items-9309431C672C45F2946B718BAF0A8D5F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_opposites_wet_and_dry_items-525A44C44F154B408244CCD3E57E77EA.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/receptive_language_identify_positional_concepts_1-1E85ED4F09A84B48904467AC40127824.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🧑‍💻 (tuist): Add DEVELOPER_MODE flag
  Tuist/ProjectDescriptionHelpers/SettingsDictionary+Base.swift
Due: none

🧑‍💻 (LekaApp): Move image list to dev mode #if/#endif
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView.swift
Due: none

👷 (fastlane): Turn off DEVELOPER_MODE on release to appstore
  fastlane/Fastfile
Due: none

🐛 (LekaApp): Add missing #if DEVELOPER_MODE
  Apps/LekaApp/Sources/_NEWCodeBase/Navigation/Navigation+Category.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView+CategoryLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView.swift
Due: none

add UUID
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_2types-699FB7EB68DD41F1BB24DB67B10CE60D.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3images_3types-C21549498D584ECBBE713AD05B4225ED.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_2types-DDD78773E4DC4C5BB7A478790096A2CA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_4images_3types-26E096665BE041E8BB10003D3FE08BF2.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_2types-C5677BD6215040CA8B2508465D0431D8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6images_3types-6E345E56197B457D8115445A2A3A8B0E.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_1_leka-5C8987EC85064792AAA6C9DFB6B315C5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_2_leka-8C2D5551110D4A9BB0F904380C8C6F67.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_3_leka-95F1BDCEA63F478DA164D5A976ACE1DB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictograms_4_leka-FEC05FC6341847A780ED4A958BC4E14C.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_hortense-418F229DD3384711BB241CC5E4F07C46.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_hugo-2046B91706984344AC8CDA8F3E630FE0.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_ladislas-5E7A2E95822643CEBB8628FA26AA0878.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_lucie-69EB05CA4EA841F18D872FD406E81EC5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_1_yann-EA954F037A944DE292CDB070ECC22357.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense-76C35A0EF85E48BCAF94CCBB83F8EDAF.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense_lucie-711FC9741264476AA295C8D800D16117.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hortense_yann-C42F409C815043C39B45291B98CE375B.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo-CF8EDAED29B145C083540CBB993B9599.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo_ladislas-4B00611DE88D43A6B8FE057D9B09782A.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_hugo_yann-098E1E5293E9483C98EC96EE746C02F8.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_ladislas-B41A5074B87245CEA2F826B31E6B2C3F.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_ladislas_lucie-46B40FAFE4AD435785F0A5489A931812.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_lucie-CB8A88D070664156BDFC5F965BEBE3FE.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_2_yann-17EAB8CA31E84B5AACAA1A0DA9645B27.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense-56FF7BE1A07B4913BBADD72186E5FAAA.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_lucie-F7ADA37ED2154E01971E8CBD581DEFA9.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_yann-45AAFF88B4C04125AD060257843936C6.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hortense_yann_hugo_ladislas_lucie-DCCB05E61EDA4CB9B7A917E5C8C8EBC7.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo-EE32417A034346AFACF984F506774BFD.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo_ladislas-971B4219E3FC4A48847F3AF81CC71DC5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_hugo_yann-693C02F1EF354C9C9152A4D386C04984.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_ladislas-E71DD6285FB84AFEA1DCD7DF434F6B34.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_leka_team-542A920F76DD4F6C809C671C9AC3C7CF.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_lucie-9BC2D6BADB124D82B181DA6571B8E7BB.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_pictures_4_yann-D4FAA879BD224C80B6DF122A68FE9E83.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

names + UUID
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-sounds-4_lucie-0580093a-6e62-465d-bfe8-212d2bdcdb10.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_1_image-C4CBE259AC1347DE9C7EBE642EA9BA35.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_2_images-9D3DE26C58034D9AA9301EF0FBBD6761.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_3_images-77EE54847AEC4BD3BAE7D1288342AAD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_4_images-B60142FDD7DE4E9FBBA7E9E9BF1ECF08.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_5_images-B8CCEFBDAFFF4A18A5BAA95335141C02.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_animals_drawings_6_images-75B58F8E595F431399E0BAB7278A860D.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_hortense-7AC45BEF2A2A45E7920C7333C7E88CD6.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_ladislas-5F842C24C9474BF19333975561DE65E7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_1_lucie-60694D53CB2947AB9D9904587D82FDB3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense-36FE0BCA63D844C4B1137B08784D1B8E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense_ladislas-690BE86C58004D938F4F48C720E8C011.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_hortense_lucie-84464C54E42243FE8EA3B246CCA97064.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_ladislas-65BE6D6886A44B15B30F035819990884.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_ladislas_lucie-A9F2CF9ADC744E02BE09B953E06DCAF8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_2_lucie-A14D8CA364ED4A078AFD645C0BDE3B19.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_3_lucie_ladislas_hortense-59B0DE4C8A1C41DCA097DC451588AB7C.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense-C6ED67057F714AD1A4537072F4886B67.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense_ladislas-893B8311014B419FA5B70D2466C8DA81.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense_lucie-52A21A68D36342CB95CF0AE709523471.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas-A486DB1DAA344DCDA614952F0C174CDA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas_lucie-9800B2088C4B4A888FD5BE833D72414B.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_lucie-57F83636D7314053A8B734E2D616C057.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_1_image-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_2_images-1032EA5E0C3D421F8AC806CAA8897D97.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_3_images-BA0F2146BD5A420095F82A4C859D0EE8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_4_images-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_5_images-94C14E6AA18E4FCA995B00B91103FA79.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_6_images-B691334EF5A743EDAFCFC0701377D84E.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

UUID + names OK
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_1_image-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_2_images-5DBCCB46BA2B4646983BDC7160E03536.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_4_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_5_emotions-E4753C378F974C58BD5EAAE85717D277.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_my_own_emotions_thumbs_up_thumbs_down-13E0B701B0534391B9BBECB83EFB83F5.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_time_of_day_day_night-7710D57FB7214D4F90246463F20773D1.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_hot_and_cold-18DA1F9028CF447E819507B0A6562F2E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_2_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_4_images-030525AA798F4E0D8EDAFAF3939471F9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

corrections
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_1_image-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_5_emotions-ADE4BA794B6D4B42B3A39127F5DDF8D0.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_in_context_thumbs_up_thumbs_down-95A0134AA0E04EA3B6933BDFC8564CBA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_time_of_day_day_night-7710D57FB7214D4F90246463F20773D1.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_hot_and_cold-18DA1F9028CF447E819507B0A6562F2E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_2_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_4_images-030525AA798F4E0D8EDAFAF3939471F9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔥 (LekaApp): Remove onCreated callbacks on caregiver creation
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CreateCaregiverView.swift
Due: none
