Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

check_xcstrings_stale_entries:
  name: Check .xcstrings files for stale entries
  description: This hook checks .xcstrings files for stale entries
  entry: python3 Tools/Hooks/check_xcstrings_stale_entries.py
  language: python
  additional_dependencies:
  - pygments

check_xcstrings_unusual_terminators:
  name: Check .xcstrings files for unusual terminators
  description: This hook checks .xcstrings files for unusual terminators
  entry: python3 Tools/Hooks/check_xcstrings_unusual_terminators.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

✨ (GEK): Add shuffle to DragAndDrop
  Modules/ContentKit/Sources/Exercise/Exercise+DragAndDropIntoZones.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ToAssociate/DragAndDropToAssociateView+ViewModel.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+DragAndDrop.swift
Due: none

✨ (ContentKit): Add identify by color to Receptive Language
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
Due: none

✏️ (ContentKit): Identify by function - fix curr/activities icons, titles
  Modules/ContentKit/Resources/Content/curriculums/curriculum_categorization_sort_through_functional_category-64388748AF714B4880B8C7B6DD6D93F3/curriculum_categorization_sort_through_functional_category-64388748AF714B4880B8C7B6DD6D93F3.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05/activities/icons/receptive_language_identifying_objects_by_function.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05/activities/receptive_language_identify_objects_by_function_1-DD1C6FE74232465DBB5B97378AEBB430.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05/activities/receptive_language_identify_objects_by_function_2-6020D9253EE6497A85FA7DE73C1FAEC2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05/receptive_language_identifying_objects_by_function.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (curriculum): Review sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_categorization_sort_through_with_basket-E6A322DC7A6E48518CED2CA2D3D2A595/curriculum_categorization_sort_through_with_basket-E6A322DC7A6E48518CED2CA2D3D2A595.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/categorization_sort_through_images_with_an_intruder-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/categorization_sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/categorization_sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/categorization_sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/icons/sorting_fruits_vegetables_basket.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/sorting_fruits_vegetables_basket.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (activities): Review sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/sorting_fruits_vegetables_basket_1_one_choice-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/sorting_fruits_vegetables_basket_2_two_choices_one_intruder-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/sorting_fruits_vegetables_basket_3_three_choices_multiple_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/sorting_fruits_vegetables_basket_4_four_choices_same_images-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (icons): Update icons for sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/activities/icons/sorting_fruits_vegetables_basket.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/sorting_fruits_vegetables_basket.curriculum.icon.png
Due: none

🚸 (LekaApp): Display carereceiver Reinforcer
  Apps/LekaApp/Sources/Navigation/Navigation.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryActivitiesView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryCurriculumsView.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryRemotesView.swift
  Apps/LekaApp/Sources/Views/DeveloperMode/AllActivitiesView.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Modules/ContentKit/Sources/Activity/Activity.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

🐛 (ContentKit): Remove import RobotKit
  Modules/ContentKit/Sources/Activity/Activity.swift
Due: none

🚸 (GEK): Add RadioButton for DanceFreeze motion type
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+MotionSelectorView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🚸 (GEK): Add RadioButton to KeyboardType for Melody
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+KeyboardModeView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

💄 (GEK): Use accentColor for musicSelector radio buttons
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+SongSelectorView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+SongSelectorView.swift
Due: none

💄 (GEK): MelodyView - improve ui for launcher and song list
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+LauncherView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+SongSelectorView.swift
Due: none

♻️ (GEK): Add size and position variable to Arrow commands
  Modules/GameEngineKit/Sources/Exercises/Specialized/RemoteArrow/RemoteArrowView+ArrowButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/RemoteArrow/RemoteArrowView+CircleLayout.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/RemoteArrow/RemoteArrowView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

✨ (GEK x ContentKit): Add RemoteStandardArrow
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/RemoteStandard/RemoteStandard+ArrowCommand.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/RemoteStandard/RemoteStandard+JoystickCommand.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

✨ (ContentKit): Add StandardRemoteArrow YAML
  Modules/ContentKit/Resources/Content/activities/remotes/icons/remote_standard_arrows.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/remotes/remote_standard_arrows-5554CD696BB6492594082C5F8F895A85.activity.yml
  Modules/ContentKit/Resources/Content/activities/remotes/remote_standard_joystick-E85F0498A29047E893631397592CC444.activity.yml
  Modules/ContentKit/Resources/Content/categories/remotes.category.yml
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔧 (jtd): Exercise - replace 'remote' w/ 'gamepad'
  Specs/jtd/activity.jtd.json
Due: none

🍱 (content): Review gamepads
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_big-D91BDA161F8E455CA8A71881F1D2E923.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_color_pad-5554CD696BB6492594082C5F8F895A85.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_joystick_color_pad-E85F0498A29047E893631397592CC444.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/icons/gamepad_arrow_pad_big.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/gamepads/icons/gamepad_arrow_pad_color_pad.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/gamepads/icons/gamepad_joystick_color_pad.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/remotes/remote_colored_arrows-D91BDA161F8E455CA8A71881F1D2E923.activity.yml
  Modules/ContentKit/Resources/Content/activities/remotes/remote_standard_arrows-5554CD696BB6492594082C5F8F895A85.activity.yml
  Modules/ContentKit/Resources/Content/activities/remotes/remote_standard_joystick-E85F0498A29047E893631397592CC444.activity.yml
  Modules/ContentKit/Resources/Content/categories/gamepads.category.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

♻️ (all): Rename 'remotes' to 'gamepads' everywhere
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Navigation/Navigation+Category.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryGamepadsView.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+CategoryLabel.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+l10n.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Modules/ContentKit/Sources/Categories/Category+Gamepads.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ArrowPad/ArrowPadView+ArrowButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ArrowPad/ArrowPadView+CircleLayout.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ArrowPad/ArrowPadView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+ArrowPadColorPad.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+JoystickColorPad.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Joystick/JoystickView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Joystick/JoystickViewViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+BeltSectionButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+BeltSectionIcon.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+EarButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+EarIcon.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+LedZoneShape.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+ModeButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView+ModeFeedback.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/LedZoneSelector/LedZoneSelectorView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ReinforcerButton.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
  Modules/RobotKit/Sources/MagicCards.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (fastlane): Homogenize version/build naming between beta and release lanes
  fastlane/Fastfile
Due: none

🐛 (fastlane): Truncate build number to me 18 characters max
  fastlane/Fastfile
Due: none

✏️ (GEK): Replace "tap" by "touch to reveal"
  Modules/GameEngineKit/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

👷 (ci): Run swift related workflows only if .swift files have been modified
  .github/workflows/ci-linter-swiftformat.yml
  .github/workflows/ci-linter-swiftlint.yml
  .github/workflows/ci-tuist-build.yml
  .github/workflows/ci-tuist-unit_tests.yml
Due: none

🐛 (tuist): Fix Environment names for testflight, production build
  Tuist/ProjectDescriptionHelpers/SettingsDictionary+Base.swift
Due: none

👷 (ci): Remove unused steps in fastlane beta release
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

👷 (ci): Bring release workflow in par with beta
  .github/workflows/ci-fastlane-release_app_store.yml
Due: none

:children_crossing: (Skill/Authors): Add padding on skills and authors information
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: none

:children_crossing: (profile): Add placeholder for first name and last name of caregiver
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Users/Caregiver/CreateCaregiverView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

:children_crossing: (profile): Add placeholder for name of carereceiver
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Users/CareReceiver/CreateCarereceiverView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🚸 (LekaApp): Use required/optional as placeholders for first, last name
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Users/CareReceiver/CreateCarereceiverView.swift
  Apps/LekaApp/Sources/Views/Users/Caregiver/CreateCaregiverView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (LekaApp): Add interactiveDismissDisabled() in onboarding
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+Step3.swift
Due: none

♻️ (LekaApp): Update UX of onboarding
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+Step3.swift
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+l10n.swift
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (LekaApp): Trigger onClose callback only if profile is created
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/Views/AccountCreation/Process/AccountCreationProcess+Step3.swift
  Apps/LekaApp/Sources/Views/Users/CareReceiver/CreateCarereceiverView.swift
  Apps/LekaApp/Sources/Views/Users/Caregiver/CreateCaregiverView.swift
Due: none

:bug: (Section): Set title font to .title2
  Apps/LekaApp/Sources/Views/Categories/CategoryCurriculumsView.swift
Due: none

🩹 (LekaApp): Fix gamepad category view icon
  Apps/LekaApp/Sources/Views/Categories/CategoryGamepadsView.swift
Due: none

♻️ (ContentKit): Make GroupBox the navigationLink rather than discover
  Modules/ContentKit/Sources/Views/CurriculumGridView.swift
Due: none

🔨 (fastlane): Generate changelogs on release as well
  fastlane/Fastfile
Due: none

♻️ (fastlane): Dynamic message between release/beta
  fastlane/Fastfile
Due: none

🩹 (xcstrings): Fix pre-commit issues
  Apps/LekaApp/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🐛 (GEK): Fix unstopping motor on arrow pad
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/ArrowPad/ArrowPadView.swift
Due: none

🚸 (LekaApp): Add Launch Screen
  Apps/LekaApp/Resources/Assets.xcassets/LekaLogo.imageset/Contents.json
  Apps/LekaApp/Resources/Assets.xcassets/LekaLogo.imageset/leka-1000 1.png
  Apps/LekaApp/Resources/Assets.xcassets/LekaLogo.imageset/leka-1000 2.png
  Apps/LekaApp/Resources/Assets.xcassets/LekaLogo.imageset/leka-1000.png
  Apps/LekaApp/Resources/LaunchScreen.storyboard
Due: none

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
