Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftlint_custom, check_xcstrings, check_yaml_definitions_avatars, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_definitions_robot_assets, check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

swiftlint_custom:
  name: SwiftLint
  description: Check Swift files for issues with SwiftLint
  entry: swiftlint
  language: system

check_xcstrings:
  name: Check .xcstrings files for stale entries and unusual characters
  description: This hook checks .xcstrings files for stale entries and unusual characters
  entry: python3 Tools/Hooks/check_xcstrings.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_avatars:
  name: Check avatars.yml
  description: "This hook checks avatars.yml for:\n  - non unique ids\n  - jtd schema validation\n  - filename and image consistency\nIt also formats the file\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_avatars.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_robot_assets:
  name: Check robot_assets.yml
  description: "This hook checks robot_assets.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_robot_assets.py
  language: python
  additional_dependencies:
  ...

check_yaml_definitions_tags:
  name: Check tags.yml
  description: "This hook checks tags.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_tags.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

🔥 (ci): Remove content review workflows
  .github/workflows/ci-content-reviews_activity_chatgpt.yml
  .github/workflows/ci-content-reviews_curriculum_chatgpt.yml
Due: none

🍱 (curriculums): Add sea animal recognition
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/animal_recognition_sea_animals_1-EC749D20F1114F78A10FCB58E49AA034.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/animal_recognition_sea_animals_2-E7941F63AF9449C38932629932D62F6B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/animal_recognition_sea_animals_4-D1C3F1781FA3492B9871F82930DC57C2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/animal_recognition_sea_animals_6-193DCAB9B7F74DD4B213FA2AF9A84548.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_crab_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_dolphin_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_fish_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_jellyfish_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_manta_ray_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_octopus_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_orca_black.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_shark_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_shrimp_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/assets/animals_sea_whale_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/activities/icons/recognition_animals_sea.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/recognition_animals_sea.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

🐛 (tuist): Fix implicit imports
  Apps/LekaApp/Project.swift
  Modules/GameEngineKit/Project.swift
Due: swiftlint_custom

🎨 (tuist): Sort projects deps
  Apps/LekaApp/Project.swift
  Apps/LekaUpdater/Project.swift
  Modules/AccountKit/Project.swift
  Modules/ContentKit/Project.swift
  Modules/GameEngineKit/Project.swift
  Modules/LogKit/Project.swift
  Modules/RobotKit/Project.swift
Due: swiftlint_custom

🔥 (apps): Remove BLEKitExample
  Apps/BLEKitExample/Project.swift
  Apps/BLEKitExample/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-1-green-spin.imageset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-1-green-spin.imageset/reinforcer-1-green-spin.svg
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-2-violet_green_blink-spin.imageset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-2-violet_green_blink-spin.imageset/reinforcer-2-violet_green_blink-spin.svg
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-3-fire-static.imageset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-3-fire-static.imageset/reinforcer-3-fire-static.svg
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-4-glitters-static.imageset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-4-glitters-static.imageset/reinforcer-4-glitters-static.svg
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-5-rainbow-static.imageset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/reinforcer-5-rainbow-static.imageset/reinforcer-5-rainbow-static.svg
  Apps/BLEKitExample/Resources/Assets.xcassets/robot_connexion_bluetooth.imageset/Contents.json
  Apps/BLEKitExample/Resources/Assets.xcassets/robot_connexion_bluetooth.imageset/robot_connexion_bluetooth.svg
  Apps/BLEKitExample/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Apps/BLEKitExample/Sources/Models/Commands.swift
  Apps/BLEKitExample/Sources/Models/Robot.swift
  Apps/BLEKitExample/Sources/Stores/BotViewModel.swift
  Apps/BLEKitExample/Sources/View/BLEKitExampleApp.swift
  Apps/BLEKitExample/Sources/View/BotConnectComponents/BotFaceView.swift
  Apps/BLEKitExample/Sources/View/BotConnectComponents/BotStore.swift
  Apps/BLEKitExample/Sources/View/RobotListView.swift
  Apps/BLEKitExample/Sources/View/RobotView.swift
  Apps/BLEKitExample/Tests/BLEKitExample_Tests.swift
Due: swiftlint_custom

🚨 (ContentKit): Remove ignored import
  Modules/ContentKit/Sources/Activity/Activity.swift
Due: swiftlint_custom

🚸 (activity): Hide and Seek - Improve instructions with 'find'
  Modules/ContentKit/Resources/Content/activities/standalones/hide_and_seek-4BFA2AC3390E49248DD022E27008F118.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚸 (GEK): Add reinforcers in ColorPad
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+ColorPadView.swift
Due: swiftlint_custom

🍱 (tags): Add gamepad, story tags and use them
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_big-D91BDA161F8E455CA8A71881F1D2E923.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_color_pad-5554CD696BB6492594082C5F8F895A85.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_color_pad-DBA6170077AB4DBABEB05E03932BDC84.activity.yml
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_joystick_color_pad-E85F0498A29047E893631397592CC444.activity.yml
  Modules/ContentKit/Resources/Content/definitions/tags.yml
  Modules/ContentKit/Resources/Content/stories/first_day_of_school-8DE906A44CC642F8824C567169AF6626.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_at_the_beach-60C133CB19F94BA0864DFA9BF6E7F696.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_dances_with_leka-47509B00A3B94C27B7D64DC1BC3B6895.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_makes_pancakes-5213404A073D47198A6B3B694396CB8B.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_meets_leka-FF7618528E194E8CB3A6950E08562D16.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_plays_music-CB8EB22A988049FB900AD5B66F78B00F.story.yml
Due: check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

🔖 (LekaApp): Bump version to v1.10.0
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
Due: swiftlint_custom

🔖 (LekaUpdater): Bump version to v2.0.0
  Apps/LekaUpdater/Project.swift
  Apps/LekaUpdater/Resources/LekaOS-1.4.0-en.md
  Apps/LekaUpdater/Resources/LekaOS-1.4.0-fr.md
  Apps/LekaUpdater/Resources/LekaOS-1.4.0.bin
  Apps/LekaUpdater/Resources/LekaOS-2.0.0-en.md
  Apps/LekaUpdater/Resources/LekaOS-2.0.0-fr.md
  Apps/LekaUpdater/Resources/LekaOS-2.0.0.bin
  Modules/RobotKit/Sources/Robot.swift
  fastlane/release/LekaUpdater/metadata/en-US/release_notes.txt
  fastlane/release/LekaUpdater/metadata/fr-FR/release_notes.txt
Due: swiftlint_custom

♻️ (GEKExample): Extract Gameplay protocol to file
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayProtocol.swift
Due: swiftlint_custom

♻️ (GEKExample): Remove process func from GameplayProtocol
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayProtocol.swift
Due: swiftlint_custom

♻️ (GEKExample): Refactor GameplayFindTheRightAnswers
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSChoice.swift
Due: swiftlint_custom

⚗️ (GEKExample): Add new TTSThenValidate ui, vm, coordinator
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateViewViewModel.swift
Due: swiftlint_custom

♻️ (GEKExample): FindTheRightAnswers - add isCompleted property, reset func, handle remaining answers
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightAnswers.swift
Due: swiftlint_custom

⚗️ (GEKExample): Add TTSThenValidate coordinator to find all the answers at once
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightAnswers+AllAtOnce.swift
Due: swiftlint_custom

🍱 (ContentKit): Update ColorPad icon
  Modules/ContentKit/Resources/Content/activities/gamepads/icons/gamepad_color_pad.activity.icon.png
Due: none

👷 (release): Internal beta - remove path fastlane/Fastfile
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

👷 (release): Do not run workflows if modified files are examples
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

🍱 (content): Fix typos, improve titles, subtitles
  Modules/ContentKit/Resources/Content/curriculums/color_bingo-69760D1DA61849E3926E3A939BBEF0CE/color_bingo-69760D1DA61849E3926E3A939BBEF0CE.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/counting_candies_from_1_to_5-1A3097D58288406EB4835812663D3376.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/counting_candies_from_5_to_10-1BD7331BDF0D4319B7E71AA64A16A638.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_flower-petals-3F83E1E0F3094DC787258B9CEEF227A1/activities/counting_flower_petals_from_10_to_15-A4DBB71CC24844418514D9705F651716.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_flower-petals-3F83E1E0F3094DC787258B9CEEF227A1/activities/counting_flower_petals_from_15_to_20-B2D60F93527548ACB2695F1E56B76CAD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_flower-petals-3F83E1E0F3094DC787258B9CEEF227A1/curriculum_counting_flower_petals-3F83E1E0F3094DC787258B9CEEF227A1.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_fruits_and_vegetables_generalization-B6F2027A304C44F5B3C482EAFCD8DE7E/curriculum_fruits_and_vegetables_generalization-B6F2027A304C44F5B3C482EAFCD8DE7E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_color-506EA3B894AE46EBAE4BE4AFFC65233F/curriculum_receptive_language_identify_objects_by_color-506EA3B894AE46EBAE4BE4AFFC65233F.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_1-756B84801C32483FABEA6E5BC5DF7081.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_2-D9D9772CB2AE4DDFB4B718D757FA66A0.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_4-3DFED637A5D84B8B8CE1580F2C629BE6.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_6-57A753B7CB794183AD2CD8D3CA4909A5.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702/curriculum_recognition_family_members-AD1A9E2D874C47AEB3445D80E34DC702.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_1_image-F6BBB2161CFC4E3086C3D79DDED8C126.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_2_images-57D172F7E03C4910BE267A196B7E859A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_3_images-A1151E7887214352ABB0B12A9861870A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_4_images-A85FAB3DE49B463789B02128571E5254.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_5_images-AB8488E3C93F436E962BB84210F5BD03.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_6_images-2563A47CEA904434811B7881F715F98A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays-B1BA5597BC594082AECE293AD25CFA89/curriculum_recognition_seaside_holidays-B1BA5597BC594082AECE293AD25CFA89.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_1_image-69283AFFE9F24D73A99F22F46D9D28D3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_2_images-DF4A9657809D4435916A82A8314D2E4A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_3_images-2AFAF1C1D3ED4602A9BBB8B06E51D59D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_4_images-55ECB1EFFAA3466CA1704BCFE7AC371E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_5_images-659278115279467190B097830E94F250.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_6_images-D9A7EC7FDFA5478596A36015A03F4D5E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_weather_and_time-1D8E1AB667DB40B199479D731EF96F2E.curriculum/activities/recognition_weather_and_time_day_night-7710D57FB7214D4F90246463F20773D1.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/super_simon-C6EABAC161CD44C290B32202DFDCDAF6/super_simon-C6EABAC161CD44C290B32202DFDCDAF6.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

🧑‍💻 (makefile): Remove unused targets, update README w/ info
  Makefile
  README.md
Due: none

🧑‍💻 (makefile): Generate examples targets by default
  Makefile
Due: none

🔧 (swiftlint): Exclude Tuist/.build, Derived directories
  .swiftlint.yml
Due: none

🐛 (makefile): Fix formatting
  Makefile
Due: none

🔥 (GEKExample): Remove ChooseAnyAnswerUpToThree gameplay
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayChooseAnyAnswersUpToThree.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTS+Gameplays/TTSCoordinator+ChooseAnyAnswersUpToThree.swift
Due: swiftlint_custom

⚗️ (GEKExample): GameplayProtocol - add isCompleted
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayProtocol.swift
Due: swiftlint_custom

⚗️ (GEKExample): GameplayFindTheRightOrder conforms to GameplayProtocol
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightOrder.swift
Due: swiftlint_custom

⚡️ (linter): Swiftlint - do not use ** glob for excluded
  .swiftlint.yml
Due: none

✏️ (GEK): Fix HideAndSeek typos
  Modules/GameEngineKit/Resources/Localizable.xcstrings
Due: check_xcstrings

✏️ (ContentKit): Fix gamepad typo
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_arrow_pad_color_pad-5554CD696BB6492594082C5F8F895A85.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (content): Fix typos, improve descriptions
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/categories/gamepads.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_categorization_sort_through_functional_category-64388748AF714B4880B8C7B6DD6D93F3/curriculum_categorization_sort_through_functional_category-64388748AF714B4880B8C7B6DD6D93F3.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_categorization_sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595/sorting_fruits_vegetables_basket-E6A322DC7A6E48518CED2CA2D3D2A595.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_find_ingredients_for_recipes-B477244ADFED4735BA1159A76E25001A.curriculum/curriculum_find_ingredients_for_recipes-B477244ADFED4735BA1159A76E25001A.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_number_quantity-4499A9AFB56B4476969B96CE32F5314C/curriculum_receptive_language_identify_number_quantity-4499A9AFB56B4476969B96CE32F5314C.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_color-506EA3B894AE46EBAE4BE4AFFC65233F/curriculum_receptive_language_identify_objects_by_color-506EA3B894AE46EBAE4BE4AFFC65233F.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/activities/recognition_basic_physiological_needs_drawings_1_image-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/activities/recognition_basic_physiological_needs_drawings_2_images-5DBCCB46BA2B4646983BDC7160E03536.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/activities/recognition_basic_physiological_needs_drawings_4_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_bathroom_items-17AAC383297949D698AC92BD7CEC8C4C/curriculum_recognition_bathroom_items-17AAC383297949D698AC92BD7CEC8C4C.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_bedroom_items-277B71CFDFF94C22A4F21A9C396A1501/curriculum_recognition_bedroom_items-277B71CFDFF94C22A4F21A9C396A1501.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0/curriculum_recognition_emotions_drawings-95C42E189BC146BB844467A3BAFE8BC0.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum/curriculum_recognition_emotions_in_context-A135163C8D8646DE95D0854FD5E155EB.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_pictograms-3A9B0EB3A9CF4ABCB9B771B6047DF2D0/curriculum_recognition_emotions_pictograms-3A9B0EB3A9CF4ABCB9B771B6047DF2D0.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_emotions_pictures-BA3CB88A6A6E49CB9AB83FA992BF852B/curriculum_recognition_emotions_pictures-BA3CB88A6A6E49CB9AB83FA992BF852B.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sounds_animals-FED25D9B424E42019F03593FE0D65AEE/curriculum_recognition_sounds_animals-FED25D9B424E42019F03593FE0D65AEE.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617/curriculum_recognition_sounds_emotions-2D48CCB418BF4808BCB16148C901C617.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sounds_musical_instruments-6A5EF209D00942F4AEEA4AEC6DAC052A/curriculum_recognition_sounds_musical_instruments-6A5EF209D00942F4AEEA4AEC6DAC052A.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC/curriculum_sort_sweet_and_salty-5ED0AFBEC4504F6EBA52B26C65ED93CC.curriculum.yml
  Modules/ContentKit/Resources/Content/stories/hanna_makes_pancakes-5213404A073D47198A6B3B694396CB8B.story.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

🍱 (activity): Fix asset for recognize_objects_constellations
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_digital_constellations-0C50B1358BF146DBA286423A4A32A85F/activities/recognize_objects_constellations-700B09D55E3B4AB998CEA7028D41EEA7.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚚 (GEKExample): Rename TTS coordinator directory
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSGameplayCoordinatorProtocol.swift
Due: swiftlint_custom

♻️ (GEKExample): Gameplay - refactor FindTheRightOrder
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightOrder.swift
Due: swiftlint_custom

♻️ (GEKExample): TTS - Refactor Coordinator+FindTheRightOrder
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightOrder.swift
Due: swiftlint_custom

Path conditions:
  swiftlint_custom: any of: \.swift$
  check_xcstrings: any of: .*\.xcstrings
  check_yaml_definitions_avatars: any of: avatars.yml
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_definitions_robot_assets: any of: robot_assets.yml
  check_yaml_definitions_tags: any of: tags.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums_unique_uuid: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_stories: any of: .*\.story\.yml and \.(yaml|yml)$
  check_yaml_content_stories_unique_uuid: any of: .*\.story\.yml and \.(yaml|yml)$
