Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

✨ (AccountKit): Add save(ActivityCompletionData) func to DbOps
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
Due: none

🏷️ (AccountKit): Add var completionData to ActivityCompletionData
  Modules/AccountKit/Sources/Extensions/ActivityCompletionData+Codable.swift
  Modules/AccountKit/Sources/Models/ActivityCompletionData/ActivityCompletionData+init.swift
  Modules/AccountKit/Sources/Models/ActivityCompletionData/ActivityCompletionData.swift
Due: none

🗃️ (AccountKit): Add ActivityCompletionDataManager + reorganize
  Modules/AccountKit/Sources/Managers/ActivityCompletionData/ActivityCompletionDataManager.swift
  Modules/AccountKit/Sources/Managers/Caregivers/CaregiverManager.swift
  Modules/AccountKit/Sources/Managers/Caregivers/CaregiverManagerViewModel.swift
  Modules/AccountKit/Sources/Managers/Carereceivers/CarereceiverManager.swift
  Modules/AccountKit/Sources/Managers/Carereceivers/CarereceiverManagerViewModel.swift
  Modules/AccountKit/Sources/Managers/RootAccounts/RootAccountManager.swift
  Modules/AccountKit/Sources/Managers/RootAccounts/RootAccountManagerViewModel.swift
Due: none

🗃️ (AccountKit): Make DbOperations' observeAll func more generic
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
Due: none

🗃️ (AccountKit): Add ActivityCompletionDataManagerViewModel
  Modules/AccountKit/Sources/Managers/ActivityCompletionData/ActivityCompletionDataManagerViewModel.swift
Due: none

✨ (ContentKit): Add Super Simon activity
  Modules/ContentKit/Resources/Content/activities/standalones/super_simon-B39DDA35800849F7A40F651E411D30CD.activity.yml
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: (ContentKit): Add super_simon icon
  Modules/ContentKit/Resources/Content/activities/standalones/icons/super_simon.activity.icon.png
Due: none

✨ (ContentKit): Add Super Simon gameplay
  Modules/ContentKit/Resources/Content/categories/activities.category.yml
  Modules/ContentKit/Sources/Exercise/Exercise+Action.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Gameplay.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Payload.swift
  Modules/ContentKit/Sources/Exercise/Exercise+TouchToSelectInRightOrder.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelect/RobotThenTouchToSelectView.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswersInRightOrder/GameplayFindTheRightAnswersInRightOrder+TouchToSelect.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswersInRightOrder/GameplayFindTheRightAnswersInRightOrder.swift
Due: none

:building_construction: (Touch): Move ViewModel in Group
  Modules/GameEngineKit/Sources/Exercises/Touch/ViewModel/TouchToSelectViewViewModel.swift
Due: none

:sparkles: (GEK): Add RobotThenTouchToSelectingInRightOrderView
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+1_OneChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+2_TwoChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+3_ThreeChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+4_FourChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+5_FiveChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+6_SixChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/TouchToSelectInRightOrderChoiceView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ViewModel/TouchToSelectInRightOrderViewViewModel.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

Simplify Gameplay
  Modules/ContentKit/Resources/Content/activities/standalones/super_simon-B39DDA35800849F7A40F651E411D30CD.activity.yml
  Modules/ContentKit/Sources/Exercise/Exercise+Gameplay.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+1_OneChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+2_TwoChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+4_FourChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+5_FiveChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView+6_SixChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/RobotThenTouchToSelectInRightOrder/RobotThenTouchToSelectInRightOrderView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ViewModel/TouchToSelectInRightOrderViewViewModel.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+TouchToSelectInRightOrder.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswersInRightOrder/GameplayFindTheRightAnswersInRightOrder.swift
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Try to select Gameplay instead of Choices in TouchToSelectView
  Modules/ContentKit/Sources/Exercise/Exercise+TouchToSelect.swift
  Modules/ContentKit/Sources/Exercise/Exercise+TouchToSelectInRightOrder.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/TouchToSelect/TouchToSelectView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ViewModel/TouchToSelectViewViewModel.swift
Due: none

🔥 (GEK): Remove save option from ActivityView quit alert
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🔥 (GEK): Remove save from ActivityView+Success & Failure
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView+SuccessFailureView+l10n.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView+SuccessView.swift
  Modules/GameEngineKit/Sources/Views/Activity/Activityview+FailureView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🔥 (GEK): Remove save option from StoryView quit alert
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Stories/StoryView+l10n.swift
  Modules/GameEngineKit/Sources/Stories/StoryView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🚸 (GEK): Quit activity - remove mention to saving data
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Stories/StoryView+l10n.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🍱 (ContentKit): Add Melody songs assets
  Modules/ContentKit/Resources/Content/activities/assets/ah_vous_dirais_je_maman.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/green_mouse.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/happy_birthday.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/oh_the_crocodiles.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/twinkle_twinkle_little_star.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/under_the_moonlight.activity.asset.png
Due: none

♻️ (ContentKit): Update Melody Yaml and decoding
  Modules/ContentKit/Resources/Content/activities/standalones/melody-CB995F829411449AB32E6B8A688E3DDB.activity.yml
  Modules/ContentKit/Sources/Exercise/Exercice+MidiRecordingPlayer.swift
  Modules/ContentKit/Sources/Utils/MidiRecording.swift
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚸 (GEK): Display localized and illustrated Melody Songs
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+KeyboardModeView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+LauncherView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+SongSelectorView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+XylophoneView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView.swift
Due: none

🚸 (GEK): Blur Melody on completion
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+XylophoneView.swift
Due: none

💡 (LekaApp): Remove todo for production build
  Apps/LekaApp/Sources/MainApp.swift
Due: none

🔖 (LekaApp): Bump version to v1.1.0
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/description.txt
  fastlane/release/LekaApp/metadata/en-US/promotional_text.txt
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/en-US/subtitle.txt
  fastlane/release/LekaApp/metadata/fr-FR/description.txt
  fastlane/release/LekaApp/metadata/fr-FR/promotional_text.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/subtitle.txt
Due: none

🍱 (ContentKit): Update stories assets
  Modules/ContentKit/Resources/Content/stories/assets/beach_background.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/bedroom_background.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/hanna.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/hanna_pressed.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/kitchen_background.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/leka_rolls.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/living_room_background.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/nagib.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/nagib_pressed.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/road_background.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/scene_background.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/school_background.story.asset.png
Due: none

♻️ (ContentKit): Update stories YAML
  Modules/ContentKit/Resources/Content/stories/first_day_of_school-8DE906A44CC642F8824C567169AF6626.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_at_the_beach-60C133CB19F94BA0864DFA9BF6E7F696.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_dances_with_leka-47509B00A3B94C27B7D64DC1BC3B6895.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_makes_pancakes-5213404A073D47198A6B3B694396CB8B.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_meets_leka-FF7618528E194E8CB3A6950E08562D16.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_plays_music-CB8EB22A988049FB900AD5B66F78B00F.story.yml
Due: none

💄 (GEK): Update stories views
  Modules/GameEngineKit/Sources/Stories/StoryView+PageView+ImageView.swift
  Modules/GameEngineKit/Sources/Stories/StoryView+PageView+PressableImageButton.swift
Due: none

🐛 (ContentKit): Story - Hanna dances - fix wront activit id for dance_freeze
  Modules/ContentKit/Resources/Content/stories/hanna_dances_with_leka-47509B00A3B94C27B7D64DC1BC3B6895.story.yml
Due: none

🍱 (ContentKit): Stories - Fix stories names in stories category
  Modules/ContentKit/Resources/Content/categories/stories.category.yml
Due: none

💄 (GEK): Add back radioButton in Melody SongSelector
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+LauncherView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+SongSelectorView.swift
Due: none

💄 (GEK): Add PlayerButton at the end of Melody
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+PlayerButton.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+XylophoneView.swift
Due: none

🍱 (ContentKit): Add DanceFreeze songs assets
  Modules/ContentKit/Resources/Content/activities/assets/early_bird.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/empty_page.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/giggly_squirrel.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/hands_on.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/happy_days.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/in_the_game.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/assets/little_by_little.activity.asset.png
Due: none

🔥 (ContentKitxGEK): Remove AudioRecording model
  Modules/ContentKit/Sources/Utils/AudioRecording.swift
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Listen.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+1_OneChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+2_TwoChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+3_ThreeChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+4_FourChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+5_FiveChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView+6_SixChoice.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
  Modules/GameEngineKit/Sources/Utils/AudioPlayer.swift
Due: none

♻️ (ContentKit): Update DanceFreeze YAML and decoding
  Modules/ContentKit/Resources/Content/activities/standalones/dance_freeze-6E2F7D56726C419EA534C614F777D934.activity.yml
  Modules/ContentKit/Sources/Exercise/Exercice+DanceFreeze.swift
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚸 (GEK): Update DanceFreeze UI
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+LauncherView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+PlayerView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+SongSelectorView.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView.swift
Due: none

🩹 (LekaApp): Categories - replace lorem ipsum for caregivers, care receivers
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Users/CareReceiver/CarereceiverList.swift
  Apps/LekaApp/Sources/Views/Users/Caregiver/CaregiverList.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🧑‍💻 (fastlane): Upload_to_app_store - auto send for review, auto release
  fastlane/Fastfile
Due: none

🔖 (LekaApp): Bump version to v1.2.0
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
Due: none

🐛 (LekaApp): Fix Privacy Manifest file
  Apps/LekaApp/Resources/PrivacyInfo.xcprivacy
Due: none

🍱 (ContentKit): Add illustrations stories
  Modules/ContentKit/Resources/Content/stories/assets/first_day_of_school.story.asset.png
  Modules/ContentKit/Resources/Content/stories/assets/hanna_meets_leka.story.asset.png
Due: none
