Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

:bento: curriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_1-4719436B24BA4876804DC6A734BA7E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_2-4FBB9C309C454DD8BF73FBC564989CF3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_4-0977107F2D0B42CD8563FF12EF5EC773.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_6-0C84A385DC1B483494978DDF212B8D2D.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: curriculum fix assets name
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_1-945961648A2746688D36698AD0B82F86.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_2-523C95EDD2C84DF9B4800D3E400DC6BF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_4-F0B3DACF264B4DC09B4C0AF1DBEF1515.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/animal_animal_recognition_savannah_animals_6-1F29E5D70995475BBDFC87C634626625.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_bull_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_crocodile_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_elephant_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_giraffe_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_hippopotamus_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_hyena_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_jaguar_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_kangaroo_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_lion_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_rhinoceros_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_tiger_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/animals_savannah_zebra_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-crocodile_green-0079.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-elephant_gray-0085.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-giraffe_yellow-0081.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-hippopotamus_gray-0083.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-hyena_yellow-007D.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-jaguar_yellow-0084.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-kangaroo_brown-0078.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-lion_brown-0082.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-rhinoceros_gray-007A.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-tiger_orange-007B.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_savannah_animals-FB96DF24CDBB463E987E241FDC5BEA17/activities/assets/pictograms-animals-savannah-zebra_white-007C.activity.asset.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: curriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_1-3A4F8EBF04424890B2EBF25DA6EC531A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_2-AFF0A81CEC734DABA7656B61B6F967A3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_4-DF875617328749248EA4641BEFA3278E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/animal_recognition_forest_animals_6-04447C2020BB43BB911F816499FAD2DD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_frog_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_gorilla_black.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_snail_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/activities/assets/animals_forest_snake_green.activity.asset.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

⚗️ (GEKExample): Add activity template list
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ActivityTemplateList.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
Due: none

⚗️ (GEKExample): Add NewActivityView/ViewModel
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ActivityTemplateList.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/Activity/NewActivityView.swift
Due: none

⚗️ (GEKExample): Add ExerciseCoordinator
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/Activity/NewActivityView.swift
Due: none

🔧 (jtd): Activity - add optional property category to TTS
  Specs/jtd/activity.jtd.json
Due: none

🍱 (ContentKit): Templates - add new GEK refactor TTS templates
  Modules/ContentKit/Resources/Content/activities/templates/0_touch_to_select_0_find_the_right_answers-F8C90919AF204155A170D3957BABE7D6.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/0_touch_to_select_1_find_the_right_order-7B4F2DD1D4D3493EB73E18C37A5A607B.activity.yml
  Modules/ContentKit/Resources/Content/activities/templates/0_touch_to_select_2_associate_categories-2D4B8496046D4A86ABA77A7EC8720ABA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚸 (RobotKit): Open LekaUpdater action on alert for robot not up to date
  Modules/RobotKit/Resources/Localizable.xcstrings
  Modules/RobotKit/Sources/UI/Views/RobotDiscoveryView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (RobotKit): Move "LekaOs " of discovery in view
  Modules/RobotKit/Sources/UI/ViewModels/RobotDiscoveryViewModel.swift
  Modules/RobotKit/Sources/UI/Views/RobotDiscoveryView.swift
Due: none

🩹 (RobotKit): robotNotUpToDate only for older version
  Apps/LekaApp/Sources/Views/MainView/RobotConnectionLabel.swift
  Modules/RobotKit/Sources/UI/Views/ConnectedRobotView.swift
  Modules/RobotKit/Sources/UI/Views/RobotDiscoveryView.swift
Due: none

♻️ (RobotKit): Use Version instead of String for Robot.kLatestFirmwareVersion
  Apps/LekaApp/Sources/Views/MainView/RobotConnectionLabel.swift
  Apps/LekaUpdater/Sources/Libs/FirmwareManager.swift
  Apps/LekaUpdater/Sources/View/InformationView/ChangelogView.swift
  Modules/RobotKit/Sources/Robot.swift
  Modules/RobotKit/Sources/UI/Views/ConnectedRobotView.swift
  Modules/RobotKit/Sources/UI/Views/RobotDiscoveryView.swift
Due: none

🐛 (LekaUpdater): Show success update instead of error
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV100.swift
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV130.swift
  Apps/LekaUpdater/Sources/Libs/UpdateProcess/Version/UpdateProcessV200.swift
Due: none

:bento: curriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/animal_recognition_insects_1-14B267712FD3424E99DFEEFE27A37463.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/animal_recognition_insects_2-3438B5B21B334F9BA8B4A71727B93A14.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/animal_recognition_insects_4-6C91CD0112EE40D8888175566C63C5BE.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/animal_recognition_insects_6-E4B340077B174618886FF623EEA62024.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_ant_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_bee_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_beetle_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_butterfly_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_dragonfly_purple.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_fly_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_grasshopper_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_ladybug_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_mosquito_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/animals_insects_spider_black.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-ant_red-0099.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-bee_yellow-0092.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-beetle_blue-0097.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-butterfly_pink-0095.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-dragonfly_purple-0090.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-fly_green-0093.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-grasshopper_green-0091.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-ladybug_red-0094.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-mosquito_orange-0098.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/activities/assets/pictograms-animals-insects-spider_black-0096.activity.asset.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: curriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/animal_recognition_pets_1-03C46293135143BF81BA579682B9E78C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/animal_recognition_pets_2-898A7ACFEDE24C3EBF437CC74935A570.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/animal_recognition_pets_4-882A7422D3FA47DAB39D8FF40D90D89E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/animal_recognition_pets_6-926BFE00F78F47AB986F6969DC3BCDFE.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_cat_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_clownfish_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_dog_golden_retriever_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_hamster_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_mouse_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_parrot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_pigeon_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_rabbit_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/animals_pets_turtle_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms-animals-pets-clownfish_orange-0057.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms-animals-pets-dog_golden_retriever_brown-0052.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_cat_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_hamster.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_mouse.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_parrot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_pigeon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_rabbit_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_pets-358521AE2F434D54BFFFA513ED608529/activities/assets/pictograms_animals_turtle.activity.asset.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: curriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_bucket_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_flower_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_hose_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_leaf_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_mushroom_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_pot_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_rake_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_shovel_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_swing_set_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_tree_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_watering_can_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/objects_garden_wheelbarrow_green.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-bucket_green-00B0.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-flower_blue-00B7.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-hose_blue-00B3.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-leaf_green-00B6.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-mushroom_brown-00B2.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-pot_brown-00B4.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-rake_red-00B9.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-shovel_gray-00AE.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-swing_set_green-00B1.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-tree_green-00AD.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-watering_can_blue-00AB.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/assets/pictograms-objects-garden-wheelbarrow_green-00B5.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/recognition_garden_items_1-34E696B157354C76B9613F4C7E185BEE.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/recognition_garden_items_2-479F70F09C9D4934844A0C0663B21648.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/recognition_garden_items_4-54A1A7A32EFA4A858C5A1E6AD0D3DA48.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/activities/recognition_garden_items_6-B5BEA82CDC7743FD905D5DA788E90C28.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: currriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_cup.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_fireplace.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_gloves.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_hat.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_jacket.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_mittens.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_scarf.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_sledge.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_snowman.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_socks.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/assets/recognition_winter_tree.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_1-9C5A3D5EA2DC47A1905C013133AEF72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_2-55885C9A9EC94AC9A6955E2A8322BEAB.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_4-63E772D717F545699C9369FADA2A2CAB.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_6-A0C5C7FF52FA4FEA907ECB784D489A5F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: curriculum fix wrong utterance
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_1-9C5A3D5EA2DC47A1905C013133AEF72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_2-55885C9A9EC94AC9A6955E2A8322BEAB.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_4-63E772D717F545699C9369FADA2A2CAB.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/activities/recognition_winter_holidays_6-A0C5C7FF52FA4FEA907ECB784D489A5F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

:bento: curriculum fix missing assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/animal_recognition_ice_animals_1-8D8DDB52F3FD41169688C2811CCD2D66.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/animal_recognition_ice_animals_2-F8CFCF9AF97045B9B162F7889199E47A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/animal_recognition_ice_animals_4-54CFAAB5FFAA43D4BFE48BA3F788AC8D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/pictograms-animals-arctic-bear_white-0087.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/pictograms-animals-arctic-orca_black-008A.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/pictograms-animals-arctic-penguin_yellow-0088.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/pictograms-animals-arctic-seal_grey-0086.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/pictograms-animals-arctic-walrus_brown-0089.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8/curriculum_animal_recognition_ice_animals-0EAFF8A46A4C4D60A320EBBBF2CC03B8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_bear_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_eskimo_girl.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_iceberg_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_igloo_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_orca_black.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_penguin_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_seal_grey.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_sleigh_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/assets/arctic_walrus_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/icons/recognition_the_ice_floe.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/recognition_the_ice_floe_1-8D8DDB52F3FD41169688C2811CCD2D66.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/recognition_the_ice_floe_2-F8CFCF9AF97045B9B162F7889199E47A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/activities/recognition_the_ice_floe_4-54CFAAB5FFAA43D4BFE48BA3F788AC8D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/recognition_the_ice_floe.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (curriculums): Add Memory curriculum
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/animal_memory_1_pair-2719E79159AC439086C952B1A3185727.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/animal_memory_2_pairs-35AE2B4AC44C43B6B0121AA8E482039F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/animal_memory_4_pairs-5EDEA1BEB5EC49F99B2A8DAC320D7970.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_cat_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_dog_golden_retriever.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_fish_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_hamster.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_mouse.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_parrot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_peacock.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_pigeon.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_rabbit_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/assets/pictograms_animals_turtle.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/activities/icons/memory_animals_pets.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_memory-7C75908B86D748A283AA080D40642BE7/memory_animals_pets.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (curriculums): Add body parts recognition curriculum
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_arm.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_belly.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_chest.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_ear.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_eye.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_face.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_foot.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_hand.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_leg.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_mouth.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/assets/body_parts_nose.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/icons/recognition_body_parts.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_1-756B84801C32483FABEA6E5BC5DF7081.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_2-D9D9772CB2AE4DDFB4B718D757FA66A0.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_4-3DFED637A5D84B8B8CE1580F2C629BE6.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/activities/recognition_body_parts_6-57A753B7CB794183AD2CD8D3CA4909A5.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_body_parts-80761A1D62BF4C6980BF20E7D9BE52B8/recognition_body_parts.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (curriculums): Add modes of transportation curriculum
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_bike_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_bus_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_car_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_ferry.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_helicopter_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_kick_scooter.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_moto_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_motor_scooter_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_plane_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_train.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_tramway_red.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/assets/transportation_truck_blue.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/icons/recognition_transportation.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/recognition_modes_of_transportation_1-0F5E9FE3202D4F5197F7C93B8945329C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/recognition_modes_of_transportation_2-4EE973F2856544A89352D123BDF8293D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/recognition_modes_of_transportation_4-B3A742E302F243DA9CA8D8F9AB1765FE.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/activities/recognition_modes_of_transportation_6-AE79A7F21F764925848038007F2035C1.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/recognition_transportation.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (activities): Fix sequencing tooth brushing
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_1.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_2.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_3.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_4.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sequencing_daily_life-FCAD78F080624326B00169811C4C5622/activities/assets/sequencing_tooth_brushing_5.activity.asset.png
Due: none

🍱 (curriculums): Add farm animals recognition
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_1-4719436B24BA4876804DC6A734BA7E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_2-4FBB9C309C454DD8BF73FBC564989CF3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_4-0977107F2D0B42CD8563FF12EF5EC773.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/animal_recognition_farm_animals_6-0C84A385DC1B483494978DDF212B8D2D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_bird_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_chicken_yellow.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_cow_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_donkey_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_duck_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_goat_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_goose_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_horse_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_pig_pink.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_rooster_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_sheep_white.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/assets/animals_farm_swan.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/icons/recognition_animals_farm.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/activities/recognition_animals_farm.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA/curriculum_animal_recognition_farm_animals-7D02DB707DD945A38BC65BDD86D2CFEA.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid
