Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

🌐 (ContentKit): Fix ContentKit localization issues
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumGridView.swift
  Modules/ContentKit/Sources/Views/SkillsGridView.swift
  Modules/ContentKit/Sources/Views/StoryDetailsView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🧑‍💻 (hooks): Yaml - avoid line breaks for line < 1024 characters
  Tools/Hooks/modules/yaml.py
Due: none

🧑‍💻 (hooks): Add tags, jtd, check
  .pre-commit-config.yaml
  Specs/jtd/tags.jtd.json
  Tools/Hooks/check_yaml_content_activities.py
  Tools/Hooks/check_yaml_content_curriculums.py
  Tools/Hooks/check_yaml_content_stories.py
  Tools/Hooks/check_yaml_definitions_tags.py
  Tools/Hooks/modules/content.py
Due: none

✨ (ContentKit): Add tag list
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: none

♻️ (ContentKit): Stories - add/fix tags
  Modules/ContentKit/Resources/Content/stories/first_day_of_school-8DE906A44CC642F8824C567169AF6626.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_at_the_beach-60C133CB19F94BA0864DFA9BF6E7F696.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_dances_with_leka-47509B00A3B94C27B7D64DC1BC3B6895.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_makes_pancakes-5213404A073D47198A6B3B694396CB8B.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_meets_leka-FF7618528E194E8CB3A6950E08562D16.story.yml
  Modules/ContentKit/Resources/Content/stories/hanna_plays_music-CB8EB22A988049FB900AD5B66F78B00F.story.yml
Due: none

add-tags
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: none

skills et tags à jour
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_1_image-69283AFFE9F24D73A99F22F46D9D28D3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_2_images-DF4A9657809D4435916A82A8314D2E4A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_3_images-2AFAF1C1D3ED4602A9BBB8B06E51D59D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_4_images-55ECB1EFFAA3466CA1704BCFE7AC371E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_5_images-659278115279467190B097830E94F250.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/activities/recognition_sports_drawings_6_images-D9A7EC7FDFA5478596A36015A03F4D5E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE/curriculum_recognition_sports-C7F3963541234712A2701C0EB9E2EEAE.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Ajout du tag 'sports'
  Modules/ContentKit/Resources/Content/definitions/tags.yml
Due: none

MAJ skills et tags
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_1_image-F6BBB2161CFC4E3086C3D79DDED8C126.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_2_images-57D172F7E03C4910BE267A196B7E859A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_3_images-A1151E7887214352ABB0B12A9861870A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_4_images-A85FAB3DE49B463789B02128571E5254.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_5_images-AB8488E3C93F436E962BB84210F5BD03.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/activities/recognition_professions_drawings_6_images-2563A47CEA904434811B7881F715F98A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441/curriculum_recognition_professions-92ACC48ED3A041DE959EA5C2E8600441.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (ContentKit): Skills - remove recognition/... skills, replaced by tags
  Modules/ContentKit/Resources/Content/definitions/skills.yml
Due: check_yaml_definitions_skills

:recycle: (RobotKit): Add id+language for magic card characteristic
  Modules/BLEKit/Sources/BLESpecs.swift
  Modules/BLEKit/Sources/Models/CharacteristicModelNotifying.swift
Due: none

:sparkles: (RobotKit): Add magicCard property to Robot
  Modules/RobotKit/Sources/Robot+MagicCards.swift
  Modules/RobotKit/Sources/Robot.swift
Due: none

ajout
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_bucket.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_cap.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sand_castle.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_shell.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_shovel.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_starfish.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sun.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sun_cream.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sunglasses.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sunshade.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_swimsuit_boy.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_swimsuit_girl.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_1-E8B904158A0D48E785C398FEEB51F007.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/curriculum_recognition_seaside_holidays-10AE86B825224D68B38B8F886DE76159.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/icon-holidays.icon.curriculum.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

modif
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_bucket.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_cap.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sand_castle.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_shell.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_shovel.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_starfish.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sun.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sun_cream.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sunglasses.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_sunshade.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_swimsuit_boy.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/assets/recognition_seaside_holiday_swimsuit_girl.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_2-9C76872851904E75B323FDF5EF2DCFDF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_3-29A6278A44B941DEA1DFE929640A04C8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_4-D0D6AB694E4D4984895A1887B4C4957C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_5-D99071D8358B48668CD1AB55FDA9A2F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_6-4D2170812B8541F481CF1D45FD17BFD7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/curriculum_recognition_seaside_holidays-10AE86B825224D68B38B8F886DE76159.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/curriculum_recognition_seaside_holidays-B1BA5597BC594082AECE293AD25CFA89.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/icon-holidays.icon.curriculum.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/recognition_seaside_holiday.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

coquille
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_3-29A6278A44B941DEA1DFE929640A04C8.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

changement subtitles
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_1-E8B904158A0D48E785C398FEEB51F007.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_2-9C76872851904E75B323FDF5EF2DCFDF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_3-29A6278A44B941DEA1DFE929640A04C8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_4-D0D6AB694E4D4984895A1887B4C4957C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_5-D99071D8358B48668CD1AB55FDA9A2F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_6-4D2170812B8541F481CF1D45FD17BFD7.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

ajout icône
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/icon/recognition_seaside_holiday.activity.icon.png
Due: none

correction tag + nom icône
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/icon/recognition_seaside_holiday.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_1-E8B904158A0D48E785C398FEEB51F007.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_2-9C76872851904E75B323FDF5EF2DCFDF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_3-29A6278A44B941DEA1DFE929640A04C8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_4-D0D6AB694E4D4984895A1887B4C4957C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_5-D99071D8358B48668CD1AB55FDA9A2F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/activities/recognition_seaside_holidays_6-4D2170812B8541F481CF1D45FD17BFD7.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/curriculum_recognition_seaside_holidays-B1BA5597BC594082AECE293AD25CFA89.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/recognition_seaside_holidays.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Ajout licence
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays/curriculum_recognition_seaside_holidays-B1BA5597BC594082AECE293AD25CFA89.curriculum.yml
Due: none

⬆️ (hooks): Run pre-commit autoupgrade
  .pre-commit-config.yaml
Due: none

first commit
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/activities/1_recognition_public_places_zone_1_one_choice-UUID.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/activities/2_recognition_public_places_zone_1_two_choice-UUID.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/activities/3_recognition_public_places_zone_1_four_choice-UUID.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/activities/4_recognition_public_places_zone_2_two_choices-UUID.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/activities/5_recognition_public_places_zone_2_four_choices-UUID.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/activities/6_recognition_public_places_zone_2_six_choices-UUID.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_public_places-UUID/curriculum_recognition_public_places-UUID.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_bag.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_cart.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_gloves.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_guide_post.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_light.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_masterpiece.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_milk.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_pencil_case.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_popcorn.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_seat.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_swimming_goggles.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_swimsuit.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_cinema.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_museum.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_school.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_supermarket.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_swimmingpool.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_theater.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/icons/recognition_public_places_drag.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choice-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_2_choices-9F2C490657DF4A92B778445E35032032.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_4_choices-F8B6AEB29BB845029537266BC18AA72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_2_choices-1990F5ED1FDE4A4BADC9EB273A32F614.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_4_choices-6440FE2E15DD45D9B4B242541A5617F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_6_choices-63091CA41C974376BBF7D4D51A7E63FA.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/recognition_public_places_drag.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

activités 1 à 6
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choice-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_2_choices-9F2C490657DF4A92B778445E35032032.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_4_choices-F8B6AEB29BB845029537266BC18AA72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_2_choices-1990F5ED1FDE4A4BADC9EB273A32F614.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_4_choices-6440FE2E15DD45D9B4B242541A5617F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_6_choices-63091CA41C974376BBF7D4D51A7E63FA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

mise à jour skills et tags
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choice-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_2_choices-9F2C490657DF4A92B778445E35032032.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_4_choices-F8B6AEB29BB845029537266BC18AA72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_2_choices-1990F5ED1FDE4A4BADC9EB273A32F614.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_4_choices-6440FE2E15DD45D9B4B242541A5617F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_6_choices-63091CA41C974376BBF7D4D51A7E63FA.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

last version
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/icons/recognition_public_places_drag.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choice-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_2_choices-9F2C490657DF4A92B778445E35032032.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_4_choices-F8B6AEB29BB845029537266BC18AA72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_2_choices-1990F5ED1FDE4A4BADC9EB273A32F614.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_4_choices-6440FE2E15DD45D9B4B242541A5617F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_6_choices-63091CA41C974376BBF7D4D51A7E63FA.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

changements-asset
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_bag.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_cart.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_gloves.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_guide_post.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_light.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_masterpiece.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_milk.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_pencil_case.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_popcorn.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_seat.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_swimming_goggles.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_accessory_swimsuit.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_cinema.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_museum.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_school.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_supermarket.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_swimmingpool.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/assets/public_spaces_theater.activity.asset.png
Due: none

♻️ (LekaApp): Simplify the use of Focus on TextFields to Bool
  Apps/LekaApp/Sources/Views/TextFields/TextFieldEmail.swift
  Apps/LekaApp/Sources/Views/TextFields/TextFieldPassword.swift
Due: none

🔥 (LekaApp): Remove unused Focusable enum
  Apps/LekaApp/Sources/Views/TextFields/Focusable.swift
Due: none

🚸 (ContentKit): Update video resources localized
  Modules/ContentKit/Resources/Content/categories/resources_first_steps.category.yml
  Modules/ContentKit/Resources/Content/categories/resources_videos.category.yml
Due: none

🔖 (LekaApp): Bump version to v1.7.0
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/description.txt
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/description.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
Due: none

🌐 (GEK): Fix localization paths
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Stories/StoryView+l10n.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView+SuccessFailureView+l10n.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

:hammer: (hooks): Check action before the general one
  Tools/Hooks/modules/content.py
Due: none

:hammer: (hooks): Add image check on ipad only
  Tools/Hooks/modules/content.py
Due: none

Changements titres / sous titres
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choices-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_2_choices-9F2C490657DF4A92B778445E35032032.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_4_choices-F8B6AEB29BB845029537266BC18AA72C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_2_choices-1990F5ED1FDE4A4BADC9EB273A32F614.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_4_choices-6440FE2E15DD45D9B4B242541A5617F8.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_2_zones_6_choices-63091CA41C974376BBF7D4D51A7E63FA.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

coquille
  Modules/ContentKit/Resources/Content/curriculums/curriculum_sort_objects_by_location-CC406024F40C4834A66BB7C8F0E8C0AD/activities/sort_objects_by_location_1_zone_1_choice-03347E31BA8745E5A2A078F7F261CCB9.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Changement assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_eight.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_five.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_four.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_nine.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_one.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_seven.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_six.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_ten.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_three.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/assets/enumeration_candy_two.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/counting_candies_from_1_to_5-1A3097D58288406EB4835812663D3376.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/activities/icons/counting_candies.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/counting_candies.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9/curriculum_counting_candies-215DCF9CCB7B4E36A73273DC42D848E9.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid
