Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

🐛 (LekaApp): Fix Caregiver creation process
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CaregiverPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCaregiverView.swift
Due: none

🔧 (jtd): Activity - add exercise/action
  Specs/jtd/activity.jtd.json
Due: none

⚗️ (Activity): Sample - add exercise w/ action
  Modules/ContentKit/Resources/Content/activities/templates/activity_template-0123456789ABCDEF0123456789ABCDEF.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (AccountKit): Edit Create Caregiver process in the manager
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CaregiverPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCaregiverView.swift
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

🍱 (Activities): Add color bingo 4, 5, 6
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_2-7960FD995EDC4C179A4BA4997E4C5A4F.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_3-E742B4AF67204DA68C08ADEC6126648E.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_4-A7584D692B23422BB12683FA7BE393BE.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_6-EFC7F64F51FD4D68863749C1C278BD1F.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_bingo_1.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_bingo_2.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_bingo_3.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_bingo_4.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_bingo_5.activity.icon.png
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_bingo_6.activity.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🏗️ (LekaApp): Use unique sheet and fullScreenCover for modal
  Apps/LekaApp/Sources/_NEWCodeBase/Navigation/Navigation.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+Step4.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/SampleActivityListView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/EditCarereceiverView/EditCarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView+ViewModel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/NoAccountConnectedLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/RootOwnerViewModel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CaregiverPicker.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CarereceiverList.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/WelcomeView.swift
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

🔥 (LekaApp): Navigation - remove unused settings alert variables
  Apps/LekaApp/Sources/_NEWCodeBase/Navigation/Navigation.swift
Due: none

♻️ (LekaApp): EditCaregiverLabel - use name variable for onReceive
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
Due: none

✨ (LekaApp): Add first caregiver creation sidebar button
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

♻️ (LekaApp): EditCaregiverLabel - improve ui, add button when not caregiver is selected
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
Due: none

🌐 (LekaApp): EditCaregiverLabel - review l10n
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

ajout curriculum emotions photos
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-1_pictures-hortense-195c7905-0188-4c1d-a3c9-0aed0199606d.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-1_pictures-hugo-30e86d7d-b937-4721-9e5a-3a0d1e8a1ace.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-1_pictures-ladislas-ddc5380e-efc6-4abf-b03b-603b73012e7b.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-1_pictures-lucie-3fc7b66e-67a0-4f50-9817-9ef19af7f717.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-1_pictures-yann-c44a02c1-7ae8-45f8-b6f5-58d39e4e363b.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-hortense-b88f7a94-9e41-4dc6-b8ef-dbc50543e976.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-hortense-lucie-01cd2e22-846d-4873-95d5-414366ef0cd5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-hortense-yann-ac80e69e-caba-41f6-8001-c359870b8569.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-hugo-0c0ab0f5-ed2f-468f-bb3d-e3bf8b9512c5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-ladislas-a8590b9f-cd04-447d-a76d-1c2d99ce2615.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-ladislas-hugo-4246413b-2fe4-4b53-aa0b-3b170f053eda.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-lucie-7d6c0af7-9bc4-434b-b07e-0761d0a4b39e.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-lucie-ladislas-b9988679-9d34-49ff-bda9-0802fe83efa9.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-yann-3873d0ba-e98d-44ca-bdf9-b7695e58648e.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-yann-hugo-4abe3280-bdb4-4b5b-b3f2-1dd8cddecdd7.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-hortense-e64a56b0-0481-4688-b285-80fcf3020bba copy.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-hortense-lucie-721a6030-75f0-4731-8ded-2f1a5ba06e69.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-hugo-ac9c2620-9fba-4a60-aa39-8e5fbdc57d7b.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-hugo-ladislas-53aab2b3-7310-4ba6-b2bd-979d738cd81d.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-ladislas-7c8cc8cb-c6ce-4fed-b656-d98018ad2502.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-ladislas-lucie-yann-hortense-hugo-46042e54-7d41-4c4c-a40a-0dad3b51b5b0.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-lucie-540372bf-1e0d-4969-a49c-61d0bfb7b579.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-tous-les-personnages-6dce5dd6-9bc8-4ae3-a6d1-24a531bda2bd.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-yann-1b1cce01-b360-4552-833e-01e05d476008.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-yann-hortense-a22c67a2-28c8-4cd4-a0e7-aec34e6c564f.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures_hugo_yann-969bc9f7-da53-41ab-ba3a-6b9c5e6773cf.yml
Due: none

🚸 (LekaApp): Show infos CaregiverPicker when no caregivers
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CaregiverPicker.swift
Due: none

🚸 (LekaApp): Show infos CarereceiverPicker when no carereceivers
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CarereceiverPicker.swift
Due: none

🚸 (LekaApp): Show infos CarereceiverList when no carereceivers
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CarereceiverList.swift
Due: none

🌐 (LekaApp): Add localization
  Apps/LekaApp/Resources/Localizable.xcstrings
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (LekaApp): Remove modal carereceiverPicker when not loggedIn
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/SampleActivityListView.swift
Due: none

✨ (AccountKit): Refactor Create function to return a profile
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
Due: none

♻️ (AccountKit): Rename addCaregiver func to createCaregiver
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCaregiverView.swift
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

♻️ (AccountKit): Refactor createCaregiver to publish a profile
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

🐛 (LekaApp): Fix Caregiver creation process
  Apps/LekaApp/Sources/_NEWCodeBase/Views/AccountCreation/Process/AccountCreationProcess+Step2.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCaregiverView.swift
Due: none

♻️ (AccountKit): Rename addCarereceiver to createCarereceiver
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCarereceiverView.swift
  Modules/AccountKit/Sources/Managers/CarereceiverManager.swift
Due: none

✨ (LekaApp): Update carereceiver creation process
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCarereceiverView.swift
Due: none

♻️ (AccountKit): Refactor createCarereceiver to publish a profile
  Modules/AccountKit/Sources/Managers/CarereceiverManager.swift
Due: none

♻️ (LekaApp): Move createCarereceiver subsciption to ViewModel
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCarereceiverView.swift
Due: none

Update discover_leka-89CEA9FE20624659B1307B633641BC90.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/discover_leka-89CEA9FE20624659B1307B633641BC90.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Update xylophone_pentatonic-7C1DDED6C6D44913B9A7D4EB4AEE8F6B.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/xylophone_pentatonic-7C1DDED6C6D44913B9A7D4EB4AEE8F6B.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

add id & names
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-hortense-lucie-01cd2e22-846d-4873-95d5-414366ef0cd5.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-2_pictures-hortense-yann-ac80e69e-caba-41f6-8001-c359870b8569.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-hortense-lucie-721a6030-75f0-4731-8ded-2f1a5ba06e69.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-ladislas-lucie-yann-hortense-hugo-46042e54-7d41-4c4c-a40a-0dad3b51b5b0.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/emotion_recognition-4_pictures-yann-hortense-a22c67a2-28c8-4cd4-a0e7-aec34e6c564f.yml
Due: none

♻️ (LekaApp): Move Collection Listeners in Managers init
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ConnectionView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/EditCaregiverView/EditCaregiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/EditCarereceiverView/EditCarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
  Modules/AccountKit/Sources/Managers/CarereceiverManager.swift
Due: none

♻️ (AccountKit): Rename fetchAll functions to initializeListener
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
  Modules/AccountKit/Sources/Managers/CarereceiverManager.swift
Due: none

🚧 (WIP): Some ideas for implementation
  Modules/ContentKit/Examples/ContentKitExample/Sources/ActivityListView.swift
  Modules/ContentKit/Sources/ContentKit.swift
Due: none

🚧 (WIP): Add function to get image name
  Modules/ContentKit/Examples/ContentKitExample/Sources/ActivityListView.swift
Due: none

👷 (fastlane): TestFlight - Add pr comment w/ build number
  .github/workflows/ci-fastlane-release_beta_internal.yml
  fastlane/Fastfile
Due: none

👷 (fastlane): Release - Add pr comment w/ build number
  .github/workflows/ci-fastlane-release_app_store.yml
Due: none

activités 4 & 5
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs #1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs #2-A68EF64659D24004B254C9F924800511.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (GEK): Instructions - handle different languages for text to speech
  Modules/GameEngineKit/Sources/Views/Exercise/ExerciseInstructionsButton.swift
Due: none

🩹 (GEK): Fix French pronunciation of Leka in instructions
  Modules/GameEngineKit/Sources/Views/Exercise/ExerciseInstructionsButton.swift
Due: none
