Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: swiftlint_custom, check_xcstrings, check_yaml_definitions_avatars, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_definitions_robot_assets, check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

Path conditions:
  swiftlint_custom: any of: \.swift$
  check_xcstrings: any of: .*\.xcstrings
  check_yaml_definitions_avatars: any of: avatars.yml
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_definitions_robot_assets: any of: robot_assets.yml
  check_yaml_definitions_tags: any of: tags.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums_unique_uuid: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_stories: any of: .*\.story\.yml and \.(yaml|yml)$
  check_yaml_content_stories_unique_uuid: any of: .*\.story\.yml and \.(yaml|yml)$

⚗️ (GEKExample): TTSTheValidate - add FindTheRightOrder coordinator
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightOrder.swift
Due: swiftlint_custom

🚚 (GEK): Reorganize Utils directory
  Modules/GameEngineKit/Sources/Utils/Audio/AudioPlayer.swift
  Modules/GameEngineKit/Sources/Utils/Audio/AudioPlayerViewModel.swift
  Modules/GameEngineKit/Sources/Utils/Audio/SpeechSynthesizer.swift
  Modules/GameEngineKit/Sources/Utils/MIDI/MIDIInstrument.swift
  Modules/GameEngineKit/Sources/Utils/MIDI/MIDIPlayer.swift
  Modules/GameEngineKit/Sources/Utils/MIDI/MIDISample.swift
  Modules/GameEngineKit/Sources/Utils/MIDI/MIDIScale.swift
  Modules/GameEngineKit/Sources/Utils/UI/ContinuousProgressBar.swift
Due: swiftlint_custom

✨ (GEK): Add AudioManager + play from file
  Modules/GameEngineKit/Sources/Utils/Audio/AudioManager.swift
Due: swiftlint_custom

✨ (ContentKit): Make Curriculum section collapsable
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: swiftlint_custom, check_xcstrings

💄 (ContentKit): Add content infos in detailsView
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: swiftlint_custom, check_xcstrings

✨ (GEK): Add AudioManager + text to speech
  Modules/GameEngineKit/Sources/Utils/Audio/AudioManager.swift
Due: swiftlint_custom

♻️ (GEK): AudioManager - handle multiple ouputs at the same time
  Modules/GameEngineKit/Sources/Utils/Audio/AudioManager.swift
Due: swiftlint_custom

💄 (ContentKit): Update CurriculumGroupbox UI
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/CurriculumGridView.swift
  Modules/ContentKit/Sources/Views/CurriculumGroupboxView.swift
  Modules/ContentKit/Sources/Views/CurriculumHorizontalListView.swift
Due: swiftlint_custom, check_xcstrings

🚸 (ContentKit): Fix ActivityList NavigationLink hitzone
  Modules/ContentKit/Sources/Views/ActivityListView.swift
Due: swiftlint_custom

🚸 (ContentKit): Add Launch button to ActivityList to bypass details
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/ActivityListView.swift
Due: swiftlint_custom, check_xcstrings

🏷️ (AccountKit): Add SavedActivity Model and init
  Modules/AccountKit/Sources/Models/RootAccount/PersonalLibrary/SavedActivity+Init.swift
  Modules/AccountKit/Sources/Models/RootAccount/PersonalLibrary/SavedActivity.swift
Due: swiftlint_custom

✨ (AccountKit): Update RootAccount to include savedActivities
  Modules/AccountKit/Sources/Extensions/SavedActivity+Codable.swift
  Modules/AccountKit/Sources/Models/RootAccount/RootAccount+Init.swift
  Modules/AccountKit/Sources/Models/RootAccount/RootAccount.swift
Due: swiftlint_custom

✨ (AccountKit): Update RootAccountManager + VM for SavedActivity
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
  Modules/AccountKit/Sources/Managers/RootAccounts/RootAccountManager.swift
  Modules/AccountKit/Sources/Managers/RootAccounts/RootAccountManagerViewModel.swift
Due: swiftlint_custom

🍱 (curriculums): Update icons
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_forest_animals-E3C3263704DC49FE8C861DDB04E27D0B/recognition_animals_forest.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_insects-D4B717CBC9B5484490A2E86B32D400AE/recognition_animals_insects.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_animal_recognition_sea_animals-ADBEC52B10B0423E96B3F08CEE042752/recognition_animals_sea.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_garden_items-A1006027902E44C0B38BC3D3BAEDD4F6/recognition_garden.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_modes_of_transportation-B20B0721C37644E9A0168481421893F8/recognition_transportation.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_seaside_holidays-B1BA5597BC594082AECE293AD25CFA89/recognition_seaside_holidays.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_the_ice_floe-0EAFF8A46A4C4D60A320EBBBF2CC03B8/recognition_animals_ice.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_winter_holidays-2B8E01DABDBC4863A962B785D4069B3E/recognition_winter_holidays.curriculum.icon.png
Due: none

🏷️ (LekaApp): Add PersonalLibrary cases Navigation Categories
  Apps/LekaApp/Sources/Navigation/Navigation+Category.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+CategoryLabel.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
Due: swiftlint_custom

✨ (LekaApp): Add PersonalLibrary+ActivitiesView
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/Views/PersonalLibrary/PersonalLibrary+ActivitiesView.swift
Due: swiftlint_custom

lucie/contentkit/curriculum/alphabet letters sf.symbols
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/activities/alphabet_recognition_1a-059D51F1FABA466685B378F33104099D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/activities/alphabet_recognition_1b-4B7553067EA24CDF963AE906294E55D9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/activities/alphabet_recognition_2-291DD8ABBBAF41DFB835AD84EA7B896D.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/activities/alphabet_recognition_4-0F1D5AB85369452A98DAC2118FBB3E7C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/activities/alphabet_recognition_6-5A458DB615B342EC9EDDD3832671C49E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/activities/icons/alphabet_recognition.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/alphabet_recognition.curriculum.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C/curriculum_alphabet_recognition-3ECA577C27D148C799776FB20799A36C.curriculum.yml
  Modules/ContentKit/Resources/Localizable.xcstrings
Due: check_xcstrings, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

⚡️ (linter): Swiftlint - remove excluded Derived directories
  .swiftlint.yml
Due: none

✨ (GEK): Add new AudioManager
  Modules/GameEngineKit/Sources/Utils/Audio/AudioManager.swift
Due: swiftlint_custom

✨ (DesignKit): Add AnyButtonStyle
  Modules/DesignKit/Sources/AnyButtonStyle.swift
Due: swiftlint_custom

♻️ (GEK): ExerciseInstructionsButton - use new AudioManager
  Modules/GameEngineKit/Sources/Views/Exercise/ExerciseInstructionsButton.swift
Due: swiftlint_custom

♻️ (GEK): ActionButton+Listen - use new AudioManager
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Listen.swift
Due: swiftlint_custom

♻️ (GEK): ListenThenTouchToSelectView - use new AudioManager
  Modules/GameEngineKit/Sources/Exercises/Touch/ListenThenTouchToSelect/ListenThenTouchToSelectView.swift
Due: swiftlint_custom

♻️ (GEK): ListenThenDnD - use new AudioManager
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropIntoZones/ListenThenDragAndDropIntoZonesView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/ActionThenDragAndDropToAssociate/ListenThenDragAndDropToAssociateView.swift
Due: swiftlint_custom

♻️ (GEK): DanceFreeze - use new AudioManager
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
Due: swiftlint_custom

🔥 (GEK): Remove AudioPlayer, SpeechSynthesizer
  Modules/GameEngineKit/Sources/Utils/Audio/AudioPlayer.swift
  Modules/GameEngineKit/Sources/Utils/Audio/AudioPlayerViewModel.swift
  Modules/GameEngineKit/Sources/Utils/Audio/SpeechSynthesizer.swift
Due: swiftlint_custom

✨ (GEKExample): Add TTSChoiceView components
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceView+SFSymbolView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceView+TextView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceView.swift
Due: swiftlint_custom

♻️ (GEKExample): Update GPs choice models with type var
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayFindTheRightOrder.swift
Due: swiftlint_custom

♻️ (GEKExample): Update TTSChoiceModel & add UIChoice struct
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateView.swift
Due: swiftlint_custom

🏗️ (GEKExample): Update all coordinators w/ new ChoiceModels architecture
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSViewViewModel.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightAnswers+AllAtOnce.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateViewViewModel.swift
Due: swiftlint_custom

🔥 (GEKExample): Remove TTSChoice file
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSChoice.swift
Due: swiftlint_custom

✏️ (GEKExample): Fix typos
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceView+SFSymbolView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceView+TextView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceViewSFSymbol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceViewText.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/TTSViewViewModel.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightAnswers+AllAtOnce.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightAnswers.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateCoordinator+FindTheRightOrder.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/Coordinators/TTSThenValidateGameplayCoordinatorProtocol.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateView.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTSThenValidate/TTSThenValidateViewViewModel.swift
Due: swiftlint_custom

✨ (GEK): Add AssociateCategorie GP & Coordinator
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Gameplays/GameplayAssociateCategories.swift
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/Coordinators/TTSCoordinator+AssociateCategories.swift
Due: swiftlint_custom

✨ (GEK): Update ContentView with new ex AssociateCategory
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/App/ContentView.swift
Due: swiftlint_custom

🔥 (GEKExample): Remove unnecessary .badge()
  Modules/GameEngineKit/Examples/GameEngineKitExample/Sources/Views/TTS/ChoiceView/TTSChoiceViewText.swift
Due: swiftlint_custom

⚡️ (swiftlint): Use flag --use-alternative-excluding
  .pre-commit-config.yaml
  Scripts/SwiftLintRunScript.sh
Due: none

✨ (ContentKit): Add Save/Remove activityto library button
  Modules/ContentKit/Project.swift
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/ActivityGridView.swift
Due: swiftlint_custom

⬆️ (pre-commit): Upgrade to v5.0.0
  .pre-commit-config.yaml
Due: none

🧑‍💻 (git): Add new pre-commit hooks
  .pre-commit-config.yaml
Due: none

🚨 (L10nKit): Fix json formatting
  Modules/ContentKit/Resources/Localizable.xcstrings
Due: check_xcstrings
