Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

➕ (LekaApp): Add Ifrit a fuzzy search lib
  Apps/LekaApp/Project.swift
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

🚸 (LekaApp): Use fuzzy search
  Apps/LekaApp/Sources/Views/Categories/CategorySearchView.swift
Due: none

🚸 (LekaApp): Return best search result
  Apps/LekaApp/Sources/Views/Categories/CategorySearchView.swift
Due: none

🍱 (ContentKit): Add & update resources assets
  Modules/ContentKit/Resources/Content/resources/en/charging_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/magic_cards_holder_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/en/session_EN.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/first_step_FR.resource.pdf
  Modules/ContentKit/Resources/Content/resources/fr/moving_with_leka_FR.resource.pdf
Due: none

🚸 (ContentKit): Display new resources
  Modules/ContentKit/Resources/Content/categories/resources_deep_dive.category.yml
  Modules/ContentKit/Resources/Content/categories/resources_first_steps.category.yml
Due: none

✨ (RobotKit): Try to reconnect to last robot if it involuntary disconnect
  Modules/RobotKit/Sources/UI/ViewModels/RobotConnectionViewModel.swift
Due: none

🧑‍💻 (vscode): Do not ask for makefile config
  .vscode/settings.json
Due: none

📌 (mise): Upgrade tuist, swiftformat, swiftlint
  .mise.toml
Due: none

⬆️ (tuist): Upgrade Package.swift dependencies
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

⬆️ (tuist): Upgrade Firebase to v11.0.0
  Modules/AccountKit/Project.swift
  Modules/AccountKit/Sources/Authentication/AuthManager.swift
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

✨ (ContentKit): Add SelfDetermination temp Curr. & Activity yaml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/drag_and_drop_into_zones_choose_any_answer_2_zones_6_choices-37107E4F1B714F88B7A025B433363266.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/icons/self_determination_drag.activity.icon.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/self_determination_drag.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add exercise.payload + interface
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/drag_and_drop_into_zones_choose_any_answer_2_zones_6_choices-37107E4F1B714F88B7A025B433363266.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206.curriculum.yml
  Modules/ContentKit/Sources/Exercise/Exercise+DragAndDropAnyAnswer.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Gameplay.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise+Payload.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Modules/GameEngineKit/Sources/Gameplays/ChooseAnyAnswer/GameplayChooseAnyAnswer+DragAndDropAnyAnswer.swift
  Modules/GameEngineKit/Sources/Gameplays/ChooseAnyAnswer/GameplayChooseAnyAnswer.swift
  Modules/GameEngineKit/Sources/Gameplays/GameplayChoiceModels.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

⚗️ (GEK): Allow a change of mind by keeping isDraggable
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/AnyAnswer/DragAndDropAnyAnswerView+0_BaseScene.swift
Due: none

✨ (ContentKit): Add interface & gameplay to mapping in Specs
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/drag_and_drop_into_zones_choose_any_answer_2_zones_6_choices-37107E4F1B714F88B7A025B433363266.activity.yml
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (GEK): Add DragAndDropAnyAnswerView, scenes & ViewModel
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/AnyAnswer/DragAndDropAnyAnswerView+0_BaseScene.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/AnyAnswer/DragAndDropAnyAnswerView+1_OneZoneScene.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/AnyAnswer/DragAndDropAnyAnswerView+2_TwoZonesScene.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/AnyAnswer/DragAndDropAnyAnswerView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/AnyAnswer/DragAndDropAnyAnswerView.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/DraggableImageAnswerNode.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

✨ (ContentKit): Add 1_zone_3_choices activity
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/drag_and_drop_into_zones_choose_any_answer_1_zone_3_choices-0190EFD009DB7902832509DCE60A9DC4.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add exercise.payload + interface
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/drag_and_drop_into_zones_choose_any_answer_2_zones_6_choices-37107E4F1B714F88B7A025B433363266.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (GEK): Add MoveOneButton to ActivityView
  Modules/ContentKit/Resources/Content/curriculums/curriculum_self_determination-0190BB0FE59773F2AAC94FF651102206/activities/drag_and_drop_into_zones_choose_any_answer_2_zones_6_choices-37107E4F1B714F88B7A025B433363266.activity.yml
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (GEK): Add evaluating ExState to trigger Finish button
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/ExerciseState.swift
  Modules/GameEngineKit/Sources/Gameplays/ChooseAnyAnswer/GameplayChooseAnyAnswer+DragAndDropAnyAnswer.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (ContentKit): Add Tag struct
  .swiftlint.yml
  Modules/ContentKit/Sources/Models/Tags.swift
Due: none

♻️ (ContentKit): Update tags variable's types for Curriculum & Activity
  Modules/ContentKit/Examples/ContentKitExample/Sources/ActivityDebugView.swift
  Modules/ContentKit/Sources/Activity/Activity.swift
  Modules/ContentKit/Sources/Curriculum/Curriculum.swift
Due: none

♻️ (ContentKit): Update skills variable's type for Curriculum
  Modules/ContentKit/Sources/Curriculum/Curriculum.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
Due: none

🚸 (LekaApp): Add tag search result for activities & curriculums
  Apps/LekaApp/Sources/Views/Categories/CategorySearchView.swift
Due: none

🚸 (ContentKit): Allow more tolerance on search
  Apps/LekaApp/Sources/Views/Categories/CategorySearchView.swift
Due: none

🧑‍💻 (LekaApp): Improve readability in serach tolerance check
  Apps/LekaApp/Sources/Views/Categories/CategorySearchView.swift
Due: none

🍱 (ContentKit): Add skill icon assets
  Modules/ContentKit/Resources/Content/definitions/icons/association.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/attention.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/communication.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/counting.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/discrimination.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/emotion_recognition.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/empathy.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/familiarization_with_leka.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/fine_motor_skills.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/generalization.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/gross_motor_skills.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/hearing.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/inhibition.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/joint_attention.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/listening_comprehension.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/matching.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/memory.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/ordering.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/receptive_language.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/recognition.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/relationship_tablet_robot.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/self_awareness.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/self_regulation.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/sensory_integration.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/social_interactions.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/sorting.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/spatial_understanding.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/sustained_attention.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/time_and_temporality_understanding.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/touch.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/turn_taking.skill.icon.png
  Modules/ContentKit/Resources/Content/definitions/icons/vision.skill.icon.png
Due: none

💄 (ContentKit): Add skill icons in SkillGridView
  Modules/ContentKit/Sources/Views/SkillsGridView.swift
Due: none

🚸 (ContentKit): Improve navigation through skills and subskills
  Modules/ContentKit/Sources/Views/ActivityHorizontalListView.swift
  Modules/ContentKit/Sources/Views/SkillsGridView.swift
  Modules/ContentKit/Sources/Views/SubskillsGridView.swift
Due: none

🔥 (GEK): Remove unecessary @ViewBuilder statements
  Modules/GameEngineKit/Sources/Exercises/Touch/ChoiceEmojiView.swift
  Modules/GameEngineKit/Sources/Exercises/Touch/ChoiceSFSymbolView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

⚗️ (tuist): Upgrade ifrit to v2.0.3 using revision
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

🚸 (LekaApp): Use Ifrit searchSync() function
  Apps/LekaApp/Sources/Views/Categories/CategorySearchView.swift
Due: none

⬆️ (tuist): Upgrade Firebase to v11.1.0
  Tuist/Package.resolved
  Tuist/Package.swift
Due: none

♻️ (ContentKit): Use Activity/CurriculumHorizontalListView
  Modules/ContentKit/Sources/Views/SearchGridView.swift
Due: none

✏️ (activities): Fix typo in ustensiles
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_kitchen_items-FCBEE55DD11F427785A12328E6E01C8E/activities/recognition_kitchen_items_kitchen_utensils-A9BC9B8ED47F4EA3A1760EFCCCBE0977.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (LekaApp): Update persistentDataManager on Caregiver change
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
Due: none

🍱️ (ContentKit): Add Gamepad ColorPad
  Modules/ContentKit/Resources/Content/activities/gamepads/gamepad_color_pad-DBA6170077AB4DBABEB05E03932BDC84.activity.yml
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (GEK): Add Gamepad ColorPad interface
  Modules/GameEngineKit/Sources/Exercises/Specialized/Gamepad/Gamepad+ColorPadView.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

✨ (GEK): Disable ex. interface while reviewing answers
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

✨ (GEK): Edit .playing state to include a PlayType
  Modules/GameEngineKit/Sources/Exercises/ExerciseState.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/HideAndSeek/HideAndSeekView+Player.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+ViewModel.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/SuperSimon/GameplaySuperSimon.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+DragAndDrop.swift
  Modules/GameEngineKit/Sources/Gameplays/AssociateCategories/GameplayAssociateCategories+Memory.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+DragAndDropIntoZones.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightAnswers/GameplayFindTheRightAnswers+TouchToSelect.swift
  Modules/GameEngineKit/Sources/Gameplays/FindTheRightOrder/GameplayFindTheRightOrder+DragAndDropInOrder.swift
Due: none
