Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$

🐛 (LocalizationKit): LocalizedStrings - move bundle parameter to the right position
  Modules/LocalizationKit/Sources/l10n+LocalizedString.swift
Due: none

🌐 (RobotKit): Fix l10n by specifying bundle
  Modules/RobotKit/Sources/UI/Views/RobotConnectionView+l10n.swift
Due: none

🌐 (AccountKit): Fix l10n by specifying bundle
  Modules/AccountKit/Sources/Authentication/AuthManager+l10n.swift
  Modules/AccountKit/Sources/Authentication/AuthManagerViewModel.swift
Due: none

🌐 (GEK): Fix l10n by specifying bundle
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/Exercises/Specialized/DanceFreeze/DanceFreezeView+l10n.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/HideAndSeek/HideAndSeek+l10n.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Melody/MelodyView+l10n.swift
  Modules/GameEngineKit/Sources/Exercises/Specialized/Pairing/PairingView+l10n.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView+SuccessFailureView+l10n.swift
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🔖 (LekaUpdater): Release v1.4.1 - minor bug fixes
  Apps/LekaUpdater/Project.swift
  fastlane/release/LekaUpdater/metadata/en-US/release_notes.txt
  fastlane/release/LekaUpdater/metadata/fr-FR/release_notes.txt
Due: none

🔖 (LekaUpdater): Fix release notes, remove emojis
  fastlane/release/LekaUpdater/metadata/en-US/release_notes.txt
  fastlane/release/LekaUpdater/metadata/fr-FR/release_notes.txt
Due: none

Curriculum-Categorization
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_1_image_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_2_images_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_6_images_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_3_categories_of_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_2_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_3_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_with_an_intruder
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_without_error.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_an_intruder.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_several_intruders.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_error.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_help.yml
Due: none

👷 (fastlane): Update labels for deliver and test flight (beta)
  .github/workflows/ci-fastlane-release_app_store.yml
  .github/workflows/ci-fastlane-release_beta_internal.yml
Due: none

modif.
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_1_image_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_3_categories_of_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_2_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_3_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_with_an_intruder
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_with_an_intruder.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_without_error.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_an_intruder.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_several_intruders.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_error.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_help.yml
Due: none

corrections
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_2_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_3_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_an_intruder.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_several_intruders.yml
Due: none

modif.2
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_2_images_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_6_images_through_functional_category.yml
Due: none

ajout color bingo 4,5,6
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_4-A7584D692B23422BB12683FA7BE393BE.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_6-EFC7F64F51FD4D68863749C1C278BD1F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Update color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🍱 (Curriculums): Add categorization activities
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_1_image_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_2_images_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_6_images_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_3_categories_of_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_2_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_categories_of_3_images.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_with_an_intruder.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_functional_category_without_error.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_an_intruder.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_with_several_intruders.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_error.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_help.yml
Due: none

FIXUP - move to curriculums directory
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_2_images_through_functional_category.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization-sort_through_images_without_error.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_1_image_through_functional_category.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_2_images_through_functional_category.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_6_images_through_functional_category.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_3_categories_of_images.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_categories_of_2_images.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_categories_of_3_images.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_functional_category_with_an_intruder.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_functional_category_without_error.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_images_with_an_intruder.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_images_with_several_intruders.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_images_without_error.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-sort_through_images_without_help.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

FIXUP - move to activities directory + rename with uuid
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_functional_category_with_an_intruder.activitDB5A88B225644ABC997B86FD0E025443.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_images_with_an_intruder.activity-7ECDDF1846AC47A8B0BEFF5525BE80B7.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/categorization-sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-8873C35690114CBC8C58718F26970994.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

FIXUP - rename file, remove categorization prefix
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_functional_category_with_an_intruder.activitDB5A88B225644ABC997B86FD0E025443.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_with_an_intruder.activity-7ECDDF1846AC47A8B0BEFF5525BE80B7.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

FIXUP - add activities
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_1_image_through_functional_category-DA072AA227724969AE41ECF7BDAA7F91.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_2_images_through_functional_category-F617D5D9F9D045A0B3D3FFE04FA85105.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_6_images_through_functional_category-DA01E28D686943C4869F6A3CB16FA89B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_3_categories_of_images-3B24E59C0019409397A0238553C4E39E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_categories_of_2_images-1B6F2B9A59A64317884FD3F6C446262C.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_categories_of_3_images-6BF36182A7FB47E18CA32EC21B02D5B3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_functional_category_with_an_intruder.activitDB5A88B225644ABC997B86FD0E025443.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_functional_category_without_error-4AD006AAD458451F848DA9D3C0D1D0AD.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_with_an_intruder.activity-7ECDDF1846AC47A8B0BEFF5525BE80B7.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/activities/sort_through_images_without_help-58A898C6E60742BD9ED7BDB2E5AEB265.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

FIXUP - add todo add curriculum details
  Modules/ContentKit/Resources/Content/curriculums/categorization-8873C35690114CBC8C58718F26970994/categorization-8873C35690114CBC8C58718F26970994.curriculum.yml
Due: none

🚸 (LekaApp): Trigger reinforcers on editing carereceiver profile
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ReinforcerPicker/ReinforcerPicker.swift
Due: none

♻️ (LekaApp): Settings - refactor code, improve ux/ui
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView.swift
Due: none

🔥 (LekaApp): Remove uneeded settings section extensions
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView+AccountSection.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView+CredentialsSection.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView+ProfilesSection.swift
Due: none

🌐 (LekaApp): Settings - update localization
  Apps/LekaApp/Resources/Localizable.xcstrings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView+l10n.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

🩹 (GEK): ActivityView - fix title not displaying real title
  Modules/GameEngineKit/Sources/Views/Activity/ActivityView.swift
Due: none

🩹 (DesignKit): Fix Leka Logo bundle access in release mode
  Modules/DesignKit/Sources/Views/LekaLogo.swift
Due: none

modif. Color Bingo
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_1-CBBCDFA8DC8C462794904F6E5E0638AB.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_2-7960FD995EDC4C179A4BA4997E4C5A4F.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_3-E742B4AF67204DA68C08ADEC6126648E.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_4-A7584D692B23422BB12683FA7BE393BE.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_5-651AD9E7F59249EFA3A48F23A78134A2.activity.yml
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_6-EFC7F64F51FD4D68863749C1C278BD1F.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔧 (tuist): Set IDEPreferLogStreaming=YES to fix log error message in release mode
  Tuist/ProjectDescriptionHelpers/Project+App.swift
Due: none

🚸 (LekaApp): AvatarPicker button - reduce tappable area
  Apps/LekaApp/Sources/_NEWCodeBase/Views/EditCaregiverView/EditCaregiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/EditCarereceiverView/EditCarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCaregiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CreateCarereceiverView.swift
Due: none

🏷️ (AccountKit): Add birthdate property to caregiver Type
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver+Init.swift
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver.swift
Due: none

🔊 (AccountKit): Precise targetted collection in Logs
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
Due: none

♻️ (LekaApp): Hide CaregiverPicker back button during SignIn
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CaregiverPicker.swift
Due: none

🔥 (LekaApp): Remove useless instance of RootOwnerViewModel
  Apps/LekaApp/Sources/MainApp.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ConnectionView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/EditCaregiverView/EditCaregiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/ActivitiesView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/CarereceiverView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/CurriculumsView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/NewsView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/RemotesView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/ResourcesView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ProfessionPicker/ProfessionPicker+Tag.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Profiles/CarereceiverAvatarCell.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/ReinforcerPicker/ReinforcerPicker.swift
Due: none

🚸 (LekaApp): Get back to news section on disconnection
  Apps/LekaApp/Sources/_NEWCodeBase/Navigation/Navigation.swift
  Modules/AccountKit/Sources/Authentication/AuthManager.swift
Due: none

🏗️ (ContentKit): Make activity Equatable & Hashable
  Modules/ContentKit/Sources/Activity/Activity.swift
Due: none

🚚 (LekaApp): Move boolean triggers alert to Settings
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/RootOwnerViewModel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Settings/SettingsView.swift
Due: none

Ajout d'activités
  Modules/ContentKit/Resources/Content/activities/standalones/color_bingo_1-CBBCDFA8DC8C462794904F6E5E0638AB.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs #1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs #2-A68EF64659D24004B254C9F924800511.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs #3-2F6BDA819A304526AA40E9573B42C6E3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify -ing verbs with 2 components-AB832F7004D44525B90654D553355E2B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify clean & dirty items-29CF410501F644799C18C9F970C53129.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify colors with 2 components #1-95108BC74D094434AFFC34C74D95AFBC.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify colors with 2 components #2-6302A027A4734264ABB0734A7822C25A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify colors with 2 components #3-DCF74FB8B23A4446A339231D08F85FA6.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify colors-B8964AC4C9B644BEB35DE4B4AD1C5D93.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify familiar nouns with two syllables-353CCBCBA81247389E1086B64912273F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify familiar nouns-AF9ACAC51F4240259050982EC15D0C7A.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify hot & cold items-FDC6A9C523C54A47B40F2C4F1B480581.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify little & big items-9309431C672C45F2946B718BAF0A8D5F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify number quantity-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify objects by function #1-DD1C6FE74232465DBB5B97378AEBB430.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify objects by function #2-6020D9253EE6497A85FA7DE73C1FAEC2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/Identify wet & dry items-525A44C44F154B408244CCD3E57E77EA.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/identify_familiar_nouns_with_one_syllable-49E3191F47824DEFA6011498A1B3A8AF.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/activities/identify_positional_concepts-1E85ED4F09A84B48904467AC40127824.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/receptive_language/receptive_language.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (AccountKit): Update create function to publish a new profile
  Modules/AccountKit/Sources/Database/DatabaseOperations.swift
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none
