Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_content_activities, check_yaml_content_activities_unique_uuid

check_xcstrings_stale_entries:
  name: Check .xcstrings files for stale entries
  description: This hook checks .xcstrings files for stale entries
  entry: python3 Tools/Hooks/check_xcstrings_stale_entries.py
  language: python
  additional_dependencies:
  - pygments

check_xcstrings_unusual_terminators:
  name: Check .xcstrings files for unusual terminators
  description: This hook checks .xcstrings files for unusual terminators
  entry: python3 Tools/Hooks/check_xcstrings_unusual_terminators.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

🩹 (ContentKit): Assets - rename audio files with .activity.asset
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_angry_hortense.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_angry_ladislas.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_angry_lucie.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_disgust_hortense.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_disgust_ladislas.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_disgust_lucie.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_fear_hortense.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_fear_ladislas.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_fear_lucie.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_joy_hortense.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_joy_ladislas.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_joy_lucie.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_sad_hortense.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_sad_ladislas.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/emotion_sound_adult_sad_lucie.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_bird.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_cat.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_chicken.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_cow.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_dog.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_duck.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_fly.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_goat.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_horse.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_pig.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_rooster.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_animal_sheep.activity.asset.mp3
Due: none

🩹 (ContentKit): Fix emotion recognition activities typos
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo_moussa-486C6B3EC7774FB4ADA8DDC8A8C4AC85.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_hugo_zoe-00DCB1EFAF0046BFA2421F4A71F44E98.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna_oscar-731C7519652F44408307FBA3E8353E1E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_louna_zoe-578CA01FC1464855A98A92943A472521.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_drawings_2_oscar_hugo-A60A42C7CC1C4A2096B493D1214B7757.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_3_images_3_types-C21549498D584ECBBE713AD05B4225ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_emotions_generalization_6_images_3_types-6E345E56197B457D8115445A2A3A8B0E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_hortense-C6ED67057F714AD1A4537072F4886B67.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_ladislas-A486DB1DAA344DCDA614952F0C174CDA.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_emotions_pictures_4_lucie-57F83636D7314053A8B734E2D616C057.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🧑‍💻 (hooks): Increase delay to check is file has been updated to 60 min
  Tools/Hooks/modules/content.py
Due: none

🐛 (jtd): Fix activity jtd for DnD choices
  Specs/jtd/activity.jtd.json
Due: none

♻️ (GEK): Add general Bundle for dropzone
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView+1_OneZoneScene.swift
  Modules/GameEngineKit/Sources/Exercises/DragAndDrop/IntoZones/DragAndDropIntoZonesView+2_TwoZonesScene.swift
Due: none

🐛 (GEK): Fix audio extension used for Bundle url of audio files
  Modules/GameEngineKit/Sources/Extensions/Bundle+Path.swift
Due: none

🐛 (GEK): ActionButton+Listen - stop sound on disappear
  Modules/GameEngineKit/Sources/Exercises/ActionButton/ActionButton+Listen.swift
Due: none

✨ (ContentKit): Curriculum - Add Sound Recognition Musical Instruments
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-accordion_orange-013A.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-drum.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-drummer_brown-0139.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-flute_brown-0136.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-guitar_brown-0134.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-harp_brown-0135.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-piano_gray-0138.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-saxophone_yellow-013C.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-violin_brown-013D.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-musical_instrument-xylophone_brown-0137.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_accordion.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_drum.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_flute.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_guitar.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_harp.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_piano.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_sax.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_tambour.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_violon.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/audio/sound_instrument_xylophone.activity.asset.mp3
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_1_image-FA8702A14D4E4792AEFB6158115C1AAD.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_2_images-1032EA5E0C3D421F8AC806CAA8897D97.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_3_images-BA0F2146BD5A420095F82A4C859D0EE8.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_4_images-6259DA1AAB6E4273B684904D4312FB70.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_5_images-94C14E6AA18E4FCA995B00B91103FA79.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_sounds_musical_instruments_drawings_6_images-B691334EF5A743EDAFCFC0701377D84E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/curriculum_recognition_sounds_musical_instruments-6A5EF209D00942F4AEEA4AEC6DAC052A.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/recognition_sounds-musical_instruments.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add Weather Recognition curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/autumn.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/autumn_1.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_cloud_countryside.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_cloud_lake.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_rain_lake.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_rain_town.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_rainbow_mountain.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_snow_lake.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_snow_town.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_storm_countryside.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_sun_countryside.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_sun_desert.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/landscape_wind_countryside.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-cloudygray-010A.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-cold_blue-010F.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-hot_red-010E.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-rainblue-010B.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-rainbow.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-snowgray-0108.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-stormgray-010D.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-sunyellow-0106.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-wind-0109.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/spring.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/spring_1.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/summer.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/summer_1.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/winter.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/winter_1.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_hot_and_cold-18DA1F9028CF447E819507B0A6562F2E.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_2_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_4_images-030525AA798F4E0D8EDAFAF3939471F9.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/curriculum_recognition_weather_and_temperatures-1D8E1AB667DB40B199479D731EF96F2E.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/icons/recognition_weather_and_temperatures.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add Receptive Language actions curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-cat_running_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-cat_sleeping_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-farm-horse_jumping_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-farm-horse_running_brown.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-pets-dog_dachshund_drinking_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-pets-dog_eating_gray.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_crying.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_dancing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_digging.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_drinking.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_eating.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_jumping.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_kicking.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_kissing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_painting.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_playing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_reading.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_running.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_sleeping.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_sliding.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_surfing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-boy_sweeping.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_brushing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_cutting.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_digging.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_drawing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_drinking.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_painting.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_playing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_running.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_sleeping.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-girl_swimming.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-man_digging.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-characters-man_playing.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_1-01BE2C6167514353964A2B9586F20E76.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_2-A68EF64659D24004B254C9F924800511.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_3-2F6BDA819A304526AA40E9573B42C6E3.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_ing_verbs_with_2_components-AB832F7004D44525B90654D553355E2B.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/curriculum_receptive_language_ing_verbs-2B927C344CA94CD993DDB7AC4C7F46FD.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/icons/receptive_language-identifying_actions.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add Basic Needs Recognition curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/drawings-physiological_conditions_ illustrations-physiological_conditions-oscar-urge_to_pee-01E2.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/drawings-physiological_conditions_illustrations-physiological_conditions-oscar-hunger-01E1.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/drawings-physiological_conditions_illustrations-physiological_conditions-oscar-thirst-01DF.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/drawings-physiological_conditions_illustrations-physiological_conditions-oscar_tiredness-01DE.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-meals-glass_iced_water-0171.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-meals-sandwich-0176.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-bathroom-toilet_blue-00BD.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-house-bedroom-bed_blue-01A5.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_1_image-11EFD2C711C14CEBACD244DC9201A0ED.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_2_images-5DBCCB46BA2B4646983BDC7160E03536.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_basic_physiological_needs_drawings_4_images-E06E4960B14047609C48C1E0DD6D61F2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/curriculum_recognition_basic_physiological_needs-B697FEE9EF7946A2B704673FEEAA0824.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/icons/recognition_basic_physiological_needs.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🔇 (hooks): Curriculums - remove logs
  Tools/Hooks/modules/content.py
Due: none

🍱 (ContentKit): Activity - update uuid to avoid duplication
  Modules/ContentKit/Resources/Content/activities/curriculums/recognition_weather_and_temperatures_weather_drawings_2_images-900AB87351824FACB2E289F426056034.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/EmotionRecognition/curriculum_recognition_weather_and_temperatures-1D8E1AB667DB40B199479D731EF96F2E.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🚸 (ContentKit): Update basket activities instruction
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_an_intruder-7ECDDF1846AC47A8B0BEFF5525BE80B7.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_with_several_intruders-88013EBEBE2E4FA6B616CF0B393F2346.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/categorization_sort_through_images_without_error-A3652A06FC4F4E9081E462987106A92A.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (LekaApp): Add PersistentDataManager w/ timeout check & persistence
  Apps/LekaApp/Sources/_NEWCodeBase/PersitantDataManager/PersitantDataManager.swift
Due: none

✨ (AccountKit): Add reset & setWithID to caregiverManager
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

✨ (LekaApp): Reassign profiles after quitting if no timeout
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
Due: none

♻️ (LekaApp): Apply scheme & accentColor when Caregiver is set
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Users/Caregiver/CaregiverPicker.swift
Due: none

✏️ (LekaApp): Fix typo - persistant -> persistent
  Apps/LekaApp/Sources/_NEWCodeBase/PersitantDataManager/PersistentDataManager.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
Due: none

♻️ (AccountKit): Rename setCurrentCaregiver(byID:)
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
  Modules/AccountKit/Sources/Managers/CaregiverManager.swift
Due: none

🚚 (ContentKit x LekaApp): Rename ListView into GridView when its grid
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/AllActivitiesView.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Curriculums/CurriculumsView.swift
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/Views/ActivityGridView.swift
  Modules/ContentKit/Sources/Views/CurriculumGridView.swift
Due: check_xcstrings_stale_entries, check_xcstrings_unusual_terminators

✨ (ContentKit): Add ActivityListView for curriculum
  Apps/LekaApp/Sources/_NEWCodeBase/Views/Activities/ActivitiesView.swift
  Modules/ContentKit/Sources/Views/ActivityListView.swift
Due: none

🧑‍💻 (ContentKit): ActivityListView - add preview w/ sidebar, scrollview
  Modules/ContentKit/Sources/Views/ActivityListView.swift
Due: none

💄 (ContentKit): ActivityList - update style w/ smaller icon, fonts
  Modules/ContentKit/Sources/Views/ActivityListView.swift
Due: none

✨ (ContentKit): Curriculum - Add Receptive Language Positions
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_behind_car.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_behind_table.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_in_car.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_on_table.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_under_car.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-boy_under_table.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-cat_behind_chair.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-cat_on_chair.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-cat_under_chair.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-dog_in_kennel.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-dog_on_kennel.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-doy_behind_kennel.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-girl_in_bed.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-girl_on_bed.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-girl_under_bed.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-toy_in_cupboard.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-toy_on_cupboard.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-positions-toy_under_cupboard.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_positional_concepts_1-1E85ED4F09A84B48904467AC40127824.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/curriculum_receptive_language_identify_positional_concepts-BC1E66BCFB994A76AF09C446407D8ECF.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/icons/receptive_language-positions_and_quantities.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Curriculum - Add Receptive Language Quantities
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_four.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_one.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_three.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-apple_two.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_four.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_one.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_three.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-book_two.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_four.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_one.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_three.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-fork_two.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_four.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_one.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_three.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-lego_two.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_four.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_one.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_three.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-rabbit_two.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_four.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_one.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_three.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-quantity-tshirt_two.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_number_quantity_1-3E6DE6EBA1E646F1AE240012353FD227.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/curriculum_receptive_language_identify_number_quantity-4499A9AFB56B4476969B96CE32F5314C.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add Receptive Language Common Nouns curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-arctic-penguin_yellow-0088.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-forest-bear_brown-005E.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-forest-rabbit_gray-0061.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-forest-wolf_gray-005F.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-insects-butterfly_pink-0095.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-pets-dog_golden_retriever_brown-0052.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-savanna-giraffe_yellow-0081.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-savanna-lion_brown-0082.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-savanna-ostrich_gray-007F.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-savanna-tiger_orange-007B.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-sea-fish_blue-0045.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-animals-sea-turtle_green-0041.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-ingredients-milk_bottle-0165.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-ingredients-salt_shaker-0166.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-meals-birthday_cake-0173.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-meals-cookie-0174.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-foods-meals-cup_of_coffee-0184.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-object-house-blue.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-beach-balloon_red-00E0.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-garden-bucket_green-00B0.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-garden-flower_blue-00B7.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-garden-slide_green-00AF.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-garden-swing_set_green-00B1.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-garden-tree_green-00AD.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-house-bedroom-chair_brown-01A8.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-house-kitchen-spoon_gray-019B.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-school-book_yellow-0131.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-school-pencil_yellow-012E.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-transportation-plane_blue-0122.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-weather-moon_white-0107.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_more_than_two_syllables-AF9ACAC51F4240259050982EC15D0C7A.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_one_syllable-49E3191F47824DEFA6011498A1B3A8AF.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_familiar_nouns_with_two_syllables-353CCBCBA81247389E1086B64912273F.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/curriculum_receptive_language_identity_familiar_nouns-1607BEA72CC14285AB709C567E1BE5E7.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/icons/receptive_language-identifying_common_words.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (ContentKit): Add Receptive Language Function curriculum
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-objects-house-bedroom-toy_lego_red-01AD.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/assets/pictograms-transportation-sailboat_blue-0111.activity.asset.png
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_objects_by_function_1-DD1C6FE74232465DBB5B97378AEBB430.activity.yml
  Modules/ContentKit/Resources/Content/activities/curriculums/receptive_language_identify_objects_by_function_2-6020D9253EE6497A85FA7DE73C1FAEC2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/curriculum_receptive_language_identify_objects_by_function-9B35D447AB6C402DB13BA66E4F7F4E05.curriculum.yml
  Modules/ContentKit/Resources/Content/curriculums/ReceptiveLanguage/icons/receptive_language-identifying_objects_by_functionality.curriculum.icon.png
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

🐛 (LekaApp): Move persistence logic to MainView
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/EditCaregiverLabel.swift
  Apps/LekaApp/Sources/_NEWCodeBase/Views/MainView/MainView.swift
Due: none

🧑‍💻 (tuist): Add TESTFLIGHT_BUILD flag
  Tuist/ProjectDescriptionHelpers/SettingsDictionary+Base.swift
Due: none

🧑‍💻 (tuist): Add PRODUCTION_BUILD flag
  Tuist/ProjectDescriptionHelpers/SettingsDictionary+Base.swift
Due: none

🗃️ (LekaApp): Firestore - handle dev/testflight/prod database
  Apps/LekaApp/Resources/GoogleServiceInfo+DEV.plist
  Apps/LekaApp/Sources/MainApp.swift
Due: none

🗃️ (LekaApp): Add GoogleServiceInfo plist for PROD and TESTFLIGHT
  Apps/LekaApp/Resources/GoogleServiceInfo+PROD.plist
  Apps/LekaApp/Resources/GoogleServiceInfo+TESTFLIGHT.plist
Due: none

👷 (fastlane): Set build type (prod/testflight) for beta_internal/release lanes
  fastlane/Fastfile
Due: none

Path conditions:
  check_xcstrings_stale_entries: any of: .*\.xcstrings
  check_xcstrings_unusual_terminators: any of: .*\.xcstrings
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
