Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings, check_yaml_definitions_avatars, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_definitions_robot_assets, check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

check_xcstrings:
  name: Check .xcstrings files for stale entries and unusual characters
  description: This hook checks .xcstrings files for stale entries and unusual characters
  entry: python3 Tools/Hooks/check_xcstrings.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_avatars:
  name: Check avatars.yml
  description: "This hook checks avatars.yml for:\n  - non unique ids\n  - jtd schema validation\n  - filename and image consistency\nIt also formats the file\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_avatars.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_robot_assets:
  name: Check robot_assets.yml
  description: "This hook checks robot_assets.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_robot_assets.py
  language: python
  additional_dependencies:
  ...

check_yaml_definitions_tags:
  name: Check tags.yml
  description: "This hook checks tags.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_tags.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

✨ (ContentKit): Add Favorite icon to all items title
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/ActivityGridView.swift
  Modules/ContentKit/Sources/Views/ActivityHorizontalListView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumGroupboxView.swift
  Modules/ContentKit/Sources/Views/GamepadGridView.swift
  Modules/ContentKit/Sources/Views/StoryDetailsView.swift
  Modules/ContentKit/Sources/Views/StoryGridView.swift
Due: none

lucie/fix/curriculum generalization fruits and vegetable robot
  Modules/ContentKit/Resources/Content/categories/curriculums.category.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/assets/generalization_fruits_vegetables_robot_photo_vegetable_radish.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/assets/generalization_fruits_vegetables_robot_picto_fruit_grape.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/assets/generalization_fruits_vegetables_robot_picto_fruit_orange.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/assets/generalization_fruits_vegetables_robot_picto_vegetable_mushroom.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/generalization_fruits_robot_1-39780088085F47E0986DD91679B90027.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/generalization_fruits_robot_2-0BBA7068199A4CD385AFEB4FDDE0585E.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/generalization_vegetables_robot_1-4E074C482EA34486A8FF255F6D2B1625.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/generalization_vegetables_robot_2-0029257BE7FB4165AA18E55DD3BCECA2.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85.curriculum.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid

lucie/curriculum/fix assets name
  Modules/ContentKit/Resources/Content/curriculums/curriculum_generalization_fruits_and_vegetables_robot-053E35EB94CF4A1890489E8F2C12CE85/activities/generalization_vegetables_robot_2-0029257BE7FB4165AA18E55DD3BCECA2.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

Add missing icon
  Modules/ContentKit/Resources/Content/curriculums/curriculum_receptive_language_identify_opposites-5B73795D20984208AF07C4686089266E/activities/icons/receptive_language_differentiate.activity.icon.png
Due: none

🚚 (NewGEK): Move Story to NewGEK
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView+PageView+ButtonView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView+PageView+ImageView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView+PageView+PressableImageButton.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView+PageView+TextView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView+PageView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView+l10n.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryViewController.swift
  Modules/GameEngineKit/Sources/_NewSystem/Stories/StoryViewViewModel.swift
Due: none

🚚 (NewGEK): Move Bundle Path extensions
  Modules/GameEngineKit/Sources/_NewSystem/Extensions/Bundle+Path.swift
Due: none

🚚 (NewGEK): Move template models into Models folder
  Modules/GameEngineKit/Sources/_NewSystem/Models/CoordinatorAssociateCategoriesChoiceModel.swift
  Modules/GameEngineKit/Sources/_NewSystem/Models/CoordinatorFindTheRightAnswersChoiceModel.swift
  Modules/GameEngineKit/Sources/_NewSystem/Models/CoordinatorFindTheRightOrderChoiceModel.swift
  Modules/GameEngineKit/Sources/_NewSystem/Models/CoordinatorNoGameplayChoiceModel.swift
Due: none

🚚 (NewGEK): Move all components buttons into Buttons folder
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ActionButtonView+Listen.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ActionButtonView+Observe.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ActionButtonView+Robot.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ActionButtonView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ExerciseInstructionsButton.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/XylophoneTileButtonStyle.swift
Due: none

🧑‍💻 (pre-commit): Find all image duplicates
  Tools/Hooks/check_yaml_content_activities_assets.py
Due: none

💄 (ContentKit): Refactor ListViews with Grid & Table
  Apps/LekaApp/Sources/Views/PersonalLibrary/Library+ActivitiesView.swift
  Modules/ContentKit/Sources/Views/ActivityListView.swift
  Modules/ContentKit/Sources/Views/LibraryActivityListView.swift
  Modules/ContentKit/Sources/Views/StoryListView.swift
Due: none

✨ (ContentKit): Add Favorite Button to all Menus
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumGroupboxView.swift
  Modules/ContentKit/Sources/Views/StoryDetailsView.swift
Due: none

✨ (LekaApp): Add Favorites Category to Sidebar
  Apps/LekaApp/Sources/Navigation/Navigation+Category.swift
  Apps/LekaApp/Sources/Views/Categories/CategoryLibraryView.swift
  Apps/LekaApp/Sources/Views/MainView/MainView+CategoryLabel.swift
  Apps/LekaApp/Sources/Views/MainView/MainView.swift
  Apps/LekaApp/Sources/Views/PersonalLibrary/Favorites/Library+FavoriteActivitiesView.swift
  Apps/LekaApp/Sources/Views/PersonalLibrary/Favorites/Library+FavoriteStoriesView.swift
  Apps/LekaApp/Sources/Views/PersonalLibrary/Favorites/Library+FavoritesView.swift
Due: none

✨ (ContentKit): Add Favorite icon to all items
  Modules/ContentKit/Sources/Views/ActivityDetailsView.swift
  Modules/ContentKit/Sources/Views/ActivityGridView.swift
  Modules/ContentKit/Sources/Views/ActivityHorizontalListView.swift
  Modules/ContentKit/Sources/Views/CurriculumDetailsView.swift
  Modules/ContentKit/Sources/Views/CurriculumGroupboxView.swift
  Modules/ContentKit/Sources/Views/GamepadGridView.swift
  Modules/ContentKit/Sources/Views/StoryDetailsView.swift
  Modules/ContentKit/Sources/Views/StoryGridView.swift
Due: none

⚡️ (pre-commit): Improve activity check performance
  .pre-commit-config.yaml
  Tools/Hooks/check_yaml_content_activities.py
  Tools/Hooks/check_yaml_content_activities_assets.py
  Tools/Hooks/modules/utils.py
Due: none

⚡️ (pre-commit): Improve curriculum check performance
  Tools/Hooks/check_yaml_content_curriculums.py
Due: none

⚡️ (pre-commit): Improve story check performance
  Tools/Hooks/check_yaml_content_stories.py
Due: none

⚡️ (pre-commit): Improve all hooks for performance and code quality
  Tools/Hooks/check_yaml_content_activities_assets.py
  Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  Tools/Hooks/check_yaml_content_curriculums_unique_uuid.py
  Tools/Hooks/check_yaml_content_stories.py
  Tools/Hooks/check_yaml_content_stories_unique_uuid.py
  Tools/Hooks/check_yaml_definitions_authors.py
  Tools/Hooks/check_yaml_definitions_avatars.py
  Tools/Hooks/check_yaml_definitions_professions.py
  Tools/Hooks/check_yaml_definitions_robot_assets.py
  Tools/Hooks/check_yaml_definitions_skills.py
  Tools/Hooks/check_yaml_definitions_tags.py
  Tools/Hooks/modules/uuid_checker.py
Due: none

🎨 (skills): Fix formatting (pre-commit run)
  Modules/ContentKit/Resources/Content/definitions/skills.yml
Due: check_yaml_definitions_skills

🔖 (LekaApp): Bump version to v1.16.4
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
Due: none

💫 (RobotKit): Expereriment on tablet reinforcers capacity
  Modules/RobotKit/Examples/RobotKitExample/Sources/Views/RobotControlView.swift
  Modules/RobotKit/Sources/Robot+Lights.swift
Due: none

⚗️ (Robot): Try using DispatchSourceTimer
  Modules/RobotKit/Examples/RobotKitExample/Sources/Views/RobotControlView.swift
  Modules/RobotKit/Sources/Robot+Lights.swift
  Modules/RobotKit/Sources/Robot.swift
Due: none

📌 (mise): Upgrade tuist to v4.43.0
  .mise.toml
Due: none

⬆️ (tuist): Upgrade Package.swift dependencies
  Tuist/Package.swift
Due: none

⬆️ (tuist): Upgrade Package.swift dependencies
  Tuist/Package.resolved
Due: none

🧑‍💻 (NewGEK): Give LekaColor & ReinforcerBar buttons their own file
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/Gamepad/Gamepad+ColorPadView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ColorLekaButtonLabel.swift
  Modules/GameEngineKit/Sources/_NewSystem/Views/Buttons/ReinforcerBarButton.swift
Due: none

🍱 (ContentKit): Add ColorMediator icon
  Modules/ContentKit/Resources/Content/activities/standalones/icons/color_mediator.activity.icon.png
Due: none

✨ (ContentKit): Add ColorMediator activity
  Modules/ContentKit/Resources/Content/activities/standalones/color_mediator-2CE6B5E98AFD45E0B2CD87727DB6D5C2.activity.yml
  Modules/ContentKit/Resources/Content/categories/educational_games.category.yml
  Modules/ContentKit/Sources/Exercise/Exercise+Interface.swift
  Modules/ContentKit/Sources/Exercise/Exercise.swift
  Specs/jtd/activity.jtd.json
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

✨ (GEK): Add ColorMediator components views
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView+ActionButton.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView+ActionType.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView+ColorBar.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView+ColorSelector.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView+l10n.swift
Due: check_xcstrings

✨ (GEK): Add new ColorMediator activity
  Modules/GameEngineKit/Sources/OldSystem/Views/Activity/ActivityView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView.swift
Due: none

🚚 (NewGEK): Rename ColorCoach in ColorMediator
  Modules/GameEngineKit/Resources/Localizable.xcstrings
  Modules/GameEngineKit/Sources/OldSystem/Views/Activity/ActivityView.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorCoach/ColorCoachView+l10n.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorMediator/ColorMediatorView+ActionButton.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorMediator/ColorMediatorView+ActionType.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorMediator/ColorMediatorView+ColorBar.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorMediator/ColorMediatorView+ColorSelector.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorMediator/ColorMediatorView+l10n.swift
  Modules/GameEngineKit/Sources/_NewSystem/Interfaces/Specialized/ColorMediator/ColorMediatorView.swift
Due: check_xcstrings

Path conditions:
  check_xcstrings: any of: .*\.xcstrings
  check_yaml_definitions_avatars: any of: avatars.yml
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_definitions_robot_assets: any of: robot_assets.yml
  check_yaml_definitions_tags: any of: tags.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums_unique_uuid: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_stories: any of: .*\.story\.yml and \.(yaml|yml)$
  check_yaml_content_stories_unique_uuid: any of: .*\.story\.yml and \.(yaml|yml)$
