Repository leka/ios-monorepo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_xcstrings, check_yaml_definitions_avatars, check_yaml_definitions_professions, check_yaml_definitions_authors, check_yaml_definitions_skills, check_yaml_definitions_robot_assets, check_yaml_definitions_tags, check_yaml_content_activities, check_yaml_content_activities_unique_uuid, check_yaml_content_curriculums, check_yaml_content_curriculums_unique_uuid, check_yaml_content_stories, check_yaml_content_stories_unique_uuid

check_xcstrings:
  name: Check .xcstrings files for stale entries and unusual characters
  description: This hook checks .xcstrings files for stale entries and unusual characters
  entry: python3 Tools/Hooks/check_xcstrings.py
  language: python
  additional_dependencies:
  - pygments

check_yaml_definitions_avatars:
  name: Check avatars.yml
  description: "This hook checks avatars.yml for:\n  - non unique ids\n  - jtd schema validation\n  - filename and image consistency\nIt also formats the file\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_avatars.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_professions:
  name: Check professions.yml
  description: "This hook checks professions.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_professions.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_authors:
  name: Check authors.yml
  description: "This hook checks authors.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_authors.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_skills:
  name: Check skills.yml
  description: "This hook checks skills.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_skills.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_definitions_robot_assets:
  name: Check robot_assets.yml
  description: "This hook checks robot_assets.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_robot_assets.py
  language: python
  additional_dependencies:
  ...

check_yaml_definitions_tags:
  name: Check tags.yml
  description: "This hook checks tags.yml for:\n  - non unique ids\n  - jtd schema validation\nIt also formats the file and sorts the entries\n"
  entry: python3 Tools/Hooks/check_yaml_definitions_tags.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities:
  name: Check activity.yml files
  description: "This hook checks activity.yml files for:\n  - uuid and filename consistency\n  - jtd schema validation\n"
  entry: python3 Tools/Hooks/check_yaml_content_activities.py
  language: python
  additional_dependencies:
  - ruamel.yaml

check_yaml_content_activities_unique_uuid:
  name: Check activity.yml files for unique uuid
  description: 'This hook checks activity.yml files for unique uuid
  
    '
  entry: python3 Tools/Hooks/check_yaml_content_activities_unique_uuid.py
  language: python
  pass_filenames: false

♻️ (GEKExample): Update GEKExample to display a full activity
  Modules/ContentKit/Examples/ContentKitExample/Sources/ContentView.swift
  Modules/ContentKit/Examples/ContentKitExample/Sources/Navigation.swift
  Modules/ContentKit/Examples/ContentKitExample/Sources/YAMLExercises/YAMLActivities.swift
Due: none

🐛 (NewGEK): Fix handleIncorrectChoice check
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/Coordinators/DnDGridWithZonesCoordinator+AssociateCategories.swift
Due: none

🚸 (LekaAPp): Start activity list number by one, not zero
  Apps/LekaApp/Sources/Views/ContentItems/ActivityListItem.swift
Due: none

🚨 (license): Add missing license
  Modules/ContentKit/Examples/ContentKitExample/Resources/new_gek_activity.yml
Due: none

🐛 (ContentKitExample): Remove category from not categorized choices
  Modules/ContentKit/Examples/ContentKitExample/Resources/new_gek_activity.yml
Due: none

✨ (NewGEK): Add Reinforcer and ActivityEnd Lottie views
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Lottie/FailureView.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Lottie/LottieAnimation+l10n.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Lottie/LottieAnimation.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Lottie/ReinforcerView.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Lottie/SuccessView.swift
Due: check_xcstrings

✨ (NewGEK): Add Continue Button
  Modules/ContentKit/Resources/Localizable.xcstrings
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Buttons/ContinueButton.swift
Due: check_xcstrings

✨ (NewGEK): Add Reinforcers and ActivityEnd to ActivityView
  Modules/ContentKit/Examples/ContentKitExample/Sources/YAMLExercises/YAMLActivities.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
Due: none

🐛 (NewGEK): Fix group index decrement order
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
Due: none

🔥 (NewGEK): Remove deprecated reinforcer triggers
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/Coordinators/DnDGridWithZonesCoordinator+OpenPlay.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/MagicCard/Coordinators/MagicCardCoordinator+FindtheRightAnswers.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+OpenPlay.swift
Due: none

🍱 (curriculums) fix activities names
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/recognition_alphabet_letters_1_2-176042E5B8A14C58B2BD7AD9114960A1.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/recognition_alphabet_letters_1_4-CF4CEEEA19A84D8F99F90405870CE5A3.activity.yml
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/recognition_alphabet_letters_1_6-404A8AE6A4A44DD8A523DB2C522293AB.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

♻️ (NewGEK): Replace Exercise.action by NewExerciseAction
  Modules/ContentKit/Examples/ContentKitExample/Sources/Exercises/MagicCardExercises.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/Grid/Coordinators/DnDGridCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/Grid/DnDGridUIModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/Grid/DnDGridViewModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/Coordinators/DnDGridWithZonesCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/Coordinators/DnDGridWithZonesCoordinator+OpenPlay.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/DnDGridWithZonesUIDropzoneModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/DnDGridWithZonesUIModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/DnDGridWithZonesViewModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/OneToOne/Coordinators/DnDOneToOneCoordinator+FindTheRightOrder.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/OneToOne/DnDOneToOneUIModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/OneToOne/DnDOneToOneViewModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/MagicCard/Coordinators/MagicCardCoordinator+FindtheRightAnswers.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/MagicCard/Coordinators/MagicCardGameplayCoordinatorProtocol.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/MagicCard/MagicCardView.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/MagicCard/MagicCardViewViewModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+AssociateCategories.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+FindTheRightAnswers.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+FindTheRightOrder.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/Coordinators/TTSCoordinator+OpenPlay.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/TTSUIModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/TTS/TTSViewViewModel.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Buttons/ActionButtonView+Robot.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Buttons/ActionButtonView.swift
Due: none

✨ (NewGEK): Add actions argument to coordinators
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/CurrentExerciseCoordinator.swift
Due: none

💄 (NewGEK): Improve activities spacing, padding & frame
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/CurrentExerciseCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/Grid/DnDGridView.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/DnDGridWithZonesView.swift
Due: none

💄 (NewGEK): Update choices & dropzone position
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Interfaces/DnD/GridWithZones/BaseScene/DnDGridWithZonesBaseScene.swift
Due: none

🚸 (LekaApp): Add library/favorite buttons to the toolbar as well
  Apps/LekaApp/Sources/Views/DetailsView/ActivityDetailsView.swift
  Apps/LekaApp/Sources/Views/DetailsView/CurriculumDetailsView.swift
Due: none

🍱 (contentkit): Update letter capital assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_1-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_a.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_1-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_e.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_1-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_i.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_1-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_m.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_1-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_o.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_1-C157BAD4AA044EE89A941B1D868FFEB7/activities/assets/letters_capital_u.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_2-7297DE7F33F840AEBDB9D61942C1EAC9/activities/assets/letters_capital_l.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_2-7297DE7F33F840AEBDB9D61942C1EAC9/activities/assets/letters_capital_n.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_2-7297DE7F33F840AEBDB9D61942C1EAC9/activities/assets/letters_capital_r.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_2-7297DE7F33F840AEBDB9D61942C1EAC9/activities/assets/letters_capital_s.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_2-7297DE7F33F840AEBDB9D61942C1EAC9/activities/assets/letters_capital_t.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_3-6285451C82354C86910B5F3773E7D8E7/activities/assets/letters_capital_b.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_3-6285451C82354C86910B5F3773E7D8E7/activities/assets/letters_capital_c.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_3-6285451C82354C86910B5F3773E7D8E7/activities/assets/letters_capital_d.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_3-6285451C82354C86910B5F3773E7D8E7/activities/assets/letters_capital_p.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_3-6285451C82354C86910B5F3773E7D8E7/activities/assets/letters_capital_v.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_4-AFEA06A2B0D44C6381EC7F0556A580AE/activities/assets/letters_capital_f.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_4-AFEA06A2B0D44C6381EC7F0556A580AE/activities/assets/letters_capital_g.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_4-AFEA06A2B0D44C6381EC7F0556A580AE/activities/assets/letters_capital_h.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_4-AFEA06A2B0D44C6381EC7F0556A580AE/activities/assets/letters_capital_j.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_4-AFEA06A2B0D44C6381EC7F0556A580AE/activities/assets/letters_capital_y.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_5-EB625985B0CD4510A1DCC8CECE1996C4/activities/assets/letters_capital_k.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_5-EB625985B0CD4510A1DCC8CECE1996C4/activities/assets/letters_capital_q.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_5-EB625985B0CD4510A1DCC8CECE1996C4/activities/assets/letters_capital_w.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_5-EB625985B0CD4510A1DCC8CECE1996C4/activities/assets/letters_capital_x.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabet_letters_sounds_5-EB625985B0CD4510A1DCC8CECE1996C4/activities/assets/letters_capital_z.activity.asset.png
Due: none

🍱 (ContentKit): Update alphabetical order assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_a.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_b.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_c.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_d.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_e.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_f.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_g.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_h.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_i.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_j.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_k.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_l.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_m.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_n.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_o.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_p.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_q.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_r.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_s.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_t.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_u.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_v.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_w.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_x.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_y.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_alphabetical_order-F9A2F6E76AE449999B1F76AA7E2D2978/activities/assets/alphabetical_order_z.activity.asset.png
Due: none

🍱 (ContentKit): Update letter capital block assets
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/assets/letters_capital_block_a.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/assets/letters_capital_block_e.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/assets/letters_capital_block_i.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/assets/letters_capital_block_m.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_1-27A711E56A4140C4A69FCAF0E4CD5410/activities/assets/letters_capital_block_o.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_2-A711CBB12FC0428CB0ACF6F1904A49AD/activities/assets/letters_capital_block_l.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_2-A711CBB12FC0428CB0ACF6F1904A49AD/activities/assets/letters_capital_block_n.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_2-A711CBB12FC0428CB0ACF6F1904A49AD/activities/assets/letters_capital_block_r.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_2-A711CBB12FC0428CB0ACF6F1904A49AD/activities/assets/letters_capital_block_s.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_2-A711CBB12FC0428CB0ACF6F1904A49AD/activities/assets/letters_capital_block_t.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_3-ECDA68596E6A44198E66285455162A3B/activities/assets/letters_capital_block_b.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_3-ECDA68596E6A44198E66285455162A3B/activities/assets/letters_capital_block_c.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_3-ECDA68596E6A44198E66285455162A3B/activities/assets/letters_capital_block_d.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_3-ECDA68596E6A44198E66285455162A3B/activities/assets/letters_capital_block_p.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_3-ECDA68596E6A44198E66285455162A3B/activities/assets/letters_capital_block_v.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_4-23997B52E2C544C8AB1FA6F37F6C5409/activities/assets/letters_capital_block_f.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_4-23997B52E2C544C8AB1FA6F37F6C5409/activities/assets/letters_capital_block_g.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_4-23997B52E2C544C8AB1FA6F37F6C5409/activities/assets/letters_capital_block_h.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_4-23997B52E2C544C8AB1FA6F37F6C5409/activities/assets/letters_capital_block_j.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_4-23997B52E2C544C8AB1FA6F37F6C5409/activities/assets/letters_capital_block_y.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_5-2B6FFBF984D14AAEA7BDAD5A5456A67A/activities/assets/letters_capital_block_k.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_5-2B6FFBF984D14AAEA7BDAD5A5456A67A/activities/assets/letters_capital_block_q.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_5-2B6FFBF984D14AAEA7BDAD5A5456A67A/activities/assets/letters_capital_block_w.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_5-2B6FFBF984D14AAEA7BDAD5A5456A67A/activities/assets/letters_capital_block_x.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_recognition_alphabet_letters_5-2B6FFBF984D14AAEA7BDAD5A5456A67A/activities/assets/letters_capital_block_z.activity.asset.png
Due: none

🔖 (LekaApp): Bump version to v2.0.0
  Apps/LekaApp/Project.swift
  fastlane/release/LekaApp/metadata/en-US/release_notes.txt
  fastlane/release/LekaApp/metadata/fr-FR/release_notes.txt
Due: none

📌 (fastlane): Upgrade to v2.227.2 + bundle update
  Gemfile
  Gemfile.lock
Due: none

🐛 (fastlane): Fix age rating configuration
  fastlane/release/LekaApp/metadata/app_rating_config.json
  fastlane/release/LekaUpdater/metadata/app_rating_config.json
Due: none

🔧 (LekaApp): Fix copyright year in fastlane
  fastlane/release/LekaApp/metadata/copyright.txt
  fastlane/release/LekaUpdater/metadata/copyright.txt
Due: none

📌 (fastlane): Upgrade to v2.228.0 + bundle update
  Gemfile
  Gemfile.lock
Due: none

🏷️ (AccountKit): Update Caregiver Type with isAdmin:Bool property
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver+Init.swift
  Modules/AccountKit/Sources/Models/CaregiverModel/Caregiver.swift
Due: none

✨ (AccountKit): Add new Email update logic in AuthManager
  Modules/AccountKit/Sources/Authentication/AuthManager.swift
Due: none

✨ (LekaApp): Add ChangeEmailView for re-auth before change
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/ChangeEmailView+l10n.swift
  Apps/LekaApp/Sources/Views/ChangeEmailView.swift
Due: check_xcstrings

✨ (LekaApp): Add EnterNewEmailView + l10n
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/ChangeEmailView.swift
  Apps/LekaApp/Sources/Views/EnterNewEmailView+l10n.swift
  Apps/LekaApp/Sources/Views/EnterNewEmailView.swift
Due: check_xcstrings

✨ (AccountKit): Update CaregiverMngr to use new isAdmin property
  Modules/AccountKit/Sources/Authentication/AuthManager.swift
  Modules/AccountKit/Sources/Managers/Caregivers/CaregiverManager.swift
Due: none

🔊 (AccountKit): Add change Email/password logs
  Modules/AccountKit/Sources/Authentication/AuthManager.swift
  Modules/AnalyticsKit/Sources/Analytics/AnalyticsManager+Auth.swift
  Modules/AnalyticsKit/Sources/Analytics/AnalyticsManager.swift
Due: none

✨ (LekaApp): Use new Email updating method
  Apps/LekaApp/Sources/Views/EnterNewEmailView.swift
Due: none

💄 (LekaApp): Add decorator icons to re-auth views headers
  Apps/LekaApp/Sources/Views/ChangeEmailView.swift
  Apps/LekaApp/Sources/Views/ForgotPasswordView.swift
  Apps/LekaApp/Sources/Views/ReAuthenticationView.swift
Due: none

✨ (LekaApp): Update SettingView to use the Email change logic
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/Settings/SettingsView+l10n.swift
  Apps/LekaApp/Sources/Views/Settings/SettingsView.swift
Due: check_xcstrings

✨ (LekaApp): Update ChangeEmail-related Views to Observable
  Apps/LekaApp/Sources/Views/ChangeEmailView.swift
  Apps/LekaApp/Sources/Views/EnterNewEmailView.swift
  Apps/LekaApp/Sources/Views/Settings/SettingsView.swift
Due: none

✨ (LekaApp): Update user experience for email change
  Apps/LekaApp/Resources/l10n/Localizable.xcstrings
  Apps/LekaApp/Sources/Views/ConfirmChangeEmailView+l10n.swift
  Apps/LekaApp/Sources/Views/ConfirmChangeEmailView.swift
  Apps/LekaApp/Sources/Views/EnterNewEmailView+l10n.swift
  Apps/LekaApp/Sources/Views/EnterNewEmailView.swift
  Apps/LekaApp/Sources/Views/Settings/SettingsView.swift
  Modules/AccountKit/Sources/Authentication/AuthManager.swift
  Modules/AccountKit/Sources/Authentication/AuthManagerViewModel.swift
Due: check_xcstrings

🍱 (ContentKit): Replace fish by dog in order by size
  Modules/ContentKit/Resources/Content/curriculums/curriculum_order_by_size_different_animals-3158E58D908E43D29967B04D29C21912/activities/assets/order_by_size_different_animals_dog.activity.asset.png
  Modules/ContentKit/Resources/Content/curriculums/curriculum_order_by_size_different_animals-3158E58D908E43D29967B04D29C21912/activities/order_by_size_different_animals-FDA3A9A0616B4A7382CA67529B4C76E3.activity.yml
Due: check_yaml_content_activities, check_yaml_content_activities_unique_uuid

💩 (EXPERIMENT): Not working with publishers
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Coordinators/ActivityCoordinator.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityProgressBar.swift
  Modules/ContentKit/Sources/GameEngine/_NewSystem/Views/Activity/NewActivityView.swift
Due: none

📈 (ci): Remove workflow analytics
  .github/workflows/ci-linter-license_checker.yml
  .github/workflows/ci-linter-pre_commit_hooks.yml
  .github/workflows/ci-linter-swiftformat.yml
  .github/workflows/ci-linter-swiftlint.yml
  .github/workflows/ci-tuist-build-github_hosted.yml
  .github/workflows/ci-tuist-build.yml
  .github/workflows/ci-tuist-unit_tests.yml
Due: none

Path conditions:
  check_xcstrings: any of: .*\.xcstrings
  check_yaml_definitions_avatars: any of: avatars.yml
  check_yaml_definitions_professions: any of: professions.yml
  check_yaml_definitions_authors: any of: authors.yml
  check_yaml_definitions_skills: any of: skills.yml
  check_yaml_definitions_robot_assets: any of: robot_assets.yml
  check_yaml_definitions_tags: any of: tags.yml
  check_yaml_content_activities: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_activities_unique_uuid: any of: .*\.activity\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_curriculums_unique_uuid: any of: .*\.curriculum\.yml and \.(yaml|yml)$
  check_yaml_content_stories: any of: .*\.story\.yml and \.(yaml|yml)$
  check_yaml_content_stories_unique_uuid: any of: .*\.story\.yml and \.(yaml|yml)$
